@media (min-width:767px) and (max-width:1080px) {
    .headerLog {
        margin-left: 10px
    }
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 36px;
        right: 50px
    }
    .select-button.calen {
        border: 0!important
    }
    .create-employee .select-button {
        right: 4px
    }
    .last-child-button .select-button button,
    .select-button,
    .select-button.calen button {
        border: 1px solid #ee1610!important
    }
    .create-employee .last-child-button .select-button {
        right: 40px;
        top: 0;
        border: 0!important
    }
    .view-employee .select-button {
        border: 0!important;
        top: 23px;
        right: 37px
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        border: none !important;
        top: -1px;
        right: 40px;
    }
    .select-button.minusIcon {
        right: 26px;
    }
    .create-employee .last-child-button .select-button button.btn.addIcon {
        padding: 4px 10px!important
    }
    .switch-field label {
        width: 48%
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%
    }
    .form-horizontal .control-label {
        text-align: left;
        font-weight: 700!important
    }
    .create-project .select-button.calen {
        right: 0
    }
    .mob-width-48 {
        width: 48%;
        margin: 2px 0
    }
    .headerLeftContainer {
        width: 80%
    }
}

@media (min-width:990px) and (max-width:1100px) {
    .select-button.calen,
    .view-employee .select-button {
        top: 0
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        right: -10px !important;
    }
    .select-button.minusIcon {
        right: -24px !important;
    }
}

@media (min-width:320px) and (max-width:767px) {
    table,
    tbody,
    th,
    thead,
    tr {
        display: block;
        border-top: none!important
    }
    td {
        display: block;
        border: 0!important;
        position: relative;
        padding-left: 48%!important;
        text-align: left!important
    }
    .table,
    .table-responsive {
        table-layout: fixed;
        border: 0!important
    }
    thead tr {
        position: absolute;
        display: none;
        font: 400 12px "Open Sans", sans-serif
    }
    tr {
        margin: 0 auto 10px;
        border-left: 1px solid #ccc!important;
        border-right: 1px solid #ccc!important;
        border-bottom: 1px solid #ccc!important
    }
    td:before {
        position: absolute;
        left: 0%;
        width: 45%!important;
        white-space: nowrap
    }
    tbody {
        padding: 0;
        margin: 0
    }
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        white-space: initial
    }
    #page-wrap,
    .dropdown-menu thead tr th[colspan="6"],
    tbody,
    tr {
        width: 100%
    }
    .table-responsive {
        border: 0 solid #ccc!important
    }
    .SELECTIMG1 {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #333;
        font: 400 12px "Open Sans", sans-serif;
        background: url(../images/down-arrow.jpg) no-repeat right;
        padding-left: 5px;
        margin: 6px 0
    }
    .linkedText {
        color: #ee1610
    }
    .activeText:before,
    .linkedText:before {
        content: '';
        position: absolute;
        height: 0;
        background: 0 0;
        bottom: 0
    }
    .customerTable td:nth-of-type(1):before {
        content: "Customer Type "
    }
    .customerTable td:nth-of-type(2):before {
        content: "Status "
    }
    .customerTable td:nth-of-type(3):before {
        content: "Action "
    }
    .employeeTable td:nth-of-type(1):before {
        content: "Employee Type "
    }
    .employeeTable td:nth-of-type(2):before {
        content: "Status "
    }
    .employeeTable td:nth-of-type(3):before {
        content: "Action "
    }
    .timeOffType td:nth-of-type(1):before {
        content: "Time off Type"
    }
    .timeOffType td:nth-of-type(2):before {
        content: "Status "
    }
    .timeOffType td:nth-of-type(3):before {
        content: "Action "
    }
    .invoiceType td:nth-of-type(1):before {
        content: "Invoice Type"
    }
    .invoiceType td:nth-of-type(2):before {
        content: "Status"
    }
    .invoiceType td:nth-of-type(3):before {
        content: "Action"
    }
    .viewBill td:nth-of-type(1):before {
        content: "Bill Number"
    }
    .viewBill td:nth-of-type(2):before {
        content: "Amount"
    }
    .viewBill td:nth-of-type(3):before {
        content: "Currency Type"
    }
    .viewBill td:nth-of-type(4):before {
        content: "Bill Date"
    }
    .viewBill td:nth-of-type(5):before {
        content: "Due Date"
    }
    .viewBill td:nth-of-type(6):before {
        content: "Comment"
    }
    .viewBill td:nth-of-type(7):before {
        content: "Status"
    }
    .invoiceTerm td:nth-of-type(1):before {
        content: "Invoice Term"
    }
    .invoiceTerm td:nth-of-type(2):before {
        content: "Status "
    }
    .invoiceTerm td:nth-of-type(3):before {
        content: "Action "
    }
    .paymentTerm td:nth-of-type(1):before {
        content: "Payment Term"
    }
    .paymentTerm td:nth-of-type(2):before {
        content: "No of days"
    }
    .paymentTerm td:nth-of-type(3):before {
        content: "Status "
    }
    .paymentTerm td:nth-of-type(4):before {
        content: "Action "
    }
    .paymentTerm td:nth-of-type(1):before,
    .paymentTerm td:nth-of-type(2):before,
    .paymentTerm td:nth-of-type(3):before,
    .paymentTerm td:nth-of-type(4):before {
        color: #333;
        font-size: 12px;
        font-weight: 500
    }
    .invoicePaymentTerm td:nth-of-type(1):before {
        content: "Invoice Payment Term"
    }
    .invoicePaymentTerm td:nth-of-type(2):before {
        content: "Status "
    }
    .invoicePaymentTerm td:nth-of-type(3):before {
        content: "Action "
    }
    .EmployeeRole td:nth-of-type(1):before {
        content: "Employee Role"
    }
    .EmployeeRole td:nth-of-type(2):before {
        content: "Status "
    }
    .EmployeeRole td:nth-of-type(3):before {
        content: "Action "
    }
    .country td:nth-of-type(1):before {
        content: "Country Name"
    }
    .country td:nth-of-type(2):before {
        content: "Country Code"
    }
    .country td:nth-of-type(3):before {
        content: "Calling Code"
    }
    .country td:nth-of-type(4):before {
        content: "Currency Type"
    }
    .country td:nth-of-type(5):before {
        content: "Status "
    }
    .country td:nth-of-type(6):before {
        content: "Action "
    }
    .workLocation td:nth-of-type(1):before {
        content: "Country Name"
    }
    .workLocation td:nth-of-type(2):before {
        content: "State Name"
    }
    .workLocation td:nth-of-type(3):before {
        content: "Work location"
    }
    .workLocation td:nth-of-type(4):before {
        content: "Status "
    }
    .workLocation td:nth-of-type(5):before {
        content: "Action "
    }
    .department td:nth-of-type(1):before {
        content: "Department"
    }
    .department td:nth-of-type(2):before {
        content: "Status "
    }
    .department td:nth-of-type(3):before {
        content: "Action "
    }
    .vendor td:nth-of-type(1):before {
        content: "Vendor Type"
    }
    .vendor td:nth-of-type(2):before {
        content: "Status "
    }
    .vendor td:nth-of-type(3):before {
        content: "Action "
    }
    .state td:nth-of-type(1):before {
        content: "Country Name"
    }
    .state td:nth-of-type(2):before {
        content: "State Name"
    }
    .state td:nth-of-type(3):before {
        content: "Status "
    }
    .state td:nth-of-type(4):before {
        content: "Action "
    }
    .viewCustomer td:nth-of-type(1):before {
        content: "Customer Code"
    }
    .viewCustomer td:nth-of-type(2):before {
        content: "Customer Name"
    }
    .viewCustomer td:nth-of-type(3):before {
        content: "Customer Type"
    }
    .viewCustomer td:nth-of-type(4):before {
        content: "Status "
    }
    .viewVendor td:nth-of-type(1):before {
        content: "Vendor Code"
    }
    .viewVendor td:nth-of-type(2):before {
        content: "Vendor Name"
    }
    .viewVendor td:nth-of-type(3):before {
        content: "Vendor Type"
    }
    .viewVendor td:nth-of-type(4):before {
        content: "Status "
    }
    .invitedUserTable td:nth-of-type(1):before {
        content: "Email"
    }
    .invitedUserTable td:nth-of-type(2):before {
        content: "User Type"
    }
    .invitedUserTable td:nth-of-type(3):before {
        content: "Sent By"
    }
    .invitedUserTable td:nth-of-type(4):before {
        content: "Sent On"
    }
    .invitedUserTable td:nth-of-type(5):before {
        content: "Status "
    }
    .userListTable td:nth-of-type(1):before {
        content: "User Name"
    }
    .userListTable td:nth-of-type(2):before {
        content: "Email"
    }
    .userListTable td:nth-of-type(3):before {
        content: "User Type(Role)"
    }
    .userListTable td:nth-of-type(4):before {
        content: "User Since"
    }
    .userListTable td:nth-of-type(5):before {
        content: "Employee"
    }
    .userListTable td:nth-of-type(6):before {
        content: "Status "
    }
    .view-offer td:nth-of-type(1):before {
        content: "Candidate Name "
    }
    .view-offer td:nth-of-type(2):before {
        content: "Designation "
    }
    .view-offer td:nth-of-type(3):before {
        content: "CTC "
    }
    .view-offer td:nth-of-type(4):before {
        content: "Offer Date "
    }
    .view-offer td:nth-of-type(5):before {
        content: "Joining Date "
    }
    .view-offer td:nth-of-type(6):before {
        content: "Action "
    }
    .view-requirement td:nth-of-type(1):before {
        content: "Project "
    }
    .view-requirement td:nth-of-type(2):before {
        content: "Min - Max Experience "
    }
    .view-requirement td:nth-of-type(3):before {
        content: "Job Description "
    }
    .view-requirement td:nth-of-type(4):before {
        content: "Customer "
    }
    .view-project td:nth-of-type(1):before {
        content: "Project Name "
    }
    .view-project td:nth-of-type(2):before {
        content: "Project Code "
    }
    .view-project td:nth-of-type(3):before {
        content: "Customer Name "
    }
    .view-project td:nth-of-type(4):before {
        content: "Status "
    }
    .view-project td:nth-of-type(5):before {
        content: "Action "
    }
    .viewLead td:nth-of-type(1):before {
        content: "Lead Name "
    }
    .viewLead td:nth-of-type(2):before {
        content: "Contact "
    }
    .viewLead td:nth-of-type(3):before {
        content: "BDM "
    }
    .viewLead td:nth-of-type(4):before {
        content: "Status "
    }
    .viewFollowup td:nth-of-type(1):before {
        content: "Contact Person "
    }
    .viewFollowup td:nth-of-type(2):before {
        content: "Contact "
    }
    .viewFollowup td:nth-of-type(3):before {
        content: "Date Of Contact "
    }
    .viewFollowup td:nth-of-type(4):before {
        content: "Follow-up Date "
    }
    .viewFollowup td:nth-of-type(5):before {
        content: "Scope Of Work "
    }
    .viewFollowup td:nth-of-type(6):before {
        content: "Comment "
    }
    .viewFollowup td:nth-of-type(7):before {
        content: "Updated By "
    }
    .viewFollowupContact td:nth-of-type(1):before {
        content: "Contact Person"
    }
    .viewFollowupContact td:nth-of-type(2):before {
        content: "Designation "
    }
    .viewFollowupContact td:nth-of-type(3):before {
        content: "Contact"
    }
    .viewLatestFollowup td:nth-of-type(1):before {
        content: "Lead Name "
    }
    .viewLatestFollowup td:nth-of-type(2):before {
        content: "Date of Contact "
    }
    .viewLatestFollowup td:nth-of-type(3):before {
        content: "Follow-up Date "
    }
    .viewLatestFollowup td:nth-of-type(4):before {
        content: "Contact Person "
    }
    .viewLatestFollowup td:nth-of-type(5):before {
        content: "Contact "
    }
    .viewLatestFollowup td:nth-of-type(6):before {
        content: "Comment "
    }
    .viewLatestFollowup td:nth-of-type(7):before {
        content: "Status "
    }
    .viewProjectCost td:nth-of-type(1):before {
        content: "Project Name "
    }
    .viewProjectCost td:nth-of-type(2):before {
        content: "BDM "
    }
    .viewProjectCost td:nth-of-type(3):before {
        content: "Project Manager "
    }
    .viewProjectCost td:nth-of-type(4):before {
        content: "Project Cost "
    }
    .viewProjectCost td:nth-of-type(5):before {
        content: "Comment "
    }
    .viewSalesReport td:nth-of-type(1):before {
        content: "BDM "
    }
    .viewSalesReport td:nth-of-type(2):before {
        content: "Target "
    }
    .viewSalesReport td:nth-of-type(3):before {
        content: "Q1 "
    }
    .viewSalesReport td:nth-of-type(4):before {
        content: "Q2 "
    }
    .viewSalesReport td:nth-of-type(5):before {
        content: "Q3 "
    }
    .viewSalesReport td:nth-of-type(6):before {
        content: "Q4 "
    }
    .viewSalesReport tr:last-child td:before {
        content: ""
    }
    .EmployeeRole td:nth-of-type(1):before,
    .EmployeeRole td:nth-of-type(2):before,
    .EmployeeRole td:nth-of-type(3):before,
    .country td:nth-of-type(1):before,
    .country td:nth-of-type(2):before,
    .country td:nth-of-type(3):before,
    .country td:nth-of-type(4):before,
    .country td:nth-of-type(5):before,
    .country td:nth-of-type(6):before,
    .customerTable td:nth-of-type(1):before,
    .customerTable td:nth-of-type(2):before,
    .customerTable td:nth-of-type(3):before,
    .department td:nth-of-type(1):before,
    .department td:nth-of-type(2):before,
    .department td:nth-of-type(3):before,
    .employeeTable td:nth-of-type(1):before,
    .employeeTable td:nth-of-type(2):before,
    .employeeTable td:nth-of-type(3):before,
    .invitedUserTable td:nth-of-type(1):before,
    .invitedUserTable td:nth-of-type(2):before,
    .invitedUserTable td:nth-of-type(3):before,
    .invitedUserTable td:nth-of-type(4):before,
    .invitedUserTable td:nth-of-type(5):before,
    .invoicePaymentTerm td:nth-of-type(1):before,
    .invoicePaymentTerm td:nth-of-type(2):before,
    .invoicePaymentTerm td:nth-of-type(3):before,
    .invoiceType td:nth-of-type(1):before,
    .invoiceType td:nth-of-type(2):before,
    .invoiceType td:nth-of-type(3):before,
    .state td:nth-of-type(1):before,
    .state td:nth-of-type(2):before,
    .state td:nth-of-type(3):before,
    .timeOffType td:nth-of-type(1):before,
    .timeOffType td:nth-of-type(2):before,
    .timeOffType td:nth-of-type(3):before,
    .userListTable td:nth-of-type(1):before,
    .userListTable td:nth-of-type(2):before,
    .userListTable td:nth-of-type(3):before,
    .userListTable td:nth-of-type(4):before,
    .userListTable td:nth-of-type(5):before,
    .userListTable td:nth-of-type(6):before,
    .vendor td:nth-of-type(1):before,
    .vendor td:nth-of-type(2):before,
    .vendor td:nth-of-type(3):before,
    .view-offer td:nth-of-type(1):before,
    .view-offer td:nth-of-type(2):before,
    .view-offer td:nth-of-type(3):before,
    .view-offer td:nth-of-type(4):before,
    .view-offer td:nth-of-type(5):before,
    .view-offer td:nth-of-type(6):before,
    .view-project td:nth-of-type(1):before,
    .view-project td:nth-of-type(2):before,
    .view-project td:nth-of-type(3):before,
    .view-project td:nth-of-type(4):before,
    .view-project td:nth-of-type(5):before,
    .view-requirement td:nth-of-type(1):before,
    .view-requirement td:nth-of-type(2):before,
    .view-requirement td:nth-of-type(3):before,
    .view-requirement td:nth-of-type(4):before,
    .viewBill td:nth-of-type(1):before,
    .viewBill td:nth-of-type(2):before,
    .viewBill td:nth-of-type(3):before,
    .viewBill td:nth-of-type(4):before,
    .viewBill td:nth-of-type(5):before,
    .viewBill td:nth-of-type(6):before,
    .viewBill td:nth-of-type(7):before,
    .viewCustomer td:nth-of-type(1):before,
    .viewCustomer td:nth-of-type(2):before,
    .viewCustomer td:nth-of-type(3):before,
    .viewCustomer td:nth-of-type(4):before,
    .viewFollowup td:nth-of-type(1):before,
    .viewFollowup td:nth-of-type(2):before,
    .viewFollowup td:nth-of-type(3):before,
    .viewFollowup td:nth-of-type(4):before,
    .viewFollowup td:nth-of-type(5):before,
    .viewFollowup td:nth-of-type(6):before,
    .viewFollowup td:nth-of-type(7):before,
    .viewLatestFollowup td:nth-of-type(1):before,
    .viewLatestFollowup td:nth-of-type(2):before,
    .viewLatestFollowup td:nth-of-type(3):before,
    .viewLatestFollowup td:nth-of-type(4):before,
    .viewLatestFollowup td:nth-of-type(5):before,
    .viewLatestFollowup td:nth-of-type(6):before,
    .viewLatestFollowup td:nth-of-type(7):before,
    .viewFollowupContact td:nth-of-type(1):before,
    .viewFollowupContact td:nth-of-type(2):before,
    .viewFollowupContact td:nth-of-type(3):before,
    .viewProjectCost td:nth-of-type(1):before,
    .viewProjectCost td:nth-of-type(2):before,
    .viewProjectCost td:nth-of-type(3):before,
    .viewProjectCost td:nth-of-type(4):before,
    .viewProjectCost td:nth-of-type(5):before,
    .viewLead td:nth-of-type(1):before,
    .viewLead td:nth-of-type(2):before,
    .viewLead td:nth-of-type(3):before,
    .viewLead td:nth-of-type(4):before,
    .viewVendor td:nth-of-type(1):before,
    .viewVendor td:nth-of-type(2):before,
    .viewVendor td:nth-of-type(3):before,
    .viewVendor td:nth-of-type(4):before,
    .workLocation td:nth-of-type(1):before,
    .workLocation td:nth-of-type(2):before,
    .workLocation td:nth-of-type(3):before,
    .workLocation td:nth-of-type(4):before,
    .workLocation td:nth-of-type(5):before,
    .viewSalesReport td:nth-of-type(1):before,
    .viewSalesReport td:nth-of-type(2):before,
    .viewSalesReport td:nth-of-type(3):before,
    .viewSalesReport td:nth-of-type(4):before,
    .viewSalesReport td:nth-of-type(5):before,
    .viewSalesReport td:nth-of-type(6):before {
        color: #333;
        font-size: 12px;
        font-weight: 500;
        border-right: 1px solid #ccc;
        line-height: 2.9;
        top: 0;
        padding-left: 10px;
        height: 100%;
        text-align: center
    }
    .resp_menus {
        display: block!important
    }
    .deskTopView {
        display: none
    }
    .leftMenuParent {
        float: none;
        z-index: 999;
        position: absolute;
        height: 100%
    }
    .leftImg_logo {
        border: 0;
        width: auto
    }
    .headerLog {
        width: 20px
    }
    .reps_margin_btm {
        margin-bottom: 30px
    }
    .respadd0 {
        padding: 0
    }
    .configmenu {
        margin: 5px;
        background: 0 0
    }
    .configmenu ul {
        width: 100%;
        border: 1px #000 #999;
        text-align: center;
        display: grid
    }
    .configmenu ul li {
        z-index: 100;
        width: 100%
    }
    .configmenu ul li:not(.init) {
        float: left;
        display: none;
        background: #f1f2f3
    }
    .configmenu ul li:not(.init):hover,
    ul li.selected:not(.init) {
        background: #f1f2f3
    }
    .configmenu li.init {
        cursor: pointer;
        border: 1px solid #ddd
    }
    .configmenu li {
        text-align: center
    }
    .configmenu ul li:not(.init):hover {
        background: #ee1618;
        color: #fff
    }
    .dropDownIcon {
        color: #ee1618;
        z-index: 99;
        top: 13px;
        position: absolute;
        float: right;
        text-align: right;
        left: 95%
    }
    .resLeftText {
        text-align: left
    }
    .configmenu a#submit {
        z-index: 1
    }
    .reslineheight0 {
        line-height: 0
    }
    .reslineheight2pt6 {
        line-height: 2.6
    }
    .inputClass {
        padding: 11px
    }
    input.break {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px
    }
    .mob-pad-right-15 {
        padding-right: 15px
    }
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 36px;
        right: 50px
    }
    .select-button.project-calen {
        right: 18px
    }
    .view-bill .select-button {
        right: 54px
    }
    .create-employee .select-button,
    .red-icon ul.dropdown-menu {
        right: 18px
    }
    .create-employee .last-child-button .select-button {
        right: 57px;
        border: 0!important
    }
    .select-button.calen {
        border: 0!important
    }
    .last-child-button .select-button button,
    .select-button,
    .select-button.calen button {
        border: 1px solid #ee1610!important
    }
    .formfooterbtns {
        display: block;
        margin: 20px
    }
    .detailoperationSection {
        padding: 10px 12px
    }
    .mob-dashboard {
        margin-top: 20px!important
    }
    .mob-dashboard .paddleft {
        padding-left: 15px
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%
    }
    .mob-dashboard .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
        flex: 0 0 95%
    }
    .roles-page .panel-body {
        padding: 0!important
    }
    .mob-pad-0 {
        padding: 0
    }
    .role-name {
        float: right;
        width: 50%;
        padding: 0
    }
    .dropdown-menu table,
    .moment-picker table {
        display: table
    }
    .dropdown-menu thead,
    .moment-picker thead {
        display: table-header-group
    }
    .dropdown-menu tr,
    .moment-picker tr {
        display: table-row
    }
    .dropdown-menu td,
    .dropdown-menu th,
    .moment-picker td,
    .moment-picker th {
        display: table-cell!important
    }
    .dropdown-menu td,
    .moment-picker td {
        padding: 0!important;
        text-align: center!important
    }
    .dropdown-menu tbody,
    .dropdown-menu thead tr,
    .moment-picker tbody,
    .moment-picker thead tr {
        display: table;
        position: relative
    }
    .dropdown-menu thead tr {
        margin-bottom: 0
    }
    .dropdown-menu thead tr:last-child th {
        padding: 5px 0
    }
    .switch-field label {
        width: 48%
    }
    .dropdown .glyphicon-th {
        margin-right: 5px;
        margin-top: 7px;
    }
    .mob-no-mar {
        margin: 0!important
    }
    .todo-container {
        padding-right: 15px!important
    }
    .open>.dropdown-menu {
        margin: 12px 9px;
    }
    .form-horizontal .control-label {
        text-align: left;
        font-weight: 700!important
    }
    .mob-width-48 {
        width: 48%;
        margin: 2px 0
    }
    .select-button.plusIcon {
        top: -1px;
        right: 56px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: 1px solid #ee1610;
        padding: none !important;
    }
    .customDropDown.status.width50p {
        width: 100%;
    }
    .select-button.minusIcon {
        right: 40px;
        top: 0px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: none !important;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .rightContainer {
        margin: 0
    }
    .configdatasectionparent {
        padding: 20px 5px
    }
    td {
        font-size: 12px
    }
    .btn {
        padding: 5px 4px!important
    }
    .activeBtn,
    .defaultBtn {
        padding: 5px 10px!important
    }
    .searchSection {
        display: table;
        width: 100%
    }
    .searchSectionLeft {
        width: 100%;
        position: relative
    }
    .pagination>li>a {
        font-size: 10px;
        padding: 6px 9px
    }
    .pageTitleParent {
        margin: 40px 10px
    }
    .srchBtn {
        padding: 6px;
        width: 116px
    }
    .innerdivContainer {
        padding: 0
    }
    .card-body {
        padding: 10px 0
    }
    .mobpadding10px {
        padding: 10px
    }
    .mobpaddingTopBtm10px {
        padding: 10px 0
    }
    .mrg10px {
        margin: 10px!important
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%
    }
    .mob-no-mar {
        margin: 0!important
    }
    .customDropDown label {
        line-height: 1.5
    }
}
