@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
html {
    position: relative
}

.login,
body,
html {
    width: 100%;
    height: 100%
}

body {
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: inline-table;
    padding-right: 0!important
}

form {
    margin: 15px auto;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.login-header {
    padding: 20px
}

.login {
    background-image: url(../images/login-page.png)!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    /*float: left;*/
    /*display: table;*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    overflow: auto
}

.loginParentDiv {
    width: 99vw;
    height: 99vh;
}

.login_page {
    /*display: table-cell;
    vertical-align: middle*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.wrapper_log {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px 5px;
    background: #2f4050
}

.login-title {
    color: #fff;
    margin: 10px auto 20px
}

.login-col {
    padding: 0 30px
}

.input-group.col-xs-12 {
    background: #fff
}

#email_icon.f-icon {
    background: url(../images/download.png) no-repeat 15px center
}

.iconized {
    border: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    width: calc(100% - 40px)!important;
    font-size: 15px
}

.dropdown {
    display: block;
    padding: 5px 15px !important;
}

.dropdown button {
    padding: 0 !important;
}

.dropdown .btn:focus,
.dropdown .btn:active:focus,
.dropdown .btn.active:focus {
    outline: none;
}

.form-control {
    height: 40px;
    border-radius: 0
}

.f-icon {
    height: 40px;
    width: 40px!important;
    float: left;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

#password_icon.f-icon {
    background: url(../images/down.png) no-repeat 15px center
}

.login-botttom-txt {
    color: #fff;
    float: left;
    text-align: justify;
    margin-bottom: 20px
}

.resetPswBtn {
    color: #ee1610;
    text-decoration: none;
    cursor: pointer
}

.white {
    color: #fff
}

.reset_msg {
    color: #fff;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 8px
}

.leftMenuParent {
    float: left;
    width: 280px;
    background: #2f4050
}

.rightParentDiv {
    float: right;
    width: 100%
}

.rightContainer {
    margin: 46px;
    padding-top: 8px
}

.back_clr {
    background-color: #f9f9f9;
    color: #ccc
}

.back_clr:active,
.back_clr:hover,
.back_clr:hover .btn {
    color: #585858!important
}

.config_fld li {
    display: inline-block!important;
    padding-left: 30px
}

.config_fld {
    float: right
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    background-color: #666;
    color: #fff;
    padding: 0!important
}

.navbar-top-links .dropdown-user li {
    cursor: pointer
}

.open>.dropdown-menu {
    margin: 12px 16px
}

.row {
    margin: 0!important
}

.PADD {
    padding: 10px 0
}

.top-padding {
    margin-top: -25px
}

.PADDRIHT15 {
    padding-right: 15px
}

.PADDLEFT9 {
    padding-left: 9px!important
}

.imgspc {
    margin-right: -30px;
    padding: 3px
}

.message_box {
    margin-right: -13px
}

.name {
    color: #ee1610;
    margin-right: -26px
}

.btn.active,
.btn:active {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)!important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)!important
}

.menu_list,
.menu_list:hover {
    right: 0;
    left: auto;
    padding: 0!important
}

.menu_list>li>a:focus,
.menu_list>li>a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    border-left: 6px solid #ee1610;
    color: #ee1610;
    padding: 4px 0 4px 5px;
    cursor: pointer
}

.menu_list li a {
    min-height: 0;
    padding: 10px 5px
}

.BORDBOTTOM {
    border-bottom: 1px solid #ccc
}

.btn:active,
.btn:focus,
button:focus {
    outline: 0
}

.activeBtn.btn:active,
.activeBtn.btn:focus {
    color: #ee1610;
    outline: none;
    background-color: #fff
}

.dashbordMenusChildDiv {
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    background: #f9f9f9;
    border: 1px solid #ccc
}

.margin_top {
    margin-top: 30px
}

.headerheight {
    height: 60px;
    border-bottom: 1PX solid #e8e8e8
}

.dropdown-menu li {
    display: inline-block!important;
    padding-left: 0!important;
    width: 100%;
    font-size: 12px!important
}

.dropdown-menu>li>a {
    padding: 4px 0 4px 11px;
    font-size: 12px!important
}

.dropdown-menu {
    margin: 19px 24px;
    min-width: 204px!important;
    border-radius: 0!important;
    font-size: 12px!important
}

.leftImg_logo {
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    height: 60px;
    border-right: 1px solid #e8e8e8;
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.leftImg_logo img {
    margin-top: 6px
}

.leftMenus {
    color: #fff;
    padding: 14px 10px;
    font-size: 17px!important;
    width: 100%;
    top: 0
}

.leftMenus:hover,
.leftSubMenus:hover {
    border-left: 6px solid #ee1610;
    background: #f9f9f9;
    color: #ee1610
}

.leftMenus:hover {
    cursor: pointer;
    padding-left: 4px
}

.leftSubMenus {
    color: #fff;
    font-size: 12px;
    padding: 10px 10px 10px 55px;
    cursor: pointer;
    -webkit-transition: .7s border-left ease-in-out;
    transition: .7s border-left ease-in-out
}

.leftSubMenus:hover {
    padding-left: 49px
}

.PADDRT30 {
    padding-right: 30px
}

.PADDRT15 {
    padding-right: 15px
}

.btn {
    padding: 5px 15px!important;
    background-color: transparent;
    border-radius: 0!important;
    font-weight: 300!important
}

.pageContainer {
    position: relative;
    width: 100%;
    height: 100%
}

.deskTopView {
    display: block
}

.resp_menus {
    display: none!important
}

.footer {
    background-color: #585858;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    opacity: .9
}

.parentContainer {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    align-content: stretch;
    flex-flow: column;
}

.col_pdg {
    padding: 0!important
}

.configmenu,
.configmenu1 {
    padding: 0!important;
    height: 100%;
    background: #f1f2f3
}

.configmenu ul,
.configmenu1 ul {
    padding: 0!important;
    margin: 0
}

.configmenu li,
.configmenu1 li {
    text-align: right;
    list-style: none;
    border-right: 1px solid #ccc;
    padding: 10px;
    font-size: 12px
}

.configmenu li:hover,
.configmenu1 li:hover {
    background: #fff
}

.configdatasectionparent {
    padding: 25px;
    height: 100%
}

.nav-tabs {
    border-bottom: 1px solid #585858!important
}

.activeclass_li {
    border: 1px solid #ddd!important;
    border-right: none!important;
    color: #000;
    background: #fff
}

td,
th {
    border: 1px solid #ccc!important
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
    border-top: 1px solid #ccc!important
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ccc!important;
    font-weight: 500;
    text-align: center!important
}

.modal-header {
    background: #2f4050!important;
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-title {
    color: #fff
}

.btn-group-sm>.btn,
.btn-sm {
    border-radius: 0!important
}

.opacity1px {
    opacity: 1
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none!important
}

.block_overlay,
.spinner {
    position: fixed;
    left: 0;
    top: 0
}

.block_overlay {
    z-index: 99999999;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    width: 100%;
    height: 100%
}

.spinner {
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px
}

.spinner>div {
    background-color: #ee1610!important;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        -webkit-transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

.PADD0:nth-of-type(1):before {
    content: ""!important
}

.TABLEIMG {
    border-bottom: none!important;
    top: 6px
}

.container-fluid {
    padding: 0!important
}

.pageparentdiv {
    margin: 40px;
    position: relative;
    background: #fff;
    font-size: 12px
}

.inputClass {
    width: 99%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    box-shadow: unset;
}

.inputClass p,
.modal-body p {
    color: red
}

input:focus {
    outline: 0!important
}

.operationRightDiv {
    float: right!important;
    margin: 10px 0
}

.configmenurow .operationRightDiv,
.users .operationRightDiv {
    margin: 0
}

.activeBtn,
.defaultBtn {
    border: 1px solid #ee1610;
    color: #ee1610;
    background-color: #fff
}

.activeBtn:hover {
    color: #fff;
    background: #ee1610
}

.defaultBtn {
    border: 1px solid #2f4050;
    color: #2f4050;
    padding: 5px 10px
}

.defaultBtn:hover {
    color: #fff;
    background: #2f4050
}

.margin5 {
    margin: 10px!important
}

.margin10 {
    margin: 10px 0!important
}

.actionIcon {
    padding: 0 13px
}

.actionIcon:hover,
.activeText:hover,
.deleteIcon:hover {
    color: #ee1610
}

.actionIcon,
.activeText,
.switch-field label:hover {
    cursor: pointer
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    background: #f1f2f3!important
}

.nav-tabs>li>a {
    margin-right: 0!important;
    border-bottom: 1px solid #585858;
    color: #000;
    border-radius: 0!important
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #585858;
    color: #fff
}

.nav-tabs>li.active>a {
    border: 1px solid #585858;
    border-bottom-color: transparent
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #ee1610!important;
    cursor: default
}

#menu2 {
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
    border-bottom: 1px solid #585858
}

.logBtn {
    background: #ee1610;
    color: #fff
}

.logBtn:focus,
.logBtn:hover {
    color: #fff!important
}

.pagination {
    margin: 0!important
}

.modelText {
    text-align: center
}

.modal-open {
    overflow: auto
}

.ng-modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8
}

.ng-modal-dialog {
    z-index: 10000;
    position: fixed;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 80px #000;
    box-shadow: 4px 4px 80px #000
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: center
}

.modal-dialog {
    top: 10%
}

.modal-backdrop {
    background-color: #000
}

.infoMsg {
    text-align: center;
    color: #ee1610
}

.paymentIntNmr {
    padding: 5px 0
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #585858!important;
    border-color: #585858!important;
    color: #fff!important
}

.pagination>li>a,
.pagination>li>span {
    color: #585858!important
}

.table>thead {
    width: 30%!important
}

.table {
    table-layout: fixed;
    border: 1px solid #ccc!important
}

.createEmployee label {
    float: right;
    color: #585858;
    font-size: 12px;
    font-weight: 300;
    padding: 8px 0
}

.createEmployee input {
    margin: 0 0 11px;
    width: 50%;
    padding: 5px;
    border: 1ps solid #999;
    float: left
}

.createEmployee select {
    width: 50%;
    margin: 0 2px 10px;
    padding: 5px;
    float: left;
    color: #999
}

.createEmployee textarea {
    color: #999;
    width: 50%;
    float: left;
    margin: 0 0 10px
}

.reqStar {
    color: red;
    margin-left: 2px
}

.male_btn {
    width: 25%!important;
    margin-right: -4px!important;
    color: #999
}

.female_btn,
.male_btn,
.switch-field label {
    background-color: #fff;
    border: 1px solid #ccc
}

.female_btn {
    width: 25%!important;
    margin-right: 2px!important;
    color: #999
}

.female_btn:hover,
.male_btn:hover {
    background-color: #585858;
    color: #fff
}

.nav-pills>li>a {
    border-radius: 0!important;
    padding: 5px 0!important
}

a {
    color: #999
}

.switch-field input {
    position: absolute!important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    border: 0;
    overflow: hidden;
    width: 25%
}

.switch-field label {
    float: left;
    display: inline-block;
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    padding: 0;
    margin-right: 2px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 25%
}

.switch-field input:checked+label {
    background-color: #ee1610;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #ee1610
}

.addIcon {
    display: table;
    padding: 10px;
    background: #fff;
    margin-top: 5px
}

.viewEmployee {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4f5256;
    border: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 8px;
    padding: 16px
}

.form-group {
    margin-bottom: 20px
}

.editIcon {
    padding: 10px;
    font-size: 20px
}

.addState,
.editIcon {
    float: right
}

.addState,
.dynamicInputfield {
    margin: 10px 0
}

.dynamicInputContainer {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.srchBtn {
    padding: 6px;
    vertical-align: bottom;
    margin-right: -5px
}

.gridActionBtn {
    line-height: 1.5;
    vertical-align: bottom;
    top: 0
}

.custom-invite-bt {
    padding: 6px 12px 6px 14px;
    background-color: green;
    border: 1px solid green
}

.text-muted {
    color: #000!important;
    padding: 2px 0 0 5px
}

.card-heading {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    background: #f1f2f3
}

.card-body {
    position: relative;
    padding: 20px
}

.pencilEdit {
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px;
    cursor: pointer
}

.form-group1 {
    padding: 5px 0 0 20px;
    margin-top: 48px
}

.selectWidth {
    width: 65%
}

.selectWidth1 {
    width: 25%
}

.marnmin5 {
    margin-top: -5px
}

.decline,
.save {
    border: 1px solid #ccc;
    padding: 7px;
    color: #fff
}

.save {
    background: green
}

.decline {
    background: #ee1610
}

.pull-right {
    float: right!important;
    margin: -3px!important
}

.card {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

label {
    font-weight: 300!important
}

.role-padding {
    padding: 10px
}

.role-select1 {
    width: 50%;
    float: left
}

.role-select2 {
    width: 50%;
    float: right
}

.btn-success.btn-outline {
    color: #5cb85c
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s
}

.role-btn {
    padding: 5px 15px!important;
    border-radius: 0!important;
    font-size: 12px!important;
    font-weight: 300!important;
    margin-top: -7px
}

.panel-heading {
    padding: 15px!important
}

th.role-table {
    background-color: #ccc
}

#nav ul.sub-nav {
    display: none
}

#nav ul.visible {
    display: block
}

.role-margin-right {
    margin-right: 3px!important
}

.role-dash-div {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    background-color: #f1f2f3
}

.role-dashContainer {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.role-dash-ul {
    padding-left: 0;
    list-style: none
}

.role-dash-li {
    padding: 8px;
    list-style: none;
    border: 1px solid #fff
}

.inputWidth {
    width: 75%;
    height: 39px;
    margin-left: 1px;
    line-height: 2!important;
    margin-top: 5px;
    margin-right: 4px
}

.input {
    padding: 7px
}

.inputWeb {
    padding: 7px 0;
    display: table;
    color: #428bca
}

.passwordResetPage {
    background-image: url(../images/login-page.png)!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    overflow: auto
}

.passwordReset {
    display: table-cell;
    vertical-align: middle
}

.inuptHead {
    text-align: left;
    color: #fff;
    padding: 10px 0
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle!important;
    word-wrap: break-word
}

.labelHead {
    padding: 16px 0;
    text-align: right
}

.panel-body {
    padding: 50px!important
}

.form-control:focus {
    border-color: #ccc!important;
    outline: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.wrapper_log1 {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 60px 5px;
    background: #2f4050;
    color: #fff
}

.logContinue a:hover,
a:focus {
    color: #ee1610;
    text-decoration: underline
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0
}

.lineheight2pt6 {
    line-height: 2.6
}

.formfooterbtns {
    float: right;
    margin: 10px
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

.visibilityhidden {
    visibility: hidden
}

.errorMsg {
    margin: 5px;
    color: red
}

.backgroundNone {
    background: 0 0!important
}

.btmborder {
    border-bottom: 1px solid #e9682e!important
}

.bordernone {
    border: 0!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    resize: none;
    cursor: not-allowed
}

.editSelectOptions {
    border: 1px solid #999;
    padding: 13px 10px;
    margin: 5px 0;
    width: 80%
}

.pageTitleParent,
.timeInput input,
input[type=number] {
    border: 1px solid #ccc
}

.pageTitletextContainer {
    background: #f1f2f3;
    padding: 10px;
    border-bottom: 1px solid #ddd
}

.innerdivContainer {
    padding: 15px
}

.red-icon ul.dropdown-menu table,
.width100p {
    width: 100%
}

.SelectOptions {
    border: 1px solid #999;
    padding: 12px 10px;
    margin: 5px 0;
    width: 100%
}

.noneditfeild {
    padding-left: 20px
}

.formContainer {
    display: table;
    width: 100%
}

.padd0 {
    padding: 0
}

.modal-content {
    border-radius: 0
}

.paddright {
    padding-right: 0
}

.paddleft {
    padding-left: 0
}

.container {
    display: inline-block;
    cursor: pointer
}

.menuIcons {
    color: #ccc;
    font-size: 25px!important
}

.menuIcons:hover {
    color: #585858
}

.headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.headerHeading {
    line-height: 3;
    margin: 0 10px;
    color: #ee1610;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px
}

.toggleMenuContainer {
    display: table
}

.headerLog {
    margin-left: 22px
}

.bodyContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    height: calc(100% - 57px)
}

.hideMenu,
.showHidenMenu {
    width: 0;
    transition: all .2s ease-in;
    -webkit-transition: all 1s ease-in;
    visibility: hidden
}

.showHidenMenu {
    width: 280px;
    visibility: visible
}

.headerRight {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px
}

.dashboardHeader {
    padding-top: 10px;
    padding-bottom: 10px
}

.dashboardIcon {
    font-size: 25px;
    color: #ee1610
}

.dashboardText {
    font-size: 15px;
    line-height: 2.4
}

.dashboardData {
    background-color: #fff;
}

select:focus {
    border-color: #ccc!important;
    outline: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.createEditSelectOptions {
    border: 1px solid #999;
    padding: 8px 10px;
    margin: 5px 0;
    width: 80%
}

.capitalizeText {
    text-transform: capitalize
}

.detailoperationSection {
    width: 100%;
    display: inline-block
}

.activeText,
.linkedText {
    position: relative
}

.activeText:before,
.linkedText:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #ee1610;
    bottom: 6px;
    -webkit-transition: .7s all ease-in-out;
    transition: .7s all ease-in-out
}

.activeText:before,
.bottom0 {
    bottom: 0
}

.underline-bottom-5.activeText:before {
    bottom: 5px
}

.linkedText:hover {
    cursor: pointer;
    color: #ee1610
}

.activeText:hover:before,
.linkedText:hover:before {
    width: 20px
}

.lineheight4 {
    line-height: 3
}

::-moz-selection {
    background: #ee1610;
    color: #fff
}

::selection {
    background: #ee1610;
    color: #fff
}

.datePickerIcon {
    float: right;
    margin-right: 6px;
    position: absolute;
    z-index: 2;
    color: #ee1610
}

.mrgTop5 {
    margin-top: 5px
}

.linheight2pt7 {
    line-height: 2.7
}

.line-height-3 {
    line-height: 3
}

.line-height-4 {
    line-height: 4
}

.pad-10 {
    padding: 10px!important
}

.pad-right-0 {
    padding-right: 0
}

.pad-top-7 {
    padding-top: 7px
}

.text-middle {
    text-align: center!important
}

.flex-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.flex-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc
}

.roles-page .panel-body {
    padding-bottom: 10px!important
}

.red-icon .addIcon {
    padding: 7px 12px;
    font-size: 20px;
    border: 0
}

.red-icon .btn.addIcon {
    padding: 5px 10px!important;
    color: #ee1610;
    border-color: #ee1610;
    margin-left: 0
}

.red-icon ul.dropdown-menu {
    margin: 0;
    padding: 0;
    right: 5px
}

.red-icon .btn:hover {
    background-color: #ee1610;
    color: #fff;
    border-color: #ee1610
}

.red-icon .btn.active,
.red-icon .btn:active,
.red-icon .btn:focus {
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)!important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .125)!important;
    color: #ee1610;
    border-color: #ee1610, background-color: #fff;
}

.red-icon .defaultBtn.btn:hover {
    background-color: #2f4050;
    border-color: #2f4050
}

.red-icon .defaultBtn.btn:active,
.red-icon .defaultBtn.btn:focus {
    background-color: #fff;
    border-color: #2f4050;
    color: #2f4050;
}

.red-icon ul.dropdown-menu li table:active,
.red-icon ul.dropdown-menu li table:focus {
    outline: transparent auto 0
}

.operationRightDiv {
    text-align: right
}

.headerLeftContainer {
    width: 50%
}

.red-back {
    background-color: red
}

.dis-block {
    display: block
}

.menuText {
    vertical-align: text-bottom;
    padding-left: 5px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif
}

.loginErrorMsg {
    color: #ee1610;
    margin: 20px
}

.resetErrorMsg {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 0
}

.dropdown-menu td button span,
.saptaColor {
    color: #ee1610
}

.customDropDown {
    position: relative
}

.customDropDown .dropDownUl {
    background-color: #fff;
    position: absolute;
    -webkit-padding-start: 0;
    padding-left: 0;
    margin-top: -5px;
    z-index: 9;
    width: 99%;
    max-height: 140px;
    height: auto;
    overflow-y: auto
}

.customDropDown .dropDownUl.width100p {
    width: 100%
}

.customDropDown .dropDownUl li {
    list-style: none;
    color: #585858;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1111;
    background-color: #f1f2f3
}

.customDropDown .dropDownUl li input[type="text"] {
    color: red;
    border: none;
}

.customDropDown .dropDownUl li:first-child {
    border-top: 1px solid #ccc
}

.selectCountryLabel .glyphicon.glyphicon-chevron-down {
    font-weight: 100;
    top: 5px;
    color: #ccc;
    font-size: smaller
}

.customDropDown .dropDownUl li:hover {
    background-color: #ee1610;
    color: #fff;
    cursor: pointer
}

.selectCountryLabel {
    border: 1px solid #ccc;
    width: 99%;
    padding: 10px;
    top: 5px
}

.pos-rel {
    position: relative
}

.selectdemoBasicUsage md-input-container {
    margin-right: 10px
}

textarea,
textarea:active,
textarea:hover {
    outline: 0!important
}

.selectCountryLabel.bordernone {
    padding: 0
}

.selectCountryLabel.backgroundNone {
    width: 100%
}

.mar-top-5 {
    margin-top: 5px
}

.dropdown-menu td button.active {
    background-color: #ee1610!important
}

.dropdown-menu td button {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent
}

.dropdown-menu td button:hover {
    background-color: #fff!important;
    color: #ee1610!important;
    border: 1px solid
}

.dropdown-menu td {
    border: 0!important
}

.dropdown-menu td:first-child {
    border: 0 solid #ccc!important
}

.dropdown-menu td button.active span {
    color: #fff!important
}

.dropdown-menu td button.active:hover span {
    color: #ee1610!important
}

.dropdown-menu td.btn-default {
    border-color: transparent
}

.dropdown-menu thead tr th {
    border: 0 solid transparent!important
}

.role-dash-div [type=checkbox] {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 111;
    opacity: 0;
    margin: -1px 0 0 -10px
}

.role-dash-div [type=checkbox]:checked+label,
.role-dash-div [type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    padding-top: 5px
}

.role-dash-div [type=checkbox]:checked+label::before,
.role-dash-div [type=checkbox]:not(:checked)+label::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 2em;
    height: 2em;
    border: 1px solid #ccc;
    background: #fff
}

.role-dash-div [type=checkbox]:checked+label::after,
.role-dash-div [type=checkbox]:not(:checked)+label::after {
    content: '✔';
    position: absolute;
    top: 5px;
    left: -22px;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: .8;
    color: #999;
    -webkit-transition: all .2s;
    transition: all .2s
}

.role-dash-div [type=checkbox]:not(:checked)+label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.role-dash-div [type=checkbox]:checked+label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.role-dash-li [type=checkbox] {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 111;
    opacity: 0;
    margin: 0 0 0 -4px
}

.role-dash-li [type=checkbox]:checked+label,
.role-dash-li [type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 5px
}

.role-dash-li [type=checkbox]:checked+label::before,
.role-dash-li [type=checkbox]:not(:checked)+label::before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    width: 2em;
    height: 2em;
    border: 1px solid #ccc;
    background: #fff
}

.role-dash-li [type=checkbox]:checked+label::after {
    content: '✔';
    position: absolute;
    top: 5px;
    left: -1px;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: .8;
    color: #999;
    -webkit-transition: all .2s;
    transition: all .2s
}

.role-dash-li [type=checkbox]:not(:checked)+label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -1px;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: .8;
    color: #999;
    -webkit-transition: all .2s;
    transition: all .2s
}


/*input[readonly].inputClass,*/

input[disabled].inputClass {
    background-color: #eee!important;
    cursor: not-allowed
}

.width50p {
    width: 50%
}

.users .nav-tabs {
    border-bottom: 1px solid #ddd!important
}

.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.users .nav-tabs>li.active>a {
    border: 1px solid #ddd;
    border-bottom: 0 solid #fff
}

.users .nav-tabs>li>a {
    border-bottom: 0 solid
}

.users .table,
.users table>thead>tr>th {
    border-top: 0 solid #fff!important
}

.rightParentDiv ul.dropdown-menu li:nth-child(2) {
    display: none!important
}

.mar-bothside-5 {
    margin: auto 5px!important
}

.period {
    line-height: 2.7;
    width: 45%!important;
    margin-left: 3px;
    border: 1px solid #ccc!important
}

.todo-container {
    max-height: 80vh;
    height: 100%;
    overflow-y: auto;
    padding-right: 0!important
}

.todo {
    border-bottom: 1px solid #ccc;
    padding: 15px 10px
}

.leadFollowup {
    cursor: pointer;
}

.leadFollowup .todo a.activeText {
    display: block;
    padding: 3px 0;
}

.leadFollowup:first-child {
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
}

.fa.fa-bars.menuIcons {
    padding-top: 3px;
    color: #585858;
    cursor: pointer
}

.todo-buttons {
    text-align: right;
    z-index: 1;
}

.round {
    color: #ee1610;
    background-color: transparent;
    border: 0;
    padding: 5px
}

.round:hover {
    background-color: #ee1610;
    color: #fff
}

em.text-bold {
    font-weight: 700;
    font-size: 18px
}

.text-bold {
    font-weight: 600
}

.moment-picker {
    padding: 0;
    margin: 0;
}

.moment-picker .moment-picker-container {
    z-index: 9999999999999999 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.moment-picker,
.moment-picker table {
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999999999999999 !important;
}

.moment-picker td.highlighted,
.financialYear .moment-picker td .highlighted,
.moment-picker td.selected,
.financialYear .moment-picker td.selected {
    background-color: #ee1610!important;
    color: #fff!important;
    background-image: linear-gradient(#ee1610, #ee1610) !important;
}

.current-date {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 15px 10px!important
}

.select-button.calen .glyphicon {
    vertical-align: middle;
    line-height: .5;
    padding-bottom: 3px
}

.mar-top-10 {
    margin-top: 10px
}

.noUnderline:hover {
    text-decoration: none
}

.glyphicon.glyphicon-th {
    color: #585858;
    font-size: 21px;
}

.employeeSearchDiv {
    top: 44px;
    right: 0;
    left: 0;
    width: 99%;
    height: 187px;
    overflow-y: auto;
    z-index: 1;
}

.employeeSearchDiv ul {
    -webkit-padding-start: 0px;
    padding: 0;
    border: 1px solid #ccc;
}

.employeeSearchDiv li {
    list-style: none;
    background-color: #f1f2f3;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.employeeSearchDiv li p {
    color: #585858;
    margin: 0;
}

.employeeSearchDiv li:hover {
    background-color: #ee1610;
}

.employeeSearchDiv li:hover p {
    color: #fff;
}

.financialYear {
    position: relative;
    width: 100px;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
}

.financialYear input {
    width: 100%;
    padding: 6px 15px 7px;
    text-align: center;
    border: 1px solid #2f4050;
    color: #2f4050;
}

.salesReportButton .gridActionBtn {
    margin-left: 10px;
}
.salesReportButton .srchBtn{    
    margin-right: -20px;
}
.select-button.plusIcon,
.select-button.minusIcon {
    top: 0;
    right: 10px;
}

.select-button.minusIcon {
    right: -4px;
}

.select-button.plusIcon button.btn.addIcon,
.select-button.minusIcon button.btn.addIcon {
    padding: 0px !important;
}

.select-button.plusIcon button .glyphicon-plus:hover,
.select-button.minusIcon button .glyphicon-minus:hover {
    /* border: none;
    border-bottom: 1px solid #ee1610;*/
}

.select-button.plusIcon button .glyphicon-plus,
.select-button.minusIcon button .glyphicon-minus,
.select-button.minusIcon button .fa.fa-pencil-square-o {
    font-size: 10px;
    font-size: 10px;
    padding: 14px 14px;
    border: 1px solid #ee1610;
}

.noPad {
    padding: 0 !important;
}

.margin0 {
    margin: 0;
}

.dropDownIcon {
    position: absolute;
    right: 23px;
    top: 23px;
    font-size: smaller;
    color: #ccc;
    font-weight: 100;
}

.dropDownYearIcon {
    content: "\e114";
    position: relative;
    right: -85px;
    top: 10px;
    color: #ccc;
    font-size: smaller;
}

.colorPrimary {
    color: #333;
}

.colorGrey {
    color: #fff;
    background-color: grey;
    padding: 5px 10px;
}

.colorOrange {
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
}

.colorGreen {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
}

.colorRed {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}

.top0-left50 {
    top: 0;
    right: 0;
    transform: translateX(-50%);
}

.customDropDown .form-control {
    height: 28px;
    padding: 5px 10px;
}

.dashboardCustomDropdown {
    text-align: center;
}

.dashboardCustomDropdown .employeeSearchDiv {
    width: 90%;
    left: 5%;
    top: 70px;
    text-align: left;
}

.dashboardCustomDropdown input {
    width: 90%;
}

.status {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.customDropDown.status.width50p {
    width: 50%;
}

.mob-dashboard .flex-parent {
    justify-content: flex-start;
}

.mob-dashboard .flex-child {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin: 0 5px 10px;
    border: none;
}

#myChart {
    width: 400px;
    height: 100%;
}

#resizable {
    height: 400px;
    display: block;
    padding: 5px;
}

#myChart,
#myChart-main,
#myChart-top,
#myChart-svg,
#myChart-img,
#myChart-wrapper {
    position: absolute;
    width: 100% !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: -7px;
    z-index: 0;
}

#myChart-img {
    overflow: scroll;
}

#myChart-license-text {
    display: none;
}

.right0 {
    right: 0;
}

.centerDate {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
