<!DOCTYPE html>
<html>
  <head>
    
    <title>Saptalabs ePortal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/responsive.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/> 
    <link rel='stylesheet' href='/stylesheets/font-awesome.css'/>
    <link href="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
    
	
    <script  type="text/javascript" src="/plugins/angular.min.js"></script>
	<script  type="text/javascript" src="/plugins/angular-route.js"></script>
	<script  type="text/javascript" src="/plugins/jquery.min.js"></script>
	<script  type="text/javascript" src="/plugins/bootstrap.min.js"></script>
	<script  type="text/javascript" src="/plugins/angular-cookies.js"></script>
	<script  type="text/javascript" src="/plugins/pdfmake.min.js"></script>
	<script type="text/javascript" src="/plugins/html2canvas.min.js"></script>
	<!-- <script  type="text/javascript" src="/plugins/checklist-model.js"></script> -->
	<script  type="text/javascript" src="/plugins/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="/plugins/angular-moment-picker.min.js"></script>

   	<script src = "/plugins/zingchart.min.js" ></script>  
   	<script src = "/plugins/zingchart-angularjs.js" ></script>


	
	<script  type="text/javascript" src="angularApp.js"></script>
	<script  type="text/javascript" src="angularRouting.js"></script>
	<script  type="text/javascript" src="apiRouterService.js"></script>
	<script  type="text/javascript" src="constantsService.js"></script>
	

	<script  type="text/javascript" src="/javascripts/controller/loginController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/dashBoardController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/leftMenuController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/rolesController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/usersController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/headerController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/configurationController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/createEmployeeController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/viewEmployeeController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/companyInformationController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/createCustomerController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/viewCustomerController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/createVendorController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/viewVendorController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/createBillController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/viewBillController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/createProjectController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/projectCostController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/viewProjectController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/requirementController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/hrOffersController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/leadController.js"></script>
	<script  type="text/javascript" src="/javascripts/controller/salesReportController.js"></script>

	<!-- <script  type="text/javascript" src="/javascripts/services/loginService.js"></script> -->
	<script  type="text/javascript" src="/javascripts/services/configrationService.js"></script>
	<script  type="text/javascript" src="/javascripts/services/menusService.js"></script>
	<script  type="text/javascript" src="/javascripts/services/usersService.js"></script>
	<script  type="text/javascript" src="/javascripts/services/employeeService.js"></script>
	<script  type="text/javascript" src="/javascripts/filters/paginationStartFromFilter.js"></script>
	<script  type="text/javascript" src="/javascripts/filters/sumFilter.js"></script>
	<script  type="text/javascript" src="/javascripts/directives/confirmationPopup.js"></script>
	<script  type="text/javascript" src="/javascripts/directives/alertPopupDirective.js"></script>
	<script  type="text/javascript" src="/javascripts/directives/dropdown.js"></script>
	<script  type="text/javascript" src="/javascripts/services/companyInformationService.js"></script>
	<script  type="text/javascript" src="/javascripts/services/projectService.js"></script>

	<script  type="text/javascript" src="/javascripts/services/customerServices.js"></script>
	<script  type="text/javascript" src="/javascripts/services/vendorServices.js"></script>
	<script  type="text/javascript" src="/javascripts/services/billServices.js"></script>
    <script  type="text/javascript" src="/javascripts/services/requirementService.js"></script>
    <script  type="text/javascript" src="/javascripts/services/offerService.js"></script>
    <script  type="text/javascript" src="/javascripts/services/leadService.js"></script>
    <script  type="text/javascript" src="/javascripts/services/salesReportService.js"></script>

	


  </head>

  <body ng-app="ePortal">

   	<div ng-view class="parentContainer"></div>
  </body>
</html>
