<div>
<div ng-hide="companyinformationControllerScope.divValue == 'workLocation'">
<div class="card-heading">
      <div uib-dropdown="dropdown2" class="pull-right dropdown marnmin5" ng-click="companyinformationControllerScope.divValue = 'workLocation'">
        <i class="fa fa-pencil" aria-hidden="true"></i>

      </div>
      <div class="text-muted">Saptalabs Software Solutions Pvt. Ltd.</div>
    </div>

 <div class="card" >
    <div class="card-body">
      <div class="form-horizontal">
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Hubb Id:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Company Name:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Tan No:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Address:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Main Phone#:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Industry</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Website:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Created On:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Modified On:</label>
        </div>
        <div class="form-group m0">
          <label class="col-sm-4 control-label title">Note:</label>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-show="companyinformationControllerScope.divValue == 'workLocation'">
  	<div class="card-heading">
      <div uib-dropdown="dropdown2" class="pull-right dropdown marnmin5">
        <i class="fa fa-ban" aria-hidden="true"></i>
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div class="text-muted">Saptalabs Software Solutions Pvt. Ltd.</div>
    </div>
<form class="form-horizontal">
    <div class="form-group1">
      <label class="control-label col-sm-2 title">Company Name <span class="req">*</span></label>
      <div class="col-sm-4">
        <input type="Company Name" class="form-control1" id="Company Name">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">TAN No</label>
      <div class="col-sm-4">          
        <input type="TAN No" class="form-control1" id="TAN No">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Address 1 <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="Address 1" class="form-control1" id="Address 1">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Address 2</label>
      <div class="col-sm-4">          
        <input type="Address 2" class="form-control1" id="Address 2">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">City <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="City" class="form-control1" id="City">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">State <span class="req">*</span></label>
      <div class="col-sm-4">          
       	<select class="selectWidth">
            <option value""></option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Zip <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="Zip" class="form-control1" id="Zip">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Country <span class="req">*</span></label>
      <div class="col-sm-4">          
        <select class="selectWidth">
            <option value""></option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Main Phone <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="Main Phone" class="form-control1" id="Main Phone">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Industry <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="Industry" class="form-control1" id="Industry">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Website <span class="req">*</span></label>
      <div class="col-sm-4">          
        <input type="Website" class="form-control1" id="Website">
      </div>
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Created On</label>       
    </div>
    <div class="form-group1">
      <label class="control-label col-sm-2 title" for="pwd">Modified On</label>        
      </div>
      </form>
    </div>
    </div>