  <div class="col-lg-12">
    <button type="button" class="btn btn-success btn-sm custom-invite-bt" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-plus white" ></span>&nbsp;<b class="white">Add New</b>
    </button>
  </div>
  <div>
    <ul class="nav nav-tabs" ng-init="tab = 1">
      <li class="active"><a data-toggle="tab"  ng-click="tab = 1">Configuration</a></li>
    </ul>
  </div>
<div class="row">
  <div class="col-sm-2 col_pdg">
    <ul class="config_fldr">
      <li><a href="" ng-click="configurationControllerScope.divValue = 'workLocation'">Work Location</a> </li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'department'">Department</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Employee Types'">Employee Types</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Customer Types'">Customer Types</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Time Off Types'">Time Off Types</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Invoicing Types'">Invoicing Types</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Payment Terms'">Payment Terms</a></li>
      <li><a href="" ng-click="configurationControllerScope.divValue= 'Invoice Payment Terms'">Invoice Payment Terms</a></li>
    </ul>
  </div>
  
  <div class="col-sm-10 border-show">
    <div class="col-md-12">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close white opacity1px" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Invite a User</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label  class="col-sm-12 text-left"  for="inputEmail3">Email</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail3" ng-model="invite.email" placeholder="Email user email"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12 text-left" for="inputPassword3" >Select Role</label>
                  <div class="col-sm-6">
                    <select ng-model="invite.role" class="form-control">
                      <option ng-repeat="y in vm.Roles" value="{{y._id}}">{{y.roleName}}</option>
                    </select>
                  </div>
                </div> 
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default border-radius-none" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default border-radius-none send-invite-color" data-dismiss="modal" ng-click="vm.sendInvite(invite)">
                <span class="glyphicon glyphicon-envelope white"></span>&nbsp;<b  class="white">Send Invite</b></button>
              </div>
            </div>

          </div>
        </div>

        <div ng-if="configurationControllerScope.divValue == 'workLocation'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div>    
        </div>
        <div ng-if="configurationControllerScope.divValue == 'department'">aaaa
          <!-- <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
          
              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
          
                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
          
                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
          
                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div>  -->
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Employee Types'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Customer Types'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Time Off Types'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Invoicing Types'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Payment Terms'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
        <div ng-if="configurationControllerScope.divValue == 'Invoice Payment Terms'">
          <div class = "table-responsive">
            <table class = "table"> 
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Product1</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product2</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product3</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>

                <tr>
                  <td>Product4</td>
                  <td>Active</td>
                  <td>Make Inactive</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </div>
    
  </div>     