<div class="row bacddd">                
    <div class="col-lg-12 col-sm-12">
        <div class="navbar-default headerName" role="navigation">Dashboard</div>
    </div>

    <div class="col-lg-8 col-xs-12 dash_resp">
        <div class="row ">
             <div class="col-lg-6 col-md-6  top-padding">
                <div class="col-lg-12 col-md-12  BORDBOTTOM">
                    <div class="col-sm-6 nopadding"><i class="fa fa-users fa-fw content-icon"></i></div>
                    <div class="col-sm-6 nopadding" ><div class="text-right user-name" >24</div><div class="text-right user-company">EMPLOYEES</div></div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
            </div>
             <div class="col-lg-6 col-md-6 top-padding">
                <div class="col-lg-12 col-md-12  BORDBOTTOM">
                    <div class="col-lg-6 col-md-6 nopadding"><i class="fa fa-clock-o fa-fw content-icon"></i></div>
                    <div class="col-lg-6 col-md-6 nopadding" ><div class="text-right user-name" >24</div><div class="text-right user-company">COMPANY TIMESHEET</div></div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                
            </div>
        </div>
        <div class="row">
             <div class="col-lg-6 col-md-6 top-padding">
                <div class="col-lg-12 col-md-12  BORDBOTTOM">
                    <div class="col-lg-6 col-md-6 nopadding"><i class="fa fa-users fa-fw content-icon"></i></div>
                    <div class="col-lg-6 col-md-6 nopadding" ><div class="text-right user-name" >24</div><div class="text-right user-company">ACTIVE USERS</div></div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
            </div>
             <div class="col-lg-6 col-md-6 top-padding">
                <div class="col-lg-12 col-md-12  BORDBOTTOM">
                    <div class="col-lg-6 col-md-6 nopadding"><i class="fa fa-tags fa-fw content-icon"></i></div>
                    <div class="col-lg-6 col-md-6 nopadding" ><div class="text-right user-name" >24</div><div class="text-right user-company">PROJECT</div></div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6 nopadding">asdasd</div>
                    <div class="col-lg-6 col-md-6 text-right nopadding" >10</div>
                </div>
                
            </div>
       </div>
      
       
    </div>
    <div class="col-lg-4 col-xs-12 dash_resp">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> TODO List
            </div>
            <!-- /.panel-heading -->
            <div class="todo-lists">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-right text-muted small"><em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
               
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel --> 
    </div>
</div>
       