 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading PADDTOP5PX PADDRIG0PX">
           		<b>Roles</b>
           		<div class="pull-right " ng-show="vm.allOption">
           				<button type="button" class="btn btn-success btn-sm" >Make Copy</button>
           				<button type="button" class="btn btn-primary btn-sm"  ng-click="vm.roleSave = false; vm.roleAppSave = true; vm.allOption = false; vm.roleSaveButn = true" >Edit</button>
           				<button type="button" class="btn btn-success btn-sm" >Remove</button>
           				<button type="button" class="btn btn-danger btn-sm" ng-click="vm.roleSave = true; vm.roleAppSave = false; vm.allOption = false; vm.roleSaveButn = true">Add Role</button>
           		</div>
           		<div class="pull-right" ng-show="vm.roleSaveButn">
       				<button type="button" class="btn btn-success btn-sm" ng-click="vm.addRole(vm.role)">Save</button>
       				<button type="button" class="btn btn-danger btn-sm" >Cancel</button>
   				</div>
   				<!-- <div class="pull-right" ng-show="vm.roleAppSave">
       				<button type="button" class="btn btn-success btn-sm" ng-click="vm.addRoleApp()">Save</button>
       				<button type="button" class="btn btn-danger btn-sm" >Cancel</button>
   				</div> 
            </div>

            <!-- fist option  -->
            <div class="panel-body" ng-show="vm.roleAppSave">
            	<div class="row">
            		 <form>
					    <div class="form-group col-sm-12">
						  <label class="control-label col-sm-4 text-right" for="sel1">Select Role :</label>
						   <div class="col-sm-8">
							  <select class="form-control" id="sel1"  ng-change="vm.selectOption(vm.selectRole)" ng-model="vm.selectRole" >
							  	<option ng-repeat="x in vm.Allroles" value="{{x._id}}">{{x.roleName}}</option>
							  </select>
						  </div>

						</div>
						<div class="form-group col-sm-12">
						      <label class="control-label col-sm-4 text-right" for="roledesc">Role Name :</label>
						      <div class="col-sm-8">
						      	{{vm.roleRecord.roleName}}
						      </div>
					      </div>
					    <div class="form-group col-sm-12">
					      <label class="control-label col-sm-4 text-right" for="roledesc">Description :</label>
					      <div class="col-sm-8">
					      	<textarea ng-model="vm.roleRecord.roleDesc"  class="form-control" id="roledesc" placeholder="Who Should Have This Role?"></textarea>
					      </div>
					    </div>
					     
					      <div class="form-group col-sm-12">
						      <label class="control-label col-sm-4 text-right" for="roledesc">User with this role :</label>
						      <div class="col-sm-8"></div>
					      </div>
					  </form>
            	</div>
            	
            	<div class="col-sm-4" ng-repeat="menu in vm.mainMenus" ng-if="menu.appName != 'Dashboard'">
	            	<div class="panel panel-default" >
	            		<div class="panel-heading">
	            			<div class="">
		                        <input id="{{menu.appName}}" ng-model="menu.selected" type="checkbox" ng-click="vm.toggleAll(menu)">
		                        <label for="{{menu.appName}}">
		                           {{menu.appName}}
		                        </label>
		                    </div>
            		    </div>
	            		<div class="panel-body">
	            			<div ng-repeat="submenu in vm.subMenus" ng-if="menu.appId == submenu.appGroup">
	            				<div class="">
			                        <input id="{{submenu.appName}}" ng-model="submenu.selected" type="checkbox" ng-change="vm.optionToggled(submenu)">
			                        <label for="{{submenu.appName}}">
			                           {{submenu.appName}}
			                        </label>
			                    </div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
            </div>
            <!-- second option -->
            <div class="panel-body" ng-show="vm.roleSave">
            	<div class="row">
            		 <form name="roleForm" novalidate>
					    <div class="form-group col-sm-12">
					      <label class="control-label col-sm-4 text-right" for="rolename">Role Name :</label>
					      <div class="col-sm-8">
					      		<input type="text" name="roleName" ng-model="vm.role.roleName" class="form-control" id="rolename" placeholder="New Role" required>
					      		<span ng-show="roleForm.roleName.$touched && roleForm.roleName.$invalid">The RoleName is required.</span>
					      </div>
					    </div>
					    <div class="form-group col-sm-12">
					      <label class="control-label col-sm-4 text-right" for="roledesc">Role Description :</label>
					      <div class="col-sm-8">
					      	<textarea name="roleDesc" ng-model="vm.role.RoleDesc"  class="form-control" id="roledesc" placeholder="Who Should Have This Role?" required></textarea>
					      	<span ng-show="roleForm.roleDesc.$touched && roleForm.roleDesc.$invalid">The Role Description is required.</span>
					      </div>
					    </div>
					  </form>
            	</div>
            
            </div>
        </div>
    </div>
</div>