<!DOCTYPE html>
<html lang="en">

<head>
    <script src="javascripts/plugins/jquery.min.js"></script> 
    <script src="/javascripts/plugins/bootstrap.min.js"></script>
    <script src="/javascripts/plugins/bootstrap-table.js"></script>
    <script src="/javascripts/plugins/bootstrap-table-export.js"></script>
    <script src="/javascripts/plugins/tableExport.js"></script>
    <script src="/javascripts/plugins/bootstrap-table-editable.js"></script>
    <script src="/javascripts/plugins/dataTables.bootstrap.js"></script> 
</head>
<body style="padding-right:0px !important;">
<div class="col-lg-12">
  <button type="button" class="btn btn-success btn-sm custom-invite-bt" data-toggle="modal" data-target="#myModal"  >
    <span class="glyphicon glyphicon-plus white" ></span>&nbsp;<b class="white">Invite New User</b>
  </button>
</div>
 <div>
    <ul class="nav nav-tabs" ng-init="tab = 1">
      <li class="active"><a data-toggle="tab"  ng-click="tab = 1">Users</a></li>
      <li><a data-toggle="tab"  ng-click="tab = 2">Invites</a></li>
      <li><a data-toggle="tab"  ng-click="tab = 3">Association Requests</a></li>
    </ul>

  <div class="tab-content PADDTOP" >
    <div id="menu1" class="col-lg-12 col-md-12 tab-pane fade in active" ng-show="tab === 1" >
        
            <thead>
                <tr>
                    <th data-field="name" data-align="right" data-sortable="true">USER NAME</th>
                    <th data-field="address" data-align="center" data-sortable="true">EMAIL ADDRESS</th>
                    <th data-field="role" data-sortable="true">USER TYPE (ROLE)</th>
                    <th data-field="since" data-sortable="true">USER SINCE</th>
                    <th data-field="employee" data-sortable="true">EMPLOYEE</th>
                    <th data-field="status" data-sortable="true">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in vm.users">
                  <td >{{x.name}}</td>
                  <td >{{x.email}}</td>
                  <td >
                      <select class="form-control" id="sad" ng-model="x.roleId._id"  ng-change="vm.aaaaa()">
                        <option ng-repeat="y in vm.Roles" value="{{y._id}}">{{y.roleName}}</option>
                      </select>
                     
                  </td>
                  <td >{{x.createdOn | date:"MM/dd/yyyy"}}</td>
                  <td >unlinked</td>
                  <td >{{x.isActive}}</td>
                </tr>
            </tbody>    
      </table>   
    </div>
    <div id="menu2" class="tab-pane fade in active" ng-show="tab === 2">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade in active" ng-show="tab === 3">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" ng-if =!vm.modalShow >
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">Invite a User</h4>
        </div>
        <div class="modal-body">
            <form name="myform" class="form-horizontal">
                  <div class="form-group">
                      <label  class="col-sm-12 text-left"  for="inputEmail3">Email</label>
                      <div class="col-sm-6">
                          <input type="email" name="email" class="form-control" id="inputEmail3" ng-model="invite.email" placeholder="Email user email" required />
                          <span ng-show="myform.email. $invalid && myform.email.$touched">The email is required.</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-12 text-left" for="inputPassword3" >Select Role</label>
                      <div class="col-sm-6">
                         <select ng-model="invite.role" class="form-control" name="role">
                           <option ng-repeat="y in vm.Roles" value="{{y._id}}">{{y.roleName}}</option>
                         </select>
                      </div>
                  </div> 
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default border-radius-none close_btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default border-radius-none send-invite-color" data-dismiss="modal"   data-toggle="modal" data-target="#myModal1" ng-click="vm.sendInvite(invite)">
            <span class="glyphicon glyphicon-envelope white paddr20"></span>&nbsp;<b  class="white">Send Invite</b></button>
        </div>
      </div>
      
    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" ng-if =vm.errorShow >
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Invite a User</h4>
        </div>
        <div class="modal-body">
            Please enter valid details
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning border-radius-none" data-toggle="modal" data-target="#myModal" data-dismiss="modal">ok</button>
        </div>
      </div>


      <div class="modal-content" ng-if =vm.sucessShow>
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Invite a User</h4>
        </div>
        <div class="modal-body">
            The email sent 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success border-radius-none" data-dismiss="modal"   >ok</button>
        </div>
    </div>
	</div>
</div>
</body>
</html>

