<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{companyInformationControllerScope.alertMsg}}</p>
            <button ng-click="companyInformationControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' : 'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="companyInformationControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv card">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{companyInformationControllerScope.companyName}}</div>
                    <div class="innerdivContainer">
                        <div class="row configmenurow mobpaddingTopBtm10px">
                            <div class="">
                                <div class="form-horizontal">
                                    <div class="detailoperationSection">
                                        <span class="operationRightDiv width100p">
                                              <button ng-show="companyInformationControllerScope.showEditButton" ng-click="companyInformationControllerScope.editDetails()" class="activeBtn btn mob-width-48">Edit</button>

                                              <button ng-show="!companyInformationControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="companyInformationControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                              <button ng-show="!companyInformationControllerScope.showEditButton" ng-click="companyInformationControllerScope.updateCompanyInformation()" ng-disabled="companyInformationControllerScope.companyDetailsForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                        </span>
                                    </div>
                                    <form name="companyInformationControllerScope.companyDetailsForm">
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Company Name <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="name" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.companyname" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Name of your company" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.name.$invalid && companyInformationControllerScope.companyDetailsForm.name.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">TAN No <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="tan" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.tanNo" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="TAN No" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.tan.$invalid && companyInformationControllerScope.companyDetailsForm.tan.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">PAN No <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="pan" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.panNo" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="PAN No" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.pan.$invalid && companyInformationControllerScope.companyDetailsForm.pan.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Address 1 <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="address1" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.address1" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Address 1" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.address1.$invalid && companyInformationControllerScope.companyDetailsForm.address1.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Address 2 <span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="address2" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.address2" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" placeholder="Address 2 (If any)" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">City <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span> <span ng-if="companyInformationControllerScope.nonEditableField">:</span> </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="city" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.city" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="City" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.city.$invalid && companyInformationControllerScope.companyDetailsForm.city.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Country <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <div class="customDropDown">
                                                    <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" name="country" ng-disabled="companyInformationControllerScope.nonEditableField" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'pad-10' : 'linheight2pt7 bordernone'">{{companyInformationControllerScope.SelectedCountry.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!companyInformationControllerScope.nonEditableField"></span></label>
                                                    <ul ng-show="showMenu" ng-if="!companyInformationControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                        <li ng-repeat="country in companyInformationControllerScope.countryList" ng-click="companyInformationControllerScope.selectedCountryFun(country)">{{country.name}}</li>
                                                    </ul>
                                                </div>
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.country.$error.required && companyInformationControllerScope.companyDetailsForm.country.$invalid && companyInformationControllerScope.companyDetailsForm.country.$touched" class="errorMsg">Select Country</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">State <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span> <span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <div class="customDropDown">
                                                    <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu1=false" ng-click="showMenu1=!showMenu1" name="state" ng-disabled="companyInformationControllerScope.nonEditableField" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'pad-10' : 'linheight2pt7 bordernone'">{{companyInformationControllerScope.selectedState.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!companyInformationControllerScope.nonEditableField"></span></label>
                                                    <ul ng-show="showMenu1" ng-if="!companyInformationControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="state">
                                                        <li ng-repeat="state in companyInformationControllerScope.stateList" ng-click="companyInformationControllerScope.selectedStateFun(state)">{{state.name}}</li>
                                                    </ul>
                                                </div>
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.state.$error.required && companyInformationControllerScope.companyDetailsForm.state.$invalid && companyInformationControllerScope.companyDetailsForm.state.$touched" class="errorMsg">Select State</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Zip <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span> </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="zip" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.zip" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Zip" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.zip.$invalid && companyInformationControllerScope.companyDetailsForm.zip.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Mobile
                                                <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span>
                                            </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0" style="display: inline-flex;">
                                                <div class="width50p customDropDown">
                                                    <label class="selectCountryLabel bordernone backgroundNone mar-top-5" click-anywhere="showMenu2=false" ng-click="showMenu2=!showMenu2" name="customerType" ng-disabled="companyInformationControllerScope.nonEditableField" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'pad-10' : 'linheight2pt7 bordernone'">{{companyInformationControllerScope.selectCountryCodeType.countryCode}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!companyInformationControllerScope.nonEditableField"></span></label>
                                                    <ul ng-show="showMenu2" ng-if="!companyInformationControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone" name="customerType">
                                                        <li ng-repeat="country in companyInformationControllerScope.countryList" ng-click="companyInformationControllerScope.selectedCountryCodeType(country)" ng-if="country.status==='active'">{{country.callingCode}} ( {{country.countryCode}} )</li>
                                                    </ul>
                                                </div>
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.countryCode.$error.required && companyInformationControllerScope.companyDetailsForm.countryCode.$invalid && companyInformationControllerScope.companyDetailsForm.countryCode.$touched" class="errorMsg">Select Country Code</p>
                                                <input type="number" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.mainPhone" name="contactno" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Country Code" />
                                            </div>
                                            <p ng-show="companyInformationControllerScope.companyDetailsForm.contactno.$error.required && companyInformationControllerScope.companyDetailsForm.contactno.$invalid && companyInformationControllerScope.companyDetailsForm.contactno.$touched" class="errorMsg">Feild is required.</p>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Industry <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="industry" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.industry" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Industry" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.industry.$invalid && companyInformationControllerScope.companyDetailsForm.industry.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'lineheight4' : ''">Website <span class="reqStar" ng-if="!companyInformationControllerScope.nonEditableField">*</span><span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="website" class="backgroundNone width100p" ng-model="companyInformationControllerScope.companyInfo.website" ng-readonly="companyInformationControllerScope.nonEditableField" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'inputClass' : 'bordernone linheight2pt7'" required placeholder="Website" />
                                                <p ng-show="companyInformationControllerScope.companyDetailsForm.website.$invalid && companyInformationControllerScope.companyDetailsForm.website.$touched" class="errorMsg">Feild is required.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6">Created On <span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'noneditfeild line-height-3' : 'linheight2pt7'">{{companyInformationControllerScope.companyInfo.creationDate | date}}</div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6">Modified On <span ng-if="companyInformationControllerScope.nonEditableField">:</span></label>
                                            <div class="col-sm-12 col-md-6" ng-class="companyInformationControllerScope.edititem === companyInformationControllerScope.edititemtrue ? 'noneditfeild line-height-3' : 'linheight2pt7'">{{companyInformationControllerScope.companyInfo.updatedOn | date}}</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div ng-hide="companyInformationControllerScope.showme">
    <div class="card-heading">
     <div class="row">
      <div class="pull-right dropdown" >
       <button class="glyphicon glyphicon-pencil defaultBtn" ng-click="companyInformationControllerScope.showme=true"></button>
      </div>
      <div class="text-muted">{{companyInformationControllerScope.companyName}}</div>
     </div>
    </div>
    <div class="card">
     <div class="card-body">
      <div class="form-horizontal" ng-repeat = "companyInformation in companyInformationControllerScope.companyInfo">
       <div class="form-group"> 
        <label class="col-sm-5 control-label">Hubb Id :</label>
        <div class="input">{{companyInformation.hubbid}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Company Name :</label>
        <div class="input">{{companyInformation.companyname}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Tan No :</label>
        <div class="input">{{companyInformation.tanNo}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Address Line 1 :</label>
        <div class="input">{{companyInformation.address1}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Address Line 2 :</label>
         <div class="input">{{companyInformation.address2}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Country :</label>
         <div class="input">{{companyInformation.country}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">State :</label>
         <div class="input">{{companyInformation.state}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">City :</label>
         <div class="input">{{companyInformation.city}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Zip :</label>
         <div class="input">{{companyInformation.zip}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Main Phone :</label>
        <div class="input">{{companyInformation.mainPhone}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Industry :</label>
         <div class="input">{{companyInformation.industry}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Website :</label>
        <a href class="inputWeb">{{companyInformation.website}}</a>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Created On :</label>
         <div class="input">{{companyInformation.creationDate}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Modified On :</label>
         <div class="input">{{companyInformation.updatedon}}</div>
       </div>
       <div class="form-group">
        <label class="col-sm-5 control-label">Note :</label>
         <div class="input">{{companyInformation.note}}</div>
       </div>
      </div>
     </div>
    </div>
   </div>
 -->
<!-- <div ng-show="companyInformationControllerScope.showme"> -->
<!-- <div class="card-heading">
     <div class="pull-right">
      <button class="glyphicon defaultBtn" ng-click="companyInformationControllerScope.showme=false">&#xe090;</button>
      <button class="glyphicon activeBtn" ng-click="companyInformationControllerScope.addNewCompanyInfo(companyInformationControllerScope.companyInfo)">&#xe013</button>
     </div>
     <div class="text-muted">Saptalabs Software Solutions Pvt. Ltd.</div>
    </div> -->
<!--  <div class="card-body"> -->
<!-- <form class="form-horizontal" ng-repeat = "companyInformation in companyInformationControllerScope.companyInfo">
      <div class="form-group">
       <label class="col-sm-5 labelHead">Hubb Id<span class="reqStar">*</span></label>
       <div class="col-sm-5">
        <input type="Company Name" class="inputClass" ng-model="companyInformation.hubbid">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Company Name<span class="reqStar">*</span></label>
       <div class="col-sm-5">
        <input type="Company Name" class="inputClass" ng-model="companyInformation.companyname"> 
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">TAN No</label>
       <div class="col-sm-5">     
        <input type="TAN No" class="inputClass" ng-model="companyInformation.tanNo">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Address Line 1<span class="reqStar">*</span></label>
       <div class="col-sm-5">     
        <input type="Address 1" class="inputClass" ng-model="companyInformation.address1">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Address Line 2</label>
       <div class="col-sm-5">     
        <input type="Address 2" class="inputClass" ng-model="companyInformation.address2">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Country<span class="reqStar">*</span></label>
       <div class="col-sm-5">
        <select class="inputClass" ng-model="companyInformation.country">
         <option value="" disabled selected>Select your Country</option>
          <option ng-repeat = "value in companyInformationControllerScope.countryList">{{value.name}}</option>
        </select>
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">State<span class="reqStar">*</span></label>
       <div class="col-sm-5"> 
        <select class="inputClass" ng-model="companyInformation.state">
         <option value="" disabled selected>Select your State</option>
         <option ng-repeat = "key in companyInformationControllerScope.stateList">{{key.statename}}</option>
        </select>     
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">City<span class="reqStar">*</span></label>
       <div class="col-sm-5">
        <select class="inputClass" ng-model="companyInformation.city">
         <option value="" disabled selected>Select your City</option>
         <option ng-repeat = "key in companyInformationControllerScope.cityList">{{key.city}}</option>
        </select>          
       </div>
      </div> 
      <div class="form-group">
       <label class="col-sm-5 labelHead">Zip<span class="reqStar">*</span></label>
       <div class="col-sm-5">     
        <input type="Zip" class="inputClass" ng-model="companyInformation.zip">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Main Phone<span class="reqStar">*</span></label>
       <div class="col-sm-5"> 
        <select style="height: 39px;margin:0px 0px 0px 4px">
         <option ng-repeat = "value in companyInformationControllerScope.countryList">{{value.name}}</option>
         <input type="Main Phone" class="inputWidth" ng-model="companyInformation.mainPhone">
        </select>      
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Industry<span class="reqStar">*</span></label>
       <div class="col-sm-5">     
        <input type="Industry" class="inputClass" ng-model="companyInformation.industry">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-5 labelHead">Website<span class="reqStar">*</span></label>
       <div class="col-sm-5">     
        <input type="Website" class="inputClass" ng-model="companyInformation.website">
       </div>
      </div>
       
      </div> 
      <div class="form-group">
       <label class="col-sm-5 labelHead">Note</label>
       <div class="col-sm-5">     
        <input type="Website" class="inputClass" ng-model="companyInformation.note">
       </div>    
      </div>
     </form> -->
<!--  </div>
   </div> -->
