<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="configurationControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="card-heading">
                    <div class="row">
                        <div class="text-muted">Configuration</div>
                    </div>
                </div>
                <div class="row configmenurow card ">
                    <div class="col-sm-2 configmenu resp_menus"><i class="glyphicon glyphicon-chevron-down dropDownIcon " aria-hidden="true"></i>
                        <ul>
                            <li class="init resp_menus">Country</li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'country'}" ng-click="configurationControllerScope.changeDiv('country')" ng-touch="configurationControllerScope.changeDiv('country')">Country
                            </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'state'}" ng-click="configurationControllerScope.changeDiv('state')" ng-touch="configurationControllerScope.changeDiv('state')">State</li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'work_Location'}" ng-click="configurationControllerScope.changeDiv('work_Location')">Work Location </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'department'}" ng-click="configurationControllerScope.changeDiv('department')"> Department </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'employee_Types'}" ng-click="configurationControllerScope.changeDiv('employee_Types')">Employee Types</li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'customer_Types'}" ng-click="configurationControllerScope.changeDiv('customer_Types')">Customer Types </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'vendor_Types'}" ng-click="configurationControllerScope.changeDiv('vendor_Types')">Vendor Types </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'time_Off_Types'}" ng-click="configurationControllerScope.changeDiv('time_Off_Types')">Time Off Types </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'invoicing_Types'}" ng-click="configurationControllerScope.changeDiv('invoicing_Types')">Invoice Types</li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'payment_Terms'}" ng-click="configurationControllerScope.changeDiv('payment_Terms')">Payment Terms </li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'invoice_Payment_Terms'}" ng-click="configurationControllerScope.changeDiv('invoice_Payment_Terms')">Invoice Payment Terms</li>
                            <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'employee_Role'}" ng-click="configurationControllerScope.changeDiv('employee_Role')">Employee Role</li>
                        </ul>
                    </div>
                    <div class="col-sm-2 deskTopView configmenu1">
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'country'}" ng-click="configurationControllerScope.changeDiv('country')">Country
                        </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'state'}" ng-click="configurationControllerScope.changeDiv('state')">State</li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'work_Location'}" ng-click="configurationControllerScope.changeDiv('work_Location')">Work Location </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'department'}" ng-click="configurationControllerScope.changeDiv('department')"> Department </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'employee_Types'}" ng-click="configurationControllerScope.changeDiv('employee_Types')">Employee Types</li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'customer_Types'}" ng-click="configurationControllerScope.changeDiv('customer_Types')">Customer Types </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'vendor_Types'}" ng-click="configurationControllerScope.changeDiv('vendor_Types')">Vendor Types </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'time_Off_Types'}" ng-click="configurationControllerScope.changeDiv('time_Off_Types')">Time Off Types </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'invoicing_Types'}" ng-click="configurationControllerScope.changeDiv('invoicing_Types')">Invoice Types</li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'payment_Terms'}" ng-click="configurationControllerScope.changeDiv('payment_Terms')">Payment Terms </li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'invoice_Payment_Terms'}" ng-click="configurationControllerScope.changeDiv('invoice_Payment_Terms')">Invoice Payment Terms</li>
                        <li ng-class="{'activeclass_li':configurationControllerScope.divValue === 'employee_Role'}" ng-click="configurationControllerScope.changeDiv('employee_Role')">Employee Role</li>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'work_Location'" ng-class="{'bggry':configurationControllerScope.divValue === 'work_Location'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
									<button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="configurationControllerScope.openWorkLocationForm()">Add New</button>
								</span>
                                <span class="operationRightDiv searchSectionRight">
									<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.workSearchKeyword"/>
									<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
									<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
								</span>
                            </div>
                            <div class="table-responsive workLocation">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Work location</th>
                                            <th>State Name</th>
                                            <th>Country Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="workList in configurationControllerScope.worklocationListType | filter: configurationControllerScope.workSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{workList.worklocation}}</td>
                                            <td>{{workList.state}}</td>
                                            <td>{{workList.country}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{workList.status}} </td>
                                            <td class="modelText resLeftText">
                                                <span class="activeText datacenter" ng-if='workList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateWorkLocationStatus(configurationControllerScope.inactiveState,workList._id,'statusEdit')" class="actionTab">Make Inactive</span>
                                                <span class="modelText resLeftText " ng-if="workList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateWorkLocationStatus(configurationControllerScope.activeState,workList._id,'statusEdit')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash modelText resLeftText activeText actionIcon" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteWorkLocation(workList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editWorkLocationForm(workList)" class="fa fa-pencil-square-o  actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.worklocationListType.length > 0" class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.worklocationListType.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="workLocation" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Work Location</h4>
                                    </div>
                                    <form name="configurationControllerScope.workLocationForm">
                                        <div class="modal-body">
                                            <div class="customDropDown">
                                                <label class="selectCountryLabel" click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu">{{configurationControllerScope.workLocation.country}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                <ul ng-show="showMenu" class="dropDownUl" name="stateName">
                                                <li class="noPad"><input click-anywhere="showMenucountry=false"  type="text" class="form-control" ng-model="configurationControllerScope.keywordcountry" placeholder="Search"></li>
                                                    <li ng-repeat="v in configurationControllerScope.countryDetailsList | filter: configurationControllerScope.keywordcountry" ng-click="configurationControllerScope.selectedWorkloaction(v.name,v.state)">{{v.name}}</li>
                                                </ul>
                                            </div>
                                            <p ng-show="configurationControllerScope.workLocationForm.country.$error.required && configurationControllerScope.workLocationForm.country.$invalid && configurationControllerScope.workLocationForm.country.$touched" class="errorMsg">Select Country</p>
                                            <div class="customDropDown">
                                                <label class="selectCountryLabel" click-anywhere="showMenu1=false"  ng-click="showMenu1=!showMenu1">{{configurationControllerScope.workLocation.state}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                <ul ng-show="showMenu1" class="dropDownUl" name="stateName">
                                                <li class="noPad"><input click-anywhere="showMenustates=false"  type="text" class="form-control" ng-model="configurationControllerScope.keywordstates" placeholder="Search"></li>
                                                    <li ng-repeat="state in configurationControllerScope.stateDetailsList | filter: configurationControllerScope.keywordstates" ng-click="configurationControllerScope.selectedState(state.name)">{{state.name}}</li>
                                                </ul>
                                            </div>
                                            <p ng-show="configurationControllerScope.workLocationForm.state.$error.required && configurationControllerScope.workLocationForm.state.$invalid && configurationControllerScope.workLocationForm.state.$touched" class="errorMsg">Select State</p>
                                            <input type="text" name="city" class="inputClass" placeholder="The Work Location" ng-model="configurationControllerScope.workLocation.worklocation" required/>
                                            <p ng-show="configurationControllerScope.workLocationForm.city.$invalid && configurationControllerScope.workLocationForm.city.$touched" class="">Field is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('workLocation')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.workLocationUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.workLocationForm.$invalid" ng-click="configurationControllerScope.addWorkLocation()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.workLocationUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.workLocationForm.$invalid" ng-click="configurationControllerScope.updateWorkLocationStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'department'" ng-class="{'bggry':configurationControllerScope.divValue === 'department'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
							<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#department">Add New</button>
						</span>
                                <span class="operationRightDiv searchSectionRight">
							<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.deptSearchKeyword"/>
							<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
							<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
						</span>
                            </div>
                            <div class="table-responsive department">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="department in configurationControllerScope.departmentList | filter: configurationControllerScope.deptSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{department.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{department.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText datacenter" ng-if='department.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateDepartmentStatus(configurationControllerScope.inactiveState,department._id,'statusUpdate')" class="actionTab">Make Inactive</span>
                                                <span class="activeText modelText" ng-if="department.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateDepartmentStatus(configurationControllerScope.activeState,department._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon modelText" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteDepartment(department._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editDepartmentForm(department)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.departmentList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.departmentList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="department" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Department</h4>
                                    </div>
                                    <form name="configurationControllerScope.departmentForm">
                                        <div class="modal-body">
                                            <input type="text" name="department" class="inputClass" placeholder="Department" ng-model="configurationControllerScope.department.name" required/>
                                            <p ng-show="configurationControllerScope.departmentForm.department.$invalid && configurationControllerScope.departmentForm.department.$touched" class="">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('department')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.departmentUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.departmentForm.department.$invalid" ng-click="configurationControllerScope.addDepartment()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.departmentUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.workLocationForm.$invalid" ng-click="configurationControllerScope.updateDepartmentStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'employee_Types'" ng-class="{'bggry':configurationControllerScope.divValue === 'employee_Types'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#employeeTypes">Add New</button></span>
                                <span class="operationRightDiv searchSectionRight">
							<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.empTypesearchKeyword"/>
							<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
							<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
						</span>
                            </div>
                            <div class="table-responsive employeeTable">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Employee Types</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="empTypeList in configurationControllerScope.employeeTypeList | filter: configurationControllerScope.empTypesearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{empTypeList.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{empTypeList.status}} </td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='empTypeList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateEmployeeStatus(configurationControllerScope.inactiveState,empTypeList._id,'statusUpdate')" class="actionTab">Make Inactive</span>
                                                <span class="activeText" ng-if="empTypeList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateEmployeeStatus(configurationControllerScope.activeState,empTypeList._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteEmployeeType(empTypeList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editEmployeeTypeForm(empTypeList)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.employeeTypeList.length > 0" class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.employeeTypeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="employeeTypes" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Employee Type</h4>
                                    </div>
                                    <form name="configurationControllerScope.employeeForm">
                                        <div class="modal-body">
                                            <input type="text" name="employeetype" class="inputClass" placeholder="Employee Type" ng-model="configurationControllerScope.employeetype.name" required/>
                                            <p ng-show="configurationControllerScope.employeeForm.employeetype.$invalid && configurationControllerScope.employeeForm.employeetype.$touched" class="">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="configurationControllerScope.declineMethod('employeetype')">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.employeeUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.employeeForm.$invalid" ng-click="configurationControllerScope.addEmplyeeType()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.employeeUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.employeeForm.$invalid" ng-click="configurationControllerScope.updateEmployeeStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'customer_Types'" ng-class="{'bggry':configurationControllerScope.divValue === 'customer_Types'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#customerTypes">Add New</button>
					</span>
                                <span class="operationRightDiv searchSectionRight">
						<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.cusTypeSearchKeyword"/>
						<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
						<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
					</span>
                            </div>
                            <div class="table-responsive customerTable">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Customer Types</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cusTypeList in configurationControllerScope.customerTypeList | filter: configurationControllerScope.cusTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{cusTypeList.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{cusTypeList.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='cusTypeList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateCustomerStatus(configurationControllerScope.inactiveState,cusTypeList._id,'statusUpdate')">Make Inactive</span>
                                                <span class="activeText " ng-if="cusTypeList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateCustomerStatus(configurationControllerScope.activeState,cusTypeList._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deleteCustomerType(cusTypeList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editCustomerTypeForm(cusTypeList)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.customerTypeList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.customerTypeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="customerTypes" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Customer Types</h4>
                                    </div>
                                    <form name="configurationControllerScope.customerForm">
                                        <div class="modal-body">
                                            <input type="text" name="customertype" class="inputClass" placeholder="Customer Type" ng-model="configurationControllerScope.customertype.name" required/>
                                            <p ng-show="configurationControllerScope.customerForm.customertype.$invalid && configurationControllerScope.customerForm.customertype.$touched" class="">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('customertype')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.customerUpdateBtn" name="button" class="activeBtn btn" ng-disabled="configurationControllerScope.customerForm.$invalid" ng-click="configurationControllerScope.addCustomerType()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.customerUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.customerForm.$invalid" ng-click="configurationControllerScope.updateCustomerStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'vendor_Types'" ng-class="{'bggry':configurationControllerScope.divValue === 'vendor_Types'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#vendorTypes">Add New</button>
					</span>
                                <span class="operationRightDiv searchSectionRight">
						<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.vendorTypeSearchKeyword"/>
						<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn "></button>
						<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
					</span>
                            </div>
                            <div class="table-responsive vendor">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Vendor Types</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendorTypeList in configurationControllerScope.vendorsTypeList | filter: configurationControllerScope.vendorTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{vendorTypeList.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{vendorTypeList.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='vendorTypeList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateVendorStatus(configurationControllerScope.inactiveState,vendorTypeList._id,'statusUpdate')">Make Inactive</span>
                                                <span class="activeText " ng-if="vendorTypeList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateVendorStatus(configurationControllerScope.activeState,vendorTypeList._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash deleteIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deleteVendorType(vendorTypeList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editVendorTypeForm(vendorTypeList)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.vendorsTypeList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.vendorsTypeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="vendorTypes" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Vendor Types</h4>
                                    </div>
                                    <form name="configurationControllerScope.vendorForm">
                                        <div class="modal-body">
                                            <input type="text" name="vendortype" class="inputClass" placeholder="Vendor Type" ng-model="configurationControllerScope.vendortype.name" required/>
                                            <p ng-show="configurationControllerScope.vendorForm.vendortype.$invalid && configurationControllerScope.vendorForm.vendortype.$touched" class="">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn" ng-click="configurationControllerScope.declineMethod('vendortype')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.vendorUpdateBtn" name="button" class="activeBtn btn" ng-disabled="configurationControllerScope.vendorForm.$invalid" ng-click="configurationControllerScope.addVendorType()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.vendorUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.vendorForm.$invalid" ng-click="configurationControllerScope.updateVendorStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'time_Off_Types'" ng-class="{'bggry':configurationControllerScope.divValue === 'time_Off_Types'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#timeOffTypes">Add New</button>
					</span>
                                <span class="operationRightDiv searchSectionRight">
						<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.timeTypeSearchKeyword"/>
						<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn gridActionBtn btn"></button>
						<button class="glyphicon glyphicon-export defaultBtn gridActionBtn btn"></button>
					</span>
                            </div>
                            <div class="table-responsive timeOffType">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Time off Types</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <tr ng-repeat="timeTypeList in configurationControllerScope.timeOffTypeList | filter: configurationControllerScope.timeTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                                <td>{{timeTypeList.name}}</td>
                                                <td class="modelText resLeftText capitalizeText">{{timeTypeList.status}}</td>
                                                <td class="modelText resLeftText"><span class="activeText" ng-if='timeTypeList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateTimeOffTypeStatus(configurationControllerScope.inactiveState,timeTypeList._id,'statusUpdate')">Make Inactive</span>
                                                    <span class="activeText" ng-if="timeTypeList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateTimeOffTypeStatus(configurationControllerScope.activeState,timeTypeList._id,'statusUpdate')">Make Active</span>
                                                    <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deleteTimeOffType(timeTypeList._id)"></span> -->
                                                    <span ng-click="configurationControllerScope.editTimeOffTypeForm(timeTypeList)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.timeOffTypeList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.timeOffTypeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="timeOffTypes" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Time Off Types</h4>
                                    </div>
                                    <form name="configurationControllerScope.timeOffTypeForm">
                                        <div class="modal-body">
                                            <input type="text" name="timeofftype" class="inputClass" placeholder="Time Off Type" ng-model="configurationControllerScope.timeofftype.name" required/>
                                            <p ng-show="configurationControllerScope.timeOffTypeForm.timeofftype.$invalid && configurationControllerScope.timeOffTypeForm.timeofftype.$touched">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('timeofftype')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.timeOffTypeUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.timeOffTypeForm.$invalid" ng-click="configurationControllerScope.addTimeOffType()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.timeOffTypeUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.timeOffTypeForm.$invalid" ng-click="configurationControllerScope.updateTimeOffTypeStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'invoicing_Types'" ng-class="{'bggry':configurationControllerScope.divValue === 'invoicing_Types'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#invoicingTypes">Add New</button>
					</span>
                                <span class="operationRightDiv searchSectionRight">
						<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.invoiceTypeSearchKeyword"/>
						<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
						<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
					</span>
                            </div>
                            <div class="table-responsive invoiceType">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Invoice Types</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invoiceTypes in configurationControllerScope.invoiceTypeList | filter: configurationControllerScope.invoiceTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{invoiceTypes.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{invoiceTypes.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='invoiceTypes.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateInvoiceStatus(configurationControllerScope.inactiveState,invoiceTypes._id,'statusUpdate')">Make Inactive</span>
                                                <span class="activeText" ng-if="invoiceTypes.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateInvoiceStatus(configurationControllerScope.activeState,invoiceTypes._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deleteInvoiceType(invoiceTypes._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editInvoiceTypesForm(invoiceTypes)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.invoiceTypeList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.invoiceTypeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="invoicingTypes" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Invoice Types</h4>
                                    </div>
                                    <form name="configurationControllerScope.invoicingTypes">
                                        <div class="modal-body">
                                            <input type="text" name="invoicetype" class="inputClass" placeholder="Invoicing Type" ng-model="configurationControllerScope.invoicetype.name" required/>
                                            <p ng-show="configurationControllerScope.invoicingTypes.invoicetype.$invalid && configurationControllerScope.invoicingTypes.invoicetype.$touched">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('invoicetype')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.invoiceTypeUpdateBtn" name="button" class="activeBtn btn" ng-disabled="configurationControllerScope.invoicingTypes.$invalid" ng-click="configurationControllerScope.addInvoiceType()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.invoiceTypeUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.invoicingTypes.$invalid" ng-click="configurationControllerScope.updateInvoiceStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'payment_Terms'" ng-class="{'bggry':configurationControllerScope.divValue === 'payment_Terms'}">
                        <div class="row">
                            <div class="margin10">
                                <span>
					<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#paymentTerms">Add New</button>
				</span>
                                <span class="operationRightDiv">
					<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.payTypeSearchKeyword"/>
					<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn"></button>
					<button class="glyphicon glyphicon-export defaultBtn btn"></button>
				</span>
                            </div>
                            <div class="table-responsive paymentTerm">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Payment Terms</th>
                                            <th>No of Days</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="paymentTerm in configurationControllerScope.paymentTermList | filter: configurationControllerScope.payTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{paymentTerm.name}}</td>
                                            <td>{{paymentTerm.numberofdays}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{paymentTerm.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='paymentTerm.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updatePaymentTermStatus(configurationControllerScope.inactiveState,paymentTerm._id,'statusUpdate')">Make Inactive</span>
                                                <span class="activeText" ng-if="paymentTerm.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updatePaymentTermStatus(configurationControllerScope.activeState,paymentTerm._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deletePaymentTerm(paymentTerm._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editPaymentTermForm(paymentTerm)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg ">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.paymentTermList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.paymentTermList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="paymentTerms" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Payment Terms</h4>
                                    </div>
                                    <form name="configurationControllerScope.paymentTerms">
                                        <div class="modal-body">
                                            <input type="text" name="paymentterm" class="inputClass" placeholder="Payment Terms" ng-model="configurationControllerScope.paymentTerm.name" required/>
                                            <p ng-show="configurationControllerScope.paymentTerms.paymentterm.$invalid && configurationControllerScope.paymentTerms.paymentterm.$touched">Feild is required.</p>
                                            <div class="paymentIntNmr">
                                                <!-- <h6>no of days</h6> -->
                                                <input type="text" placeholder="No Of Days" class="inputClass" id="myNumber" ng-model="configurationControllerScope.paymentTerm.numberofdays">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('payment')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.paymentTermsUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.paymentTerms.$invalid" ng-click="configurationControllerScope.addPaymentTerm()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.paymentTermsUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.paymentTerms.$invalid" ng-click="configurationControllerScope.updatePaymentTermStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'invoice_Payment_Terms'" ng-class="{'bggry':configurationControllerScope.divValue === 'invoice_Payment_Terms'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
				<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#invoicePaymentTerms">Add New</button>
			</span>
                                <span class="operationRightDiv searchSectionRight">
				<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.invoicePayTypeSearchKeyword"/>
				<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
				<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
			</span>
                            </div>
                            <div class="table-responsive invoicePaymentTerm">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Invoice Payment Terms</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invoicePaymentTerms in configurationControllerScope.invoicePaymentTermList | filter: configurationControllerScope.invoicePayTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{invoicePaymentTerms.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{invoicePaymentTerms.status}}</td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='invoicePaymentTerms.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateInvoicePaymentTermStatus(configurationControllerScope.inactiveState,invoicePaymentTerms._id,'statusUpdate')">Make Inactive</span>
                                                <span class="activeText" ng-if="invoicePaymentTerms.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateInvoicePaymentTermStatus(configurationControllerScope.activeState,invoicePaymentTerms._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure to Delete ?" ng-really-click="configurationControllerScope.deleteInvoicePaymentTerm(invoicePaymentTerms._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editInvoicePaymentTermForm(invoicePaymentTerms)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg text-center">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.invoicePaymentTermList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.invoicePaymentTermList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="invoicePaymentTerms" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Invoice payment Terms</h4>
                                    </div>
                                    <form name="configurationControllerScope.invoicePaymentTerms">
                                        <div class="modal-body">
                                            <input type="text" name="invoicepaymentterm" class="inputClass" placeholder="Invoice Payment Terms" ng-model="configurationControllerScope.invoicePaymentTerm.name" required/>
                                            <p ng-show="configurationControllerScope.invoicePaymentTerms.invoicepaymentterm.$invalid && configurationControllerScope.invoicePaymentTerms.invoicepaymentterm.$touched">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('invoicepaymentterm')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.invoicePaymentTermUpdateBtn" name="button" class="activeBtn btn" ng-disabled="configurationControllerScope.invoicePaymentTerms.$invalid" ng-click="configurationControllerScope.addInvoicePaymentTerm()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.invoicePaymentTermUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.invoicePaymentTerms.$invalid" ng-click="configurationControllerScope.updateInvoicePaymentTermStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'employee_Role'" ng-class="{'bggry':configurationControllerScope.divValue === 'employee_Role'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
				<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#employeeRoles">Add New</button>
			</span>
                                <span class="operationRightDiv searchSectionRight">
				<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.empRoleTypeSearchKeyword"/>
				<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
				<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
			</span>
                            </div>
                            <div class="table-responsive EmployeeRole">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Employee Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="empRoleList in configurationControllerScope.employeeRoleList | filter: configurationControllerScope.empRoleTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{empRoleList.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{empRoleList.status}} </td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='empRoleList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateEmployeeRoleStatus(configurationControllerScope.inactiveState,empRoleList._id,'statusUpdate')" class="actionTab">Make Inactive</span>
                                                <span class="activeText" ng-if="empRoleList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateEmployeeRoleStatus(configurationControllerScope.activeState,empRoleList._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash actionIcon" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteEmployeeRoleType(empRoleList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editEmployeeRoleForm(empRoleList)" class="fa fa-pencil-square-o modelText resLeftText actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.employeeRoleList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.employeeRoleList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="employeeRoles" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Employee Role</h4>
                                    </div>
                                    <form name="configurationControllerScope.employeeRoleForm">
                                        <div class="modal-body">
                                            <input type="text" name="employeerole" class="inputClass" placeholder="Employee Role" ng-model="configurationControllerScope.employeeRole.name" required/>
                                            <p ng-show="configurationControllerScope.employeeRoleForm.employeerole.$invalid && configurationControllerScope.employeeRoleForm.employeerole.$touched" class="">Feild is required.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('employeerole')" data-dismiss="modal">Decline</button>
                                            <button type="button" ng-if="!configurationControllerScope.employeeRoleUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.employeeRoleForm.$invalid" ng-click="configurationControllerScope.addEmployeeRole()">Save</button>
                                            <button type="button" ng-if="configurationControllerScope.employeeRoleUpdateBtn" class="activeBtn btn" ng-disabled="configurationControllerScope.employeeRoleForm.$invalid" ng-click="configurationControllerScope.updateEmployeeRoleStatus('','','updateOpp')">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" ng-if="configurationControllerScope.divValue  == 'country'" ng-class="{'bggry':configurationControllerScope.divValue === 'country'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
				<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#country">Add New</button>
			</span>
                                <span class="operationRightDiv searchSectionRight">
				<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.countryTypeSearchKeyword"/>
				<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
				<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
			</span>
                            </div>
                            <div class="table-responsive country">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Country Name</th>
                                            <th>Country Code</th>
                                            <th>Country Calling Code</th>
                                            <th>Currency Type</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="countryList in configurationControllerScope.countryDetailsList | filter: configurationControllerScope.countryTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{countryList.name}}</td>
                                            <td>{{countryList.countryCode}}</td>
                                            <td>{{countryList.callingCode}}</td>
                                            <td>{{countryList.currencyType}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{countryList.status}} </td>
                                            <td class="modelText resLeftText"><span class="activeText modelText" ng-if='countryList.status == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateCountryStatus(configurationControllerScope.inactiveState,countryList._id, 'statusUpdate')" class="actionTab">Make Inactive</span>
                                                <span class="activeText modelText resLeftText" ng-if="countryList.status == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateCountryStatus(configurationControllerScope.activeState,countryList._id,'statusUpdate')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash modelText resLeftText activeText actionIcon" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteCountry(countryList._id)"></span> -->
                                                <span ng-click="configurationControllerScope.editCountryDetailForm(countryList)" class="fa fa-pencil-square-o actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.countryDetailsList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.countryDetailsList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="country" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                                        <h4 class="modal-title">Country Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="configurationControllerScope.countryDetailForm">
                                            <div class="modal-body">
                                                <input type="text" name="countryName" class="inputClass" placeholder="Country Name" ng-model="configurationControllerScope.country.name" required/>
                                                <p ng-show="configurationControllerScope.countryDetailForm.countryName.$invalid && configurationControllerScope.countryDetailForm.countryName.$touched" class="">Feild is required.</p>
                                                <input type="text" name="code" class="inputClass" placeholder="Country Code" ng-model="configurationControllerScope.country.countryCode" required/>
                                                <p ng-show="configurationControllerScope.countryDetailForm.code.$invalid && configurationControllerScope.countryDetailForm.code.$touched" class="">Feild is required.</p>
                                                <input type="text" name="callingCode" class="inputClass" placeholder="Country Calling Code" ng-model="configurationControllerScope.country.callingCode" required/>
                                                <p ng-show="configurationControllerScope.countryDetailForm.callingCode.$invalid && configurationControllerScope.countryDetailForm.callingCode.$touched" class="">Feild is required.</p>
                                                <input type="text" name="currency" class="inputClass" placeholder="Currency Type" ng-model="configurationControllerScope.country.currencyType" required/>
                                                <p ng-show="configurationControllerScope.countryDetailForm.currency.$invalid && configurationControllerScope.countryDetailForm.currency.$touched" class="">Feild is required.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('country')" data-dismiss="modal">Decline</button>
                                                <button ng-if="!configurationControllerScope.countryUpdate" type="button" class="activeBtn btn" ng-disabled="configurationControllerScope.countryDetailForm.$invalid" ng-click="configurationControllerScope.addNewCountry()">Save</button>
                                                <button type="button" class="activeBtn btn" ng-if="configurationControllerScope.countryUpdate" ng-disabled="configurationControllerScope.countryDetailForm.$invalid" ng-click="configurationControllerScope.updateCountryStatus('','','updateOp')">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 configdatasectionparent" class="" ng-if="configurationControllerScope.divValue  == 'state'" ng-class="{'bggry':configurationControllerScope.divValue === 'state'}">
                        <div class="row">
                            <div class="margin10 searchSection">
                                <span class="searchSectionLeft">
				<button class="glyphicon-plus activeBtn btn" data-toggle="modal" data-target="#state">Add New</button>
			</span>
                                <span class="operationRightDiv searchSectionRight">
				<input ng-show="goSrch" class="srchBtn" ng-model=" configurationControllerScope.stateTypeSearchKeyword"/>
				<button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
				<button class="glyphicon glyphicon-export defaultBtn btn gridActionBtn"></button>
			</span>
                            </div>
                            <div class="table-responsive state">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>State Name</th>
                                            <th>Country Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="stateList in configurationControllerScope.stateDetailsList | filter: configurationControllerScope.stateTypeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{stateList.statename}}</td>
                                            <td>{{stateList.name}}</td>
                                            <td class="modelText resLeftText capitalizeText">{{stateList.stateStatus}} </td>
                                            <td class="modelText resLeftText"><span class="activeText" ng-if='stateList.stateStatus == configurationControllerScope.activeState' ng-click="configurationControllerScope.updateStateStatus(configurationControllerScope.inactiveState,stateList.countryId,stateList.stateId,'statusEdit')" class="actionTab">Make Inactive</span>
                                                <span class="activeText" ng-if="stateList.stateStatus == configurationControllerScope.inactiveState" ng-click="configurationControllerScope.updateStateStatus(configurationControllerScope.activeState,stateList.countryId, stateList.stateId,'statusEdit')">Make Active</span>
                                                <!-- <span class="glyphicon glyphicon-trash activeText actionIcon" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteState(stateList.stateId,stateList.countryId)"></span> -->
                                                <span ng-click="configurationControllerScope.editStateDetailForm(stateList)" class="fa fa-pencil-square-o actionIcon"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="infoMsg">{{configurationControllerScope.infoMsg}}</div>
                                <div ng-show="configurationControllerScope.stateDetailsList.length > 0 " class="text-center">
                                    <pagination ng-model="currentPage" total-items="configurationControllerScope.stateDetailsList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div id="state" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                                        <h4 class="modal-title">State Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="configurationControllerScope.stateDetailForm">
                                            <div class="modal-body pos-rel">
                                                <!--<select name="stateName" ng-change="configurationControllerScope.countryChangeEvent()" ng-model="configurationControllerScope.stateInfo.name" class="inputClass" ng-options="v.name for v in configurationControllerScope.countryDetailsList">
							<option value="" disabled selected="selected" style="display: none;">Select Country</option>
						</select>-->
                                                <div class="customDropDown">
                                                    <label class="selectCountryLabel" click-anywhere="showMenu4=false"  ng-click="showMenu4=!showMenu4" ng-model="configurationControllerScope.stateInfo.name">{{configurationControllerScope.stateInfo.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                    <ul ng-show="showMenu4" class="dropDownUl" name="stateName">
                                                     <li class="noPad"><input click-anywhere="showMenustate=false"  type="text" class="form-control" ng-model="configurationControllerScope.keywordstate" placeholder="Search"></li>
                                                        <li ng-repeat="v in configurationControllerScope.countryDetailsList | filter: configurationControllerScope.keywordstate" ng-click="configurationControllerScope.selectedCountryFun(v.name,v._id)">{{v.name}}</li>
                                                    </ul>
                                                </div>
                                                <p ng-show="configurationControllerScope.stateDetailForm.stateName.$invalid && configurationControllerScope.stateDetailForm.stateName.$touched" class="">Feild is required.</p>
                                                <input type="text" name="statename" class="inputClass" placeholder="State Name" ng-model="configurationControllerScope.stateInfo.statename" required/>
                                                <p ng-show="configurationControllerScope.stateDetailForm.statename.$invalid && configurationControllerScope.stateDetailForm.statename.$touched" class="">Feild is required.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="defaultBtn btn" ng-click="configurationControllerScope.declineMethod('state')" data-dismiss="modal">Decline</button>
                                                <button ng-if="!configurationControllerScope.stateUpdateBtn" type="button" class="activeBtn btn" ng-disabled="configurationControllerScope.stateDetailForm.$invalid" ng-click="configurationControllerScope.addNewState()">Save</button>
                                                <button ng-if="configurationControllerScope.stateUpdateBtn" type="button" class="activeBtn btn" ng-disabled="configurationControllerScope.stateDetailForm.$invalid" ng-click="configurationControllerScope.updateStateStatus('','','','updateOp')">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{configurationControllerScope.alertMsg}}</p>
        <button ng-click="configurationControllerScope.hideAlertPopup()" class="btn activeBtn btn">OK</button>
    </modal-dialog>
</div>
