<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{requirementControllerScope.alertMsg}}</p>
            <button ng-click="requirementControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="requirementControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Requirement</div>
                    <div class="innerdivContainer red-icon">
                        <form name="requirementControllerScope.createRequirementForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{requirementControllerScope.infoMsg}}</div>
                            <div class="infoMsg" ng-hide="true">{{requirementControllerScope.infoViewMsg}}</div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Customer  <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <div class="customDropDown">
                                    <label  click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu"  class="selectCountryLabel">{{requirementControllerScope.selectedCustomer.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenu" class="dropDownUl" name="customer">
                                    <li class="noPad"><input click-anywhere="showMenu=false"  type="text" class="form-control" ng-model="requirementControllerScope.keyword" placeholder="Search"></li>
                                        <li ng-repeat="customer in requirementControllerScope.customerList | filter: requirementControllerScope.keyword" ng-click="requirementControllerScope.selectedCustomerFun(customer)" ng-if="customer.status==='active'">{{customer.name}}</li>
                                    </ul>
                                    </div>
                                    <p ng-show="requirementControllerScope.createRequirementForm.customer.$error.required && requirementControllerScope.createRequirementForm.customer.$invalid && requirementControllerScope.createRequirementForm.customer.$touched" class="errorMsg">Choose Customer</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Project  <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                 <div class="customDropDown">
                                    <label  click-anywhere="showMenus=false"  ng-click="showMenus=!showMenus"  class="selectCountryLabel" >{{requirementControllerScope.selectedProject.projectName}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenus" class="dropDownUl" name="projectName">
                                    <li class="noPad"><input click-anywhere="showMenus=false"  type="text" class="form-control" ng-model="requirementControllerScope.keywords" placeholder="Search"></li>
                                        <li ng-repeat="project in requirementControllerScope.projectList | filter: requirementControllerScope.keywords" ng-click="requirementControllerScope.selectedProjectFun(project)"  ng-if="project.status==='active'">{{project.projectName}}</li>
                                    </ul>
                                    </div>
                                    <p ng-show="requirementControllerScope.createRequirementForm.projectName.$error.required && requirementControllerScope.createRequirementForm.projectName.$invalid && requirementControllerScope.createRequirementForm.projectName.$touched" class="errorMsg">Choose Project</p>
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Minimum Experience <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="minExp" class="inputClass" ng-model="requirementControllerScope.requirement.minExp" show-button-bar="false" placeholder="Minimum Experience" required />
                                </div>
                                <p ng-show="requirementControllerScope.createRequirementForm.minExp.$invalid && requirementControllerScope.createRequirementForm.minExp.$touched" class="errorMsg">Feild is required.</p>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Maximum Experience <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="maxExp" class="inputClass" placeholder="Maximum Experience" ng-model="requirementControllerScope.requirement.maxExp" required/>
                                    <p ng-show="requirementControllerScope.createRequirementForm.maxExp.$invalid && requirementControllerScope.createRequirementForm.maxExp.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Cost</label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="cost" class="inputClass" placeholder="Cost" ng-model="requirementControllerScope.requirement.cost" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"/>
                                    <p ng-show="requirementControllerScope.createRequirementForm.cost.$error.required && requirementControllerScope.createRequirementForm.cost.$invalid && requirementControllerScope.createRequirementForm.cost.$touched" class="errorMsg">Enter Cost</p>
                                    <p ng-show="requirementControllerScope.createRequirementForm.cost.$error.pattern" class="errorMsg">Enter Correct Amount.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Job Description
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15" style="display: inline-flex;">
                                    <textarea type="text" name="jobDescription" class="inputClass" placeholder="Job Description" ng-model="requirementControllerScope.requirement.jobDescription" maxlength="250"></textarea>
                                    <p ng-show="requirementControllerScope.createRequirementForm.jobDescription.$error.required && requirementControllerScope.createRequirementForm.jobDescription.$invalid && requirementControllerScope.createRequirementForm.jobDescription.$touched" class="errorMsg">Job Description</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comments
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15" style="display: inline-flex;">
                                    <textarea type="text" name="comment" class="inputClass" placeholder="Comments" ng-model="requirementControllerScope.requirement.comment"></textarea>
                                    <p ng-show="requirementControllerScope.createRequirementForm.comment.$error.required && requirementControllerScope.createRequirementForm.comment.$invalid && requirementControllerScope.createRequirementForm.comment.$touched" class="errorMsg">Comments</p>
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure ?" ng-really-click="requirementControllerScope.decline()">Decline</button>
                                <button class="activeBtn btn" ng-disabled="requirementControllerScope.createRequirementForm.$invalid" ng-click="requirementControllerScope.addRequirement()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
