<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{offersControllerScope.alertMsg}}</p>
            <button ng-click="offersControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="offersControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv" ng-init="isViewOffer=false">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Offers</div>
                    <div class="innerdivContainer red-icon">
                        <form name="offersControllerScope.createOfferForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{offersControllerScope.infoMsg}}</div>
                            <div class="infoMsg" ng-show="isViewOffer">{{offersControllerScope.infoViewMsg}}</div>
                            <div class="form-group row">
                        
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Requirement</label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                     <div class="customDropDown">
                                    <label class="selectCountryLabel" click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu" >{{offersControllerScope.selectedRequirement.projectName}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenu" toggle-class class="dropDownUl" name="projectName">
                                     <li class="noPad"><input click-anywhere="showMenu=false"  type="text" class="form-control" ng-model="offersControllerScope.keyword" placeholder="Search"></li>
                                        <li ng-repeat="project in offersControllerScope.projectList | filter: offersControllerScope.keyword" ng-click="offersControllerScope.selectedRequirementFun(project)" ng-if="project.status==='active'">{{project.projectName}}</li>
                                    </ul></div>
                                    <p ng-show="offersControllerScope.createOfferForm.projectName.$error.required && offersControllerScope.createOfferForm.projectName.$invalid && offersControllerScope.createOfferForm.projectName.$touched" class="errorMsg">Choose Requirement</p>
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Offering Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input ng-click="offersControllerScope.openOfferingDateCalender($event)" type="text" class="inputClass" datepicker-popup="{{format}}" ng-model="offersControllerScope.offer.offerDate" is-open="offersControllerScope.offerDateCalender" show-button-bar="false" placeholder="Select Offering Date" name="date" readonly />
                                </div>
                                <span class="input-group-btn mob-pos-abs select-button calen">
                                    <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="offersControllerScope.openOfferingDateCalender($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <p ng-show="offersControllerScope.createOfferForm.date.$invalid && offersControllerScope.createOfferForm.date.$touched" class="errorMsg">Feild is required.</p>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Candidate Name
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="candidateName" class="inputClass" placeholder="Candidate Name" ng-model="offersControllerScope.offer.candidateName" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                    <p ng-show="offersControllerScope.createOfferForm.candidateName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                    <p ng-show="offersControllerScope.createOfferForm.displayName.$invalid && offersControllerScope.createOfferForm.displayName.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Designation<span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="projectcode" class="inputClass" placeholder="Designation" ng-model="offersControllerScope.offer.designation" required/>
                                    <p ng-show="offersControllerScope.createOfferForm.projectcode.$error.required && offersControllerScope.createOfferForm.projectcode.$invalid && offersControllerScope.createOfferForm.projectcode.$touched" class="errorMsg">Enter Designation</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Number<span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="contact" class="inputClass" placeholder="Contact Number" ng-model="offersControllerScope.offer.contact" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" required/>
                                    <p ng-show="offersControllerScope.createOfferForm.contact.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                    <p ng-show="offersControllerScope.createOfferForm.contact.$error.required && offersControllerScope.createOfferForm.contact.$invalid && offersControllerScope.createOfferForm.contact.$touched" class="errorMsg">Enter Contact Number</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">CTC <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="ctc" class="inputClass" placeholder="CTC" ng-model="offersControllerScope.offer.ctc" required/>
                                    <p ng-show="offersControllerScope.createOfferForm.ctc.$error.required && offersControllerScope.createOfferForm.ctc.$invalid && offersControllerScope.createOfferForm.ctc.$touched" class="errorMsg">Enter CTC</p>
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Expected Joining Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input ng-click="offersControllerScope.openJoiningDateCalender($event)" type="text" class="inputClass" datepicker-popup="{{format}}" ng-model="offersControllerScope.offer.joiningDate" is-open="offersControllerScope.joiningDateCalender" show-button-bar="false" placeholder="Select Expected Joining Date" name="date" readonly />
                                </div>
                                <span class="input-group-btn mob-pos-abs select-button calen">
                              <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="offersControllerScope.openJoiningDateCalender($event)" >
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                          </span>
                                <p ng-show="offersControllerScope.createOfferForm.address1.$invalid && offersControllerScope.createOfferForm.address1.$touched" class="errorMsg">Feild is required.</p>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comments
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15" style="display: inline-flex;">
                                    <textarea type="text" name="comment" ng-model="offersControllerScope.offer.comment" class="inputClass" placeholder="Comments"  maxlength="250"></textarea>
                                    <p ng-show="offersControllerScope.createOfferForm.comment.$error.required && offersControllerScope.createOfferForm.comment.$invalid && offersControllerScope.createOfferForm.comment.$touched" class="errorMsg">Comments</p>
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure ?" ng-really-click="offersControllerScope.decline()">Decline</button>
                                <button class="activeBtn btn" ng-disabled="offersControllerScope.createOfferForm.$invalid" ng-click="offersControllerScope.addOffer()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
