<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="createVendorControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Vendor</div>
                    <div class="innerdivContainer">
                        <form name="createVendorControllerScope.createVendorForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{createVendorControllerScope.infoMsg}}</div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 col-xs-6 lineheight2pt6">Country
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu" class="selectCountryLabel" >{{createVendorControllerScope.selectedCountry.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <ul ng-show="showMenu" class="dropDownUl" name="country">
                                         <li class="noPad"><input click-anywhere="showMenu=false"  type="text" class="form-control" ng-model="createVendorControllerScope.keyword1" placeholder="Search"></li>
                                            <li ng-repeat="countrys in createVendorControllerScope.countryList | filter: createVendorControllerScope.keyword1 " ng-click="createVendorControllerScope.selectedCountryFun(countrys)">{{countrys.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createVendorControllerScope.createVendorForm.country.$error.required && createVendorControllerScope.createVendorForm.country.$invalid && createVendorControllerScope.createVendorForm.country.$touched" class="errorMsg">Select Country</p>
                                </div>
                            </div>
                            <div class="form-group row" ng-disable="!createVendorControllerScope.vendor.country">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">State
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showMenu1=false"  ng-click="showMenu1=!showMenu1">{{createVendorControllerScope.selectedState.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <ul ng-show="showMenu1" class="dropDownUl" name="state">
                                        <li class="noPad"><input click-anywhere="showMenu1=false"  type="text" class="form-control" ng-model="createVendorControllerScope.keyword2" placeholder="Search"></li>
                                            <li ng-repeat="state in createVendorControllerScope.stateList | filter: createVendorControllerScope.keyword2" ng-click="createVendorControllerScope.selectedstateFun(state)">{{state.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createVendorControllerScope.createVendorForm.state.$error.required && createVendorControllerScope.createVendorForm.state.$invalid && createVendorControllerScope.createVendorForm.state.$touched" class="errorMsg">Select State</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Vendor Name
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" name="cusstomerName" class="inputClass" placeholder="Vendor Name" ng-model="createVendorControllerScope.vendor.name" required/>
                                    <p ng-show="createVendorControllerScope.createVendorForm.cusstomerName.$invalid && createVendorControllerScope.createVendorForm.cusstomerName.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Vendor Type
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showMenu2=false"  ng-click="showMenu2=!showMenu2">{{createVendorControllerScope.selectedvendor.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <ul ng-show="showMenu2" class="dropDownUl" name="vendorType">
                                        <li class="noPad"><input click-anywhere="showMenu2=false"  type="text" class="form-control" ng-model="createVendorControllerScope.keyword3" placeholder="Search"></li>
                                            <li ng-repeat="vendor in createVendorControllerScope.vendorTypeList | filter: createVendorControllerScope.keyword3" ng-click="createVendorControllerScope.selectedvendorFun(vendor)">{{vendor.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createVendorControllerScope.createVendorForm.vendorType.$error.required && createVendorControllerScope.createVendorForm.vendorType.$invalid && createVendorControllerScope.createVendorForm.vendorType.$touched" class="errorMsg">Select Vendor Type</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Address 1
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createVendorControllerScope.vendor.address1" name="address1" placeholder="Address Line 1" required/>
                                    <p ng-show="createVendorControllerScope.createVendorForm.address1.$invalid && createVendorControllerScope.createVendorForm.address1.$touched" class="errorMsg">Field is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Address 2
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createVendorControllerScope.vendor.address2" name="name" placeholder="Address Line 2" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">City
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createVendorControllerScope.vendor.city" name="city" placeholder="City" required/>
                                    <p ng-show="createVendorControllerScope.createVendorForm.city.$invalid && createVendorControllerScope.createVendorForm.city.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Zip
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createVendorControllerScope.vendor.zip" name="zip" placeholder="Zip" required/>
                                    <p ng-show="createVendorControllerScope.createVendorForm.zip.$invalid && createVendorControllerScope.createVendorForm.zip.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Number
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12" style="display: inline-flex;">
                                    <div class="width50p customDropDown mar-top-5">
                                        <label class="selectCountryLabel" click-anywhere="showMenu3=false"  ng-click="showMenu3=!showMenu3">

        {{createVendorControllerScope.selectCountryCodeType.countryCode}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <ul ng-show="showMenu3" class="dropDownUl" name="countryCode">
                                        <li class="noPad"><input click-anywhere="showMenu3=false"  type="text" class="form-control" ng-model="createVendorControllerScope.keyword4" placeholder="Search"></li>
                                            <li ng-repeat="value in createVendorControllerScope.countryList | filter: createVendorControllerScope.keyword4" ng-click="createVendorControllerScope.selectedcodeFun(value)">{{value.callingCode}}({{value.name}})</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createVendorControllerScope.createVendorForm.countryCode.$error.required && createVendorControllerScope.createVendorForm.countryCode.$invalid && createVendorControllerScope.createVendorForm.countryCode.$touched" class="errorMsg">Select Country</p>
                                    <input type="number" class="inputWidth pad-10" ng-model="createVendorControllerScope.vendor.contactno" name="contactno" placeholder="Vendor Contact Number" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Email
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="email" class="inputClass" ng-model="createVendorControllerScope.vendor.email" name="email" placeholder="Vendor Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                    <p class="errorMsg" ng-show="createVendorControllerScope.createVendorForm.email.$error.pattern">
                                        Please enter a valid email.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Website
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createVendorControllerScope.vendor.website" name="website" placeholder="Website" />
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure ?" ng-really-click="createVendorControllerScope.decline()">Decline</button>
                                <!-- <span class="glyphicon glyphicon-trash deleteIcon datacenter" ng-really-message="Are you sure ?" ng-really-click="configurationControllerScope.deleteWorkLocation(workList._id)"></span> -->
                                <button class="activeBtn btn" ng-disabled="createVendorControllerScope.createVendorForm.$invalid" ng-click="createVendorControllerScope.addVendor()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{createVendorControllerScope.alertMsg}}</p>
        <button ng-click="createVendorControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
