<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{createEmployeeControllerScope.alertMsg}}</p>
            <button ng-click="createEmployeeControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="createEmployeeControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">New Employee</div>
                    <div class="innerdivContainer red-icon create-employee">
                        <form name="createEmployeeControllerScope.createEmployeeForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{createEmployeeControllerScope.infoMsg}}</div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Work Location<span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel mar-top-5" click-anywhere="showMenu=false;showLabel=false" ng-click="showMenu=!showMenu;showLabel=!showLabel" ng-show="!showLabel">{{createEmployeeControllerScope.selectedWork.worklocation}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <input click-anywhere="showMenuworkLocation=false" type="text" class="inputClass" ng-model="createEmployeeControllerScope.keywordworkLocation" placeholder="Select Work Location" ng-show="showLabel" name="worklocationSearch">
                                        <ul ng-show="showMenu" class="dropDownUl" name="workplace">
                                            <li ng-repeat="workPlace in createEmployeeControllerScope.worklocationListType | filter: createEmployeeControllerScope.keywordworkLocation" ng-click="createEmployeeControllerScope.selectedWorkFun(workPlace)">{{workPlace.worklocation}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createEmployeeControllerScope.createEmployeeForm.workplace.$error.required && createEmployeeControllerScope.createEmployeeForm.workplace.$invalid && createEmployeeControllerScope.createEmployeeForm.workplace.$touched" class="errorMsg">Select Work Location</p>
                                </div>
                                <!-- <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button" ng-click="createEmployeeControllerScope.moveToWorkLocation()"></button> -->
                            </div>
                            <div ng-show="createEmployeeControllerScope.isSelectedEmployee" class="create-employee-inner">
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Employee Id
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="empId" class="inputClass" placeholder="Employee Id" ng-model="createEmployeeControllerScope.employee.empid" required/>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.empId.$invalid && createEmployeeControllerScope.createEmployeeForm.empId.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">First Name
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="fname" class="inputClass" placeholder="First Name" ng-model="createEmployeeControllerScope.employee.fname" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.fname.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.fname.$invalid && createEmployeeControllerScope.createEmployeeForm.fname.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Middle Name
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="mname" class="inputClass" placeholder="Middle Name" ng-model="createEmployeeControllerScope.employee.mname" ng-pattern="/^[a-zA-Z\ ]*$/" />
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.mname.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Last Name
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="lname" class="inputClass" placeholder="Last Name" ng-model="createEmployeeControllerScope.employee.lname" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.lname.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.lname.$invalid && createEmployeeControllerScope.createEmployeeForm.lname.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Personal Contact
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="emergencyNumber" class="inputClass" placeholder="Personal Contact" ng-model="createEmployeeControllerScope.employee.conatct.emergencyNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" required/>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.emergencyNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.emergencyNumber.$invalid && createEmployeeControllerScope.createEmployeeForm.emergencyNumber.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Primary Contact </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="primaryNumber" class="inputClass" placeholder="Primary Contact " ng-model="createEmployeeControllerScope.employee.conatct.primaryNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" />
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.primaryNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Company Email
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="companyEmail" class="inputClass" placeholder="Company Email" ng-model="createEmployeeControllerScope.employee.email.companyEmail" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />
                                        <p class="errorMsg" ng-show="createEmployeeControllerScope.createEmployeeForm.companyEmail.$error.pattern"> Please enter a valid email. Ex abc@saptalabs.com</p>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.companyEmail.$invalid && createEmployeeControllerScope.createEmployeeForm.companyEmail.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Personal Email
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="emergencyEmail" class="inputClass" placeholder="Personal Email" ng-model="createEmployeeControllerScope.employee.email.emergencyEmail" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />
                                        <p class="errorMsg" ng-show="createEmployeeControllerScope.createEmployeeForm.emergencyEmail.$error.pattern"> Please enter a valid email. Ex abc@saptalabs.com</p>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.emergencyEmail.$invalid && createEmployeeControllerScope.createEmployeeForm.emergencyEmail.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Gender
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-6 col-md-6 switch-field pad-right-0">
                                        <input type="radio" id="switch_left" name="switch_2" value="Male" ng-model="createEmployeeControllerScope.employee.gender" />
                                        <label for="switch_left" class="linheight2pt7">Male</label>
                                        <input type="radio" id="switch_right" ng-model="createEmployeeControllerScope.employee.gender" name="switch_2" value="Female" />
                                        <label for="switch_right" class="linheight2pt7">Female</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Aadhar Id </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="adharno" class="inputClass" placeholder="Employee Aadhar Id" ng-model="createEmployeeControllerScope.employee.adharno" ng-pattern="/^[0-9]{4}(\ )?[0-9]{4}(\ )?[0-9]{4}$/" ng-maxlength="14" />
                                        <p class="errorMsg" ng-show="createEmployeeControllerScope.createEmployeeForm.adharno.$error.pattern && createEmployeeControllerScope.createEmployeeForm.adharno.$invalid"> Please enter a valid Adhar number. Use Only numbers. Can use SPACE after 4 digit each. ex 0000 0000 0000 or 000000000000</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">PAN NO </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="panno" class="inputClass" placeholder="Employee Pan Number" ng-model="createEmployeeControllerScope.employee.panno" ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/" ng-change="createEmployeeControllerScope.employee.panno = (createEmployeeControllerScope.employee.panno | uppercase)" />
                                        <p class="errorMsg" ng-show="createEmployeeControllerScope.createEmployeeForm.panno.$error.pattern"> Please enter a valid PAN Card. Ex AAAAA0000A</p>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Birth Date <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" class="inputClass" name="dateOfBirth" datepicker-popup="{{format}}" ng-click="createEmployeeControllerScope.opendateOfBirthCalender($event)" ng-model="createEmployeeControllerScope.employee.dateOfBirth" is-open="createEmployeeControllerScope.dateOfBirthCalender" placeholder="Select Date Of Birth" show-button-bar="false" required />
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.dateOfBirth.$error.required && createEmployeeControllerScope.createEmployeeForm.dateOfBirth.$invalid && createEmployeeControllerScope.createEmployeeForm.dateOfBirth.$touched" class="errorMsg">Select Date Of Birth</p>
                                    </div>
                                    <span class="mob-pos-abs select-button calen mob-right-18">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createEmployeeControllerScope.opendateOfBirthCalender($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Employee Type <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <label class="selectCountryLabel mar-top-5" click-anywhere="showMenu1=false;showEmployeeTypeLabel=false" ng-click="showMenu1=!showMenu1;showEmployeeTypeLabel=!showEmployeeTypeLabel" ng-show="!showEmployeeTypeLabel">{{createEmployeeControllerScope.selectedEmployeeType.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                            <input click-anywhere="showMenuemployeeType=false" type="text" class="inputClass" ng-model="createEmployeeControllerScope.keywordemployeeType" placeholder="Select Employee Type" ng-show="showEmployeeTypeLabel" name="worklocationSearch">
                                            <ul ng-show="showMenu1" class="dropDownUl" name="employeeType">
                                                <li ng-repeat="emptypelist in createEmployeeControllerScope.employeeTypeList | filter: createEmployeeControllerScope.keywordemployeeType" ng-click="createEmployeeControllerScope.selectedEmployeeFun(emptypelist)">{{emptypelist.name}}</li>
                                            </ul>
                                        </div>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.employeeType.$error.required && createEmployeeControllerScope.createEmployeeForm.employeeType.$invalid && createEmployeeControllerScope.createEmployeeForm.employeeType.$touched" class="errorMsg">Select Work Location</p>
                                    </div>
                                    <!-- <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button mob-right-18" ng-click="createEmployeeControllerScope.moveToEmplyType()"></button> -->
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Reporting To </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="pos-rel">
                                            <input type="text" name="reportingTo" class="inputClass" placeholder="Select Reporting To" ng-model="createEmployeeControllerScope.employee.reporting" ng-change="createEmployeeControllerScope.getEmployeeByEmailOrName(createEmployeeControllerScope.employee.reporting)" autocomplete="off" />
                                            <p class="errorMsg" ng-show="createEmployeeControllerScope.employeeListNotFound">Employee Record Not Found</p>
                                            <div class="pos-abs employeeSearchDiv" ng-show="createEmployeeControllerScope.isEmployeeFound">
                                                <ul>
                                                    <li ng-repeat="employee in createEmployeeControllerScope.employeeList" ng-click="createEmployeeControllerScope.selectedRepoting(employee)">
                                                        <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                        <p class="small">{{employee.email[0].companyEmail}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Department <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <label class="selectCountryLabel mar-top-5" click-anywhere="showMenu3=false;showDepartmentLabel=false" ng-click="showMenu3=!showMenu3;showDepartmentLabel=!showDepartmentLabel" ng-show="!showDepartmentLabel">{{createEmployeeControllerScope.selectedDepartmentType.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                            <input click-anywhere="showMenuDepartment=false" type="text" class="inputClass" ng-model="createEmployeeControllerScope.keywordDepartment" placeholder="Select Department" ng-show="showDepartmentLabel">
                                            <ul ng-show="showMenu3" class="dropDownUl" name="department">
                                                <li ng-repeat="deplist in createEmployeeControllerScope.departmentList | filter: createEmployeeControllerScope.keywordDepartment" ng-click="createEmployeeControllerScope.selectedDepartmentFun(deplist)">{{deplist.name}}</li>
                                            </ul>
                                        </div>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.department.$error.required && createEmployeeControllerScope.createEmployeeForm.department.$invalid && createEmployeeControllerScope.createEmployeeForm.department.$touched" class="errorMsg">Select Department</p>
                                    </div>
                                    <!--  <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button mob-right-18" ng-click="createEmployeeControllerScope.moveToDepartment()"></button> -->
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Title
                                        <span class="reqStar">*</span>
                                    </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="emptitle" class="inputClass" placeholder="Employee Title At Organization" ng-model="createEmployeeControllerScope.employee.emptitle" required/>
                                        <p ng-show="createEmployeeControllerScope.createEmployeeForm.emptitle.$invalid && createEmployeeControllerScope.createEmployeeForm.emptitle.$touched" class="errorMsg">Feild is required.</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Job Description </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" name="jobdesc" class="inputClass" placeholder="Job Description" ng-model="createEmployeeControllerScope.employee.jobdescription" />
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel last-child-button">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Start Date
                                        <span class="reqStar">*</span> </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" class="inputClass" datepicker-popup="{{format}}" ng-click="createEmployeeControllerScope.openjoiningDateCalender($event)" ng-model="createEmployeeControllerScope.employee.joiningDate" is-open="createEmployeeControllerScope.joiningDateCalender" show-button-bar="false" placeholder="Select Start Date" readonly required/>
                                    </div>
                                    <span class="input-group-btn mob-pos-abs select-button">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createEmployeeControllerScope.openjoiningDateCalender($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                </div>
                                <div class="formfooterbtns">
                                    <button class="defaultBtn btn" ng-really-message="Are you sure you want to decline?" ng-really-click="createEmployeeControllerScope.decline()">Decline</button>
                                    <button class="activeBtn btn" ng-disabled="createEmployeeControllerScope.createEmployeeForm.$invalid" ng-click="createEmployeeControllerScope.createEmployee()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
