<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{createCustomerControllerScope.alertMsg}}</p>
            <button ng-click="createCustomerControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="createCustomerControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Customer</div>
                    <div class="innerdivContainer">
                        <form name="createCustomerControllerScope.createCustomerForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{createCustomerControllerScope.infoMsg}}</div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Country
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu">{{createCustomerControllerScope.customer.country.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                        <ul ng-show="showMenu" class="dropDownUl mediumDropDownUl" name="country">
                                        <li class="noPad"><input click-anywhere="showMenu1=false"  type="text" class="form-control" ng-model="createCustomerControllerScope.keyword1" placeholder="Search"></li>
                                            <li ng-repeat="countrys in createCustomerControllerScope.countryList | filter: createCustomerControllerScope.keyword1" ng-click="createCustomerControllerScope.selectedCountryFun(countrys,countrys.state)">{{countrys.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.country.$error.required && createCustomerControllerScope.createCustomerForm.country.$invalid && createCustomerControllerScope.createCustomerForm.country.$touched" class="errorMsg">Select Country</p>
                                </div>
                            </div>
                            <div class="form-group row" ng-disable="!createCustomerControllerScope.customer.country">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">State
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showMenu1=false" ng-click="showMenu1=!showMenu1">{{createCustomerControllerScope.customer.state.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                        <ul ng-show="showMenu1" class="dropDownUl mediumDropDownUl" name="state">
                                         <li class="noPad"><input click-anywhere="showMenu2=false"  type="text" class="form-control" ng-model="createCustomerControllerScope.keyword2" placeholder="Search"></li>
                                            <li ng-repeat="state in createCustomerControllerScope.stateDetailList | filter:createCustomerControllerScope.keyword2" ng-click="createCustomerControllerScope.selectedStateFun(state)">{{state.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.state.$error.required && createCustomerControllerScope.createCustomerForm.state.$invalid && createCustomerControllerScope.createCustomerForm.state.$touched" class="errorMsg">Select State</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Customer Name
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" name="cusstomerName" class="inputClass" placeholder="Customer Name" ng-model="createCustomerControllerScope.customer.name" required/>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.cusstomerName.$invalid && createCustomerControllerScope.createCustomerForm.cusstomerName.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Customer Type
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showMenu2=false" ng-click="showMenu2=!showMenu2">{{createCustomerControllerScope.customer.customerType}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                        <ul ng-show="showMenu2" class="dropDownUl mediumDropDownUl" name="state">
                                         <li class="noPad"><input click-anywhere="showMenu3=false"  type="text" class="form-control" ng-model="createCustomerControllerScope.keyword3" placeholder="Search"></li>
                                            <li ng-repeat="customerType in createCustomerControllerScope.customerTypeList | filter: createCustomerControllerScope.keyword3" ng-click="createCustomerControllerScope.selectedCustomerFun(customerType.name)">{{customerType.name}}</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.customerType.$error.required && createCustomerControllerScope.createCustomerForm.customerType.$invalid && createCustomerControllerScope.createCustomerForm.customerType.$touched" class="errorMsg">Select Customer Type</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Address 1
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createCustomerControllerScope.customer.address1" name="address1" placeholder="Address Line 1" required/>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.address1.$invalid && createCustomerControllerScope.createCustomerForm.address1.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Address 2
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createCustomerControllerScope.customer.address2" name="name" placeholder="Address Line 2" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">City
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createCustomerControllerScope.customer.city" name="city" placeholder="City" required/>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.city.$invalid && createCustomerControllerScope.createCustomerForm.city.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Zip
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createCustomerControllerScope.customer.zip" name="zip" placeholder="Zip" required/>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.zip.$invalid && createCustomerControllerScope.createCustomerForm.zip.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Number
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12" style="display: inline-flex;">
                                    <div class="width50p customDropDown">
                                        <label class="selectCountryLabel mar-top-5" click-anywhere="showMenu3=false" ng-click="showMenu3=!showMenu3">{{createCustomerControllerScope.customer.countryCode}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                        <ul ng-show="showMenu3" class="dropDownUl countryCodeDropDownUl" name="countryCode">
                                         <li class="noPad"><input click-anywhere="showMenu4=false"  type="text" class="form-control" ng-model="createCustomerControllerScope.keyword4" placeholder="Search"></li>
                                            <li ng-repeat="value in createCustomerControllerScope.countryList | filter: createCustomerControllerScope.keyword4" ng-click="createCustomerControllerScope.selectedCountryCodeFun(value.callingCode)">
                                                {{value.callingCode}}({{value.name}})</li>
                                        </ul>
                                    </div>
                                    <p ng-show="createCustomerControllerScope.createCustomerForm.countryCode.$error.required && createCustomerControllerScope.createCustomerForm.countryCode.$invalid && createCustomerControllerScope.createCustomerForm.countryCode.$touched" class="errorMsg">Select Country</p>
                                    <input type="number" class="inputWidth width100p pad-10 lineheight2pt6" ng-model="createCustomerControllerScope.customer.contactno" name="contactno" placeholder="Customer Contact Number" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Email
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="email" class="inputClass" ng-model="createCustomerControllerScope.customer.email" name="email" placeholder="Customer Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                    <p class="errorMsg" ng-show="createCustomerControllerScope.createCustomerForm.email.$error.pattern">
                                        Please enter a valid email.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Website
                                </label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="inputClass" ng-model="createCustomerControllerScope.customer.website" name="website" placeholder="Website" />
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure ?" ng-really-click="createCustomerControllerScope.decline()">Decline</button>
                                <button class="activeBtn btn" ng-disabled="createCustomerControllerScope.createCustomerForm.$invalid" ng-click="createCustomerControllerScope.addCustomer()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
