<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{projectCostControllerScope.alertMsg}}</p>
            <button ng-click="projectCostControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' : 'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="projectCostControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv project-cost">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{projectCostControllerScope.title}}</div>
                    <div class="innerdivContainer red-icon">
                        <div class="infoMsg">{{projectCostControllerScope.infoMsg}}</div>
                        <div class="detailoperationSection">
                            <span class="operationRightDiv width100p">

                                <!-- <button ng-click="projectCostControllerScope.showProjectList()" class="defaultBtn btn mob-width-48" ng-show="projectCostControllerScope.isAddProjectCost">View Project</button> -->

                                <button class="defaultBtn btn" ng-really-message="Are you sure you want to decline?" ng-really-click="projectCostControllerScope.decline()" ng-if="!projectCostControllerScope.isShowProjectCost" ng-hide="projectCostControllerScope.isUpdateProjectCost">Decline</button>

                                <button class="defaultBtn btn" ng-really-message="Are you sure you want to decline?" ng-really-click="projectCostControllerScope.declineEdit()" ng-if="projectCostControllerScope.isUpdateProjectCost">Decline</button>

                                <button ng-click="projectCostControllerScope.showAddProjectCost()" class="activeBtn btn mob-width-48" ng-show="!projectCostControllerScope.isAddProjectCost" ng-if="!projectCostControllerScope.isUpdateProjectCost">Add Project Cost</button>

                                <button class="activeBtn btn" ng-disabled="projectCostControllerScope.createProjectCostForm.$invalid" ng-click="projectCostControllerScope.addProjectCost()" ng-show="projectCostControllerScope.isAddProjectCost" ng-if="!projectCostControllerScope.isShowProjectCost">Save</button>
                                <button class="activeBtn btn" ng-disabled="projectCostControllerScope.updateProjectCostForm.$invalid" ng-click="projectCostControllerScope.updateProjectCost()" ng-show="!projectCostControllerScope.isAddProjectCost" ng-if="!projectCostControllerScope.isShowProjectCost">Update</button>
                            </span>
                        </div>
                        <form name="projectCostControllerScope.createProjectCostForm" class="form-horizontal formContainer" ng-show="projectCostControllerScope.isAddProjectCost">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Project <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="customDropDown">
                                        <label class="selectCountryLabel" click-anywhere="showProject=false" ng-click="showProject=!showProject">{{projectCostControllerScope.selectedProject.projectName}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                        <ul ng-show="showProject" class="dropDownUl" name="projectName">
                                            <li class="noPad">
                                                <input click-anywhere="showMenus=false" type="text" class="form-control" ng-model="leadControllerScope.keywords" placeholder="Search">
                                            </li>
                                            <li ng-repeat="project in projectCostControllerScope.projectList | filter:leadControllerScope.keywords" ng-click="projectCostControllerScope.selectedProjectFun(project)" ng-if="project.status==='active'">{{project.projectName}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose BDM <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="pos-rel">
                                        <input type="text" name="bdm" placeholder="Select BDM" class="inputClass" ng-model="projectCostControllerScope.projectCost.BDMName" ng-change="projectCostControllerScope.getEmployeeByEmailOrName(projectCostControllerScope.projectCost.BDMName,true)" autocomplete="off" />
                                        <p class="errorMsg" ng-show="projectCostControllerScope.employeeListNotFound">BDM Record Not Found</p>
                                        <div class="pos-abs employeeSearchDiv" ng-if="projectCostControllerScope.isEmployeeFoundForBdm">
                                            <ul>
                                                <li ng-repeat="employee in projectCostControllerScope.employeeList" ng-click="projectCostControllerScope.selectedBDMFun(employee)">
                                                    <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                    <p class="small">{{employee.email[0].companyEmail}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Project Manager <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="pos-rel">
                                        <input type="text" name="projectManager" placeholder="Select Project Manager" class="inputClass" ng-model="projectCostControllerScope.projectCost.projectManagerName" ng-change="projectCostControllerScope.getEmployeeByEmailOrName(projectCostControllerScope.projectCost.projectManagerName,false)" autocomplete="off" />
                                        <p class="errorMsg" ng-show="projectCostControllerScope.employeeListNotFoundForManager">Project Manager Record Not Found</p>
                                        <div class="pos-abs employeeSearchDiv" ng-if="projectCostControllerScope.isEmployeeFoundForManager">
                                            <ul>
                                                <li ng-repeat="employee in projectCostControllerScope.employeeList" ng-click="projectCostControllerScope.selectedProjectManagerFun(employee)">
                                                    <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                    <p class="small">{{employee.email[0].companyEmail}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Project Cost <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="number" name="projectCost" class="inputClass" placeholder="Project Cost" ng-model="projectCostControllerScope.projectCost.projectCost" ng-disabled="projectCostControllerScope.isPaymentTermsElementData" required/>
                                    <p ng-show="projectCostControllerScope.createProjectCostForm.projectName.$error.required && projectCostControllerScope.createProjectCostForm.projectName.$invalid && projectCostControllerScope.createProjectCostForm.projectName.$touched" class="errorMsg">Enter Project Cost</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Payment Terms
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-6 col-md-6 switch-field pad-right-0">
                                    <input type="radio" id="switch_left" name="switch_2" value="Fixed" ng-model="projectCostControllerScope.projectCost.paymentTermsRadio" ng-click="projectCostControllerScope.changePaymentTerms('INR')" />
                                    <label for="switch_left" class="linheight2pt7">Fixed</label>
                                    <input type="radio" id="switch_right" ng-model="projectCostControllerScope.projectCost.paymentTermsRadio" name="switch_2" value="Percentage" ng-click="projectCostControllerScope.changePaymentTerms('%')" />
                                    <label for="switch_right" class="linheight2pt7">Percentage</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6"></label>
                                <div class="col-sm-12 col-md-7 col-xs-12">
                                    <div class="row pos-rel" ng-repeat="paymentTerm in paymentTermsElement">
                                        <div class="col-sm-6 col-md-7 noPad">
                                            <div class="customDropDown mrgTop5">
                                                <label class="selectCountryLabel" click-anywhere="showSelectedTerm[$index]=false" ng-click="showSelectedTerm[$index]=!showSelectedTerm[$index]" ng-disabled="projectCostControllerScope.isEditable">{{paymentTerm.paymentTerm}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                                <ul ng-show="showSelectedTerm[$index]" class="dropDownUl">
                                                    <li ng-repeat="term in projectCostControllerScope.paymentTermList" ng-click="paymentTerm.paymentTerm=term.name" ng-if="term.status==='active'">{{term.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-4 noPad">
                                            <input type="number" name="paymentTermValue" class="inputClass" placeholder="Value" ng-model="paymentTerm.paymentTermValue" ng-keyup="projectCostControllerScope.checkTotal(paymentTerm.paymentTermValue)" ng-disabled="projectCostControllerScope.isEditable" required />
                                        </div>
                                        <div class="col-sm-2 col-md-1 noPad">
                                            <input type="text" name="paymentValueType" class="inputClass bordernone" ng-model="projectCostControllerScope.projectCost.paymentValueType" required ng-disabled="projectCostControllerScope.isEditable" />
                                        </div>
                                        <span class="input-group-btn pos-abs select-button minusIcon" ng-if="$index">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="projectCostControllerScope.removePaymentTerm($index,paymentTerm.paymentTermValue)">
                                            <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <!-- <div class="row pos-rel" ng-repeat="paymentTerm in paymentTermsElementData" ng-show="projectCostControllerScope.isPaymentTermsElementData">
                                        <div class="col-sm-7 col-md-7 noPad">
                                            <input type="text" name="paymentTerms1" class="inputClass" placeholder="Payment Term" ng-model="paymentTerm.paymentTerm" required disabled />
                                        </div>
                                        <div class="col-sm-4 col-md-4 noPad">
                                            <input type="number" name="paymentTerms1" class="inputClass" placeholder="Value" ng-model="paymentTerm.paymentTermValue" required readonly />
                                        </div>
                                        <div class="col-sm- col-md-1 noPad">
                                            <input type="text" name="paymentTerms1" class="inputClass bordernone" ng-model="paymentTerm.paymentValueType" required />
                                        </div><span class="input-group-btn pos-abs select-button minusIcon">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="projectCostControllerScope.editPaymentTerm($index)">
                                            <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                        </span>
                                    </div> -->
                                    <span class="input-group-btn pos-abs select-button plusIcon">
                                        <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="projectCostControllerScope.addNewPaymentTerm()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12">
                                    <label class="inputClass lineheight2pt6 bordernone pull-right width50p text-bold lead" ng-show="projectCostControllerScope.isPaymentTermsElementData">{{projectCostControllerScope.totalPaid}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comments
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12">
                                    <textarea name="comment" class="inputClass" placeholder="Comment" ng-model="projectCostControllerScope.projectCost.comment" maxlength="250"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive viewProjectCost" ng-show="projectCostControllerScope.isShowProjectCost">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>BDM</th>
                                        <th>Project Manager</th>
                                        <th>Project Cost</th>
                                        <!-- <th>Paid Amount</th> -->
                                        <!-- <th>Comment</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="projectDetail in projectCostControllerScope.projectList | filter: projectCostControllerScope.projectCostSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="projectCostControllerScope.showProjectDetail(projectDetail)" class="linkedText">{{projectDetail.projectName}}</td>
                                        <td>{{projectDetail.bdm.firstName}} {{projectDetail.bdm.middleName}} {{projectDetail.bdm.lastName}}</td>
                                        <td>{{projectDetail.projectManager.firstName}} {{projectDetail.projectManager.middleName}} {{projectDetail.projectManager.lastName}}</td>
                                        <td class="text-right">{{projectDetail.projectCost | number:2}}</td>
                                        <!-- <td class="text-center">{{projectDetail.duedate | date:'dd-MMMM-yyyy'}}</td> -->
                                        <!-- <td>{{projectDetail.comment}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{projectCostControllerScope.infoMsg}}</div>
                            <div ng-show="projectCostControllerScope.projectList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="projectCostControllerScope.projectList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                        <form name="projectCostControllerScope.updateProjectCostForm" class="form-horizontal formContainer" ng-show="projectCostControllerScope.isUpdateProjectCost">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Project <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" name="projectName" class="inputClass" placeholder="Project Name" ng-model="projectCostControllerScope.projectInfo.projectName" ng-blur="projectCostControllerScope.checkTotal(paymentTerm.paymentTermValue,projectCostControllerScope.projectInfo.paymentValueType,paymentTerm.paymentTerm)" required disabled />
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose BDM <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="pos-rel">
                                            <input type="text" name="bdm" placeholder="Select BDM" class="inputClass" ng-model="projectCostControllerScope.projectInfo.BDMName" ng-change="projectCostControllerScope.getEmployeeByEmailOrName(projectCostControllerScope.projectInfo.BDMName,true)" autocomplete="off" />
                                            <p class="errorMsg" ng-show="projectCostControllerScope.employeeListNotFound">BDM Record Not Found</p>
                                            <div class="pos-abs employeeSearchDiv" ng-if="projectCostControllerScope.isEmployeeFoundForBdm">
                                                <ul>
                                                    <li ng-repeat="employee in projectCostControllerScope.employeeList" ng-click="projectCostControllerScope.selectedBDMFun(employee)">
                                                        <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                        <p class="small">{{employee.email[0].companyEmail}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Project Manager <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="pos-rel">
                                            <input type="text" name="projectManager" placeholder="Select Project Manager" class="inputClass" ng-model="projectCostControllerScope.projectInfo.projectManagerName" ng-change="projectCostControllerScope.getEmployeeByEmailOrName(projectCostControllerScope.projectInfo.projectManagerName,false)" autocomplete="off" />
                                            <p class="errorMsg" ng-show="projectCostControllerScope.employeeListNotFoundForManager">Project Manager Record Not Found</p>
                                            <div class="pos-abs employeeSearchDiv" ng-if="projectCostControllerScope.isEmployeeFoundForManager">
                                                <ul>
                                                    <li ng-repeat="employee in projectCostControllerScope.employeeList" ng-click="projectCostControllerScope.selectedProjectManagerFun(employee)">
                                                        <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                        <p class="small">{{employee.email[0].companyEmail}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Project Cost <span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="number" name="projectCost" class="inputClass" placeholder="Project Cost" ng-model="projectCostControllerScope.projectInfo.projectCost" required/>
                                        <p ng-show="projectCostControllerScope.createProjectCostForm.projectName.$error.required && projectCostControllerScope.createProjectCostForm.projectName.$invalid && projectCostControllerScope.createProjectCostForm.projectName.$touched" class="errorMsg">Enter Project Cost</p>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Payment Terms
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-6 col-md-6 switch-field pad-right-0">
                                    <input type="radio" id="switch_left" name="switch_2" value="Fixed" ng-model="projectCostControllerScope.projectInfo.paymentTermsRadio" ng-click="projectCostControllerScope.changePaymentTerms('INR')" />
                                    <label for="switch_left" class="linheight2pt7">Fixed</label>
                                    <input type="radio" id="switch_right" ng-model="projectCostControllerScope.projectInfo.paymentTermsRadio" name="switch_2" value="Percentage" ng-click="projectCostControllerScope.changePaymentTerms('%')" />
                                    <label for="switch_right" class="linheight2pt7">Percentage</label>
                                </div>
                            </div> -->
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Payment Terms
                                    </label>
                                    <div class="col-sm-12 col-md-7 col-xs-12">
                                        <div class="row pos-rel" ng-repeat="paymentTerm in paymentTermsElementData">
                                            <div class="col-sm-6 col-md-7 noPad">
                                                <div class="customDropDown mrgTop5">
                                                    <label class="selectCountryLabel" click-anywhere="showSelectedTerm[$index]=false" ng-click="showSelectedTerm[$index]=!showSelectedTerm[$index]">{{paymentTerm.paymentTerm}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                                    <ul ng-show="showSelectedTerm[$index]" class="dropDownUl">
                                                        <li ng-repeat="term in projectCostControllerScope.paymentTermList" ng-click="paymentTerm.paymentTerm=term.name" ng-if="term.status==='active'">{{term.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-4 noPad">
                                                <input type="number" name="paymentTermValue" class="inputClass" placeholder="Value" ng-model="paymentTerm.paymentTermValue" required />
                                                <!-- ng-blur="projectCostControllerScope.checkTotal(paymentTerm.paymentTermValue,projectCostControllerScope.projectInfo.paymentValueType,paymentTerm.paymentTerm)" -->
                                            </div>
                                            <div class="col-sm-2 col-md-1 noPad">
                                                <input type="text" name="paymentValueType" class="inputClass bordernone" ng-model="paymentTerm.paymentValueType" required />
                                            </div>
                                            <span class="input-group-btn pos-abs select-button minusIcon">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="projectCostControllerScope.removePaymentTerm($index)">
                                            <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">
                                    </label>
                                    <div class="col-sm-12 col-md-7 col-xs-12">
                                        <label class="inputClass lineheight2pt6 bordernone pull-right width50p text-bold lead" ng-show="projectCostControllerScope.isPaymentTermsElementData">{{projectCostControllerScope.totalPaid}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comments
                                    </label>
                                    <div class="col-sm-12 col-md-7 col-xs-12">
                                        <textarea name="comment" class="inputClass" placeholder="Comment" ng-model="projectCostControllerScope.projectInfo.comment" maxlength="250"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="formfooterbtns">
                            </div> -->
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
