<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{createBillControllerScope.alertMsg}}</p>
            <button ng-click="createBillControllerScope.hideAlertPopup()" class="btn activeBtn" >OK</button>
        </modal-dialog>
        
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="createBillControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Bill</div>
                    <div class="innerdivContainer red-icon">
                            <div class="infoMsg">{{createBillControllerScope.infoMsg}}</div>
                        <form name="createBillControllerScope.newBillForm" class="form-horizontal formContainer">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Vendor 
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <div class="customDropDown">
                                    <label class="selectCountryLabel" click-anywhere="showMenus=false"  ng-click="showMenus=!showMenus">{{createBillControllerScope.selectVendorType}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenus" class="dropDownUl" name="vendor">
                                    <li class="noPad"><input click-anywhere="showMenus=false"  type="text" class="form-control" ng-model="createBillControllerScope.keywords" placeholder="Search"></li>
                                        <li ng-repeat="vendor in createBillControllerScope.vendorList | filter: createBillControllerScope.keywords " ng-click="createBillControllerScope.selectedVendorTypeFun(vendor.name)" ng-if="vendor.status==='active'">{{vendor.name}}</li>
                                    </ul></div>

                                    <!-- 
                                    <p ng-show="createBillControllerScope.newBillForm.vendor.$error.required && createBillControllerScope.newBillForm.vendor.$invalid && createBillControllerScope.newBillForm.vendor.$touched" class="errorMsg">Select Vendor</p> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Bill Number
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="billno" class="inputClass" placeholder="Bill No" ng-model="createBillControllerScope.newbill.billno" ng-readonly="true" disabled required/>
                                    <p ng-show="createBillControllerScope.newBillForm.billno.$invalid && createBillControllerScope.newBillForm.billno.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Bill Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input ng-click="createBillControllerScope.openbillingDateCalender($event)" type="text" class="inputClass" datepicker-popup="{{format}}" ng-model="createBillControllerScope.newbill.billingDate" is-open="createBillControllerScope.billingDateCalender" show-button-bar="false" placeholder="Select Billing Date" readonly />
                                </div>
                                <span class="input-group-btn mob-pos-abs select-button calen">
                                    <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createBillControllerScope.openbillingDateCalender($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Due Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" ng-click="createBillControllerScope.opendueDateCalender($event)" class="inputClass" datepicker-popup="{{format}}" ng-model="createBillControllerScope.newbill.dueDate" is-open="createBillControllerScope.dueDateCalender" show-button-bar="false" placeholder="Select Due Date" readonly />
                                </div>
                                <span class="input-group-btn mob-pos-abs select-button calen">
                                    <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createBillControllerScope.opendueDateCalender($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Due Amount
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="dueAmount" class="inputClass" placeholder="Due Amount" ng-model="createBillControllerScope.newbill.dueAmount" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>
                                    <p ng-show="createBillControllerScope.newBillForm.dueAmount.$invalid && createBillControllerScope.newBillForm.dueAmount.$touched" class="errorMsg">Feild is required.</p>
                                    <p ng-show="createBillControllerScope.newBillForm.dueAmount.$error.pattern" class="errorMsg">Enter Correct Amount.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Currency Type 
                                     <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <div class="customDropDown">           
                                    <label class="selectCountryLabel" click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu">{{createBillControllerScope.selectCurrencyType}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenu" class="dropDownUl" name="currencyType">
                                     <li class="noPad"><input click-anywhere="showMenu=false"  type="text" class="form-control" ng-model="createBillControllerScope.keyword" placeholder="Search"></li>
                                        <li ng-repeat="currency in createBillControllerScope.currencyTypeList | filter: createBillControllerScope.keyword" ng-click="createBillControllerScope.selectedCurrencyTypeFun(currency.currencyType)" ng-if="currency.status==='active'">{{currency.currencyType}}</li>
                                    </ul></div>

                                    
                                    <p ng-show="createBillControllerScope.newBillForm.currencyType.$error.required && createBillControllerScope.newBillForm.currencyType.$invalid && createBillControllerScope.newBillForm.currencyType.$touched" class="errorMsg">Select Work Location</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comment
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <textarea type="text" name="comment" class="inputClass" placeholder="Comment" ng-model="createBillControllerScope.newbill.comment"  maxlength="250"></textarea>
                                    <p ng-show="createBillControllerScope.newBillForm.comment.$invalid && createBillControllerScope.newBillForm.comment.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                    <button class="defaultBtn btn" ng-really-message="Are you sure you to reset all the data enterd in form?" ng-really-click="createBillControllerScope.decline()">Decline</button>
                                    <button class="activeBtn btn" ng-disabled="createBillControllerScope.newBillForm.$invalid" ng-click="createBillControllerScope.addBill()">Save</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
