<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{createProjectControllerScope.alertMsg}}</p>
            <button ng-click="createProjectControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="createProjectControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv create-project">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Create Project</div>
                    <div class="innerdivContainer red-icon">
                        <form name="createProjectControllerScope.createProjectForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{createProjectControllerScope.infoMsg}}</div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Choose Customer</label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                <div class="customDropDown">
                                <label class="selectCountryLabel" click-anywhere="showMenus=false"  ng-click="showMenus=!showMenus">{{createProjectControllerScope.selectedCustomer.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenus" class="dropDownUl" name="projectName">
                                     <li class="noPad"><input click-anywhere="showMenus=false"  type="text" class="form-control" ng-model="createProjectControllerScope.keywords" placeholder="Search"></li>
                                        <li ng-repeat="customer in createProjectControllerScope.customerList | filter: createProjectControllerScope.keywords" ng-click="createProjectControllerScope.selectedCustomerFunction(customer)" ng-if="customer.status==='active'">{{customer.name}}</li>
                                    </ul></div>
                                    <p ng-show="createProjectControllerScope.createProjectForm.country.$error.required && createProjectControllerScope.createProjectForm.country.$invalid && createProjectControllerScope.createProjectForm.country.$touched" class="errorMsg">Choose Customer</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Project Name<span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="projectName" class="inputClass" placeholder="Project Name" ng-model="createProjectControllerScope.project.projectName" required/>
                                    <p ng-show="createProjectControllerScope.createProjectForm.projectName.$error.required && createProjectControllerScope.createProjectForm.projectName.$invalid && createProjectControllerScope.createProjectForm.projectName.$touched" class="errorMsg">Enter Project Name</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Display Name
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="displayName" class="inputClass" placeholder="Display Name" ng-model="createProjectControllerScope.project.displayName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Project Code<span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="projectCode" class="inputClass" placeholder="Project Code" ng-model="createProjectControllerScope.project.projectCode" required/>
                                    <p ng-show="createProjectControllerScope.createProjectForm.projectCode.$error.required && createProjectControllerScope.createProjectForm.projectCode.$invalid && createProjectControllerScope.createProjectForm.projectCode.$touched" class="errorMsg">Enter Project Code</p>
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Start Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" class="inputClass" name="startDate" datepicker-popup="{{format}}" ng-click="createProjectControllerScope.openStartDateCalender($event)" ng-model="createProjectControllerScope.project.startDate" is-open="createProjectControllerScope.startDateCalender" placeholder="Select Start Date" show-button-bar="false" required readonly />
                                    <p ng-show="createProjectControllerScope.createProjectForm.startDate.$error.required && createProjectControllerScope.createProjectForm.startDate.$invalid && createProjectControllerScope.createProjectForm.startDate.$touched" class="errorMsg">Select Start Date</p>
                                </div>
                                <span class="mob-pos-abs select-button calen mob-right-18 project-calen">
                                    <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createProjectControllerScope.openStartDateCalender($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">End Date
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" class="inputClass" name="endDate" datepicker-popup="{{format}}" ng-click="createProjectControllerScope.openEndDateCalender($event)" ng-model="createProjectControllerScope.project.endDate" is-open="createProjectControllerScope.endDateCalender" placeholder="Select End Date" show-button-bar="false" required readonly />
                                    <p ng-show="createProjectControllerScope.createProjectForm.endDate.$error.required && createProjectControllerScope.createProjectForm.endDate.$invalid && createProjectControllerScope.createProjectForm.endDate.$touched" class="errorMsg">Select End Date</p>
                                </div>
                                <span class="mob-pos-abs select-button calen mob-right-18 project-calen">
                                    <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="createProjectControllerScope.openEndDateCalender($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Status
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0">
                                    <select ng-change="createProjectControllerScope.countrySelectChange(createProjectControllerScope.project.status)" ng-model="createProjectControllerScope.project.status" ng-options="status.status for status in createProjectControllerScope.statusList" class="inputClass" name="status" required>
                                        <option value="" disabled selected="selected" style="display: none;">Select Status</option>
                                    </select>
                                    <p ng-show="createProjectControllerScope.createProjectForm.status.$error.required && createProjectControllerScope.createProjectForm.status.$invalid && createProjectControllerScope.createProjectForm.status.$touched" class="errorMsg">Choose Status</p>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Project Duration
                                    <span class="reqStar">*</span>
                                </label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" class="inputClass" ng-model="createProjectControllerScope.project.duration" name="duration" placeholder="Project Duration In Months" ng-pattern="/^[0-9]*$/" required/>
                                    <p ng-show="createProjectControllerScope.createProjectForm.duration.$error.pattern" class="errorMsg">Allows Only Numbers.</p>
                                    <p ng-show="createProjectControllerScope.createProjectForm.duration.$invalid && createProjectControllerScope.createProjectForm.duration.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comments
                                </label>
                                <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0  mob-pad-right-15" style="display: inline-flex;">
                                    <textarea name="comment" class="inputClass" placeholder="Comments" ng-model="createProjectControllerScope.project.comment" maxlength="250"></textarea>
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure ou want to decline ?" ng-really-click="createProjectControllerScope.decline()">Decline</button>
                                <button class="activeBtn btn" ng-disabled="createProjectControllerScope.createProjectForm.$invalid" ng-click="createProjectControllerScope.addProject()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
