<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="row mob-dashboard">
                    <div class="col-lg-4 col-md-4 col-md-push-8 paddleft todo-container pos-rel">
                        <div ng-if="dashBoardControllerScope.todo" class="dashbordMenusChildDiv form-group">
                            <div class="row BORDBOTTOM dashboardHeader ">
                                <div class="col-sm-6  col-lg-6 col-md-6 col-xs-6 dashboardIcon">
                                    <span class="fa fa-user-o"></span></div>
                                <div class="col-sm-6">
                                    <div class="text-right dashboardText">TODO</div>
                                </div>
                            </div>
                            <div class="todo-buttons">
                                <button class="previous round pull-left" ng-click="dashBoardControllerScope.previouss()" ng-show="!((dashBoardControllerScope.today|date)==(dashBoardControllerScope.nextDate|date))"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                <button class="next round" ng-click="dashBoardControllerScope.nexts()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                <p class="current-date saptaColor text-bold">{{dashBoardControllerScope.currentDate | date}}</p>
                            </div>
                            <div class="">
                                <p class="text-center text-bold pad-10" ng-if="dashBoardControllerScope.infoViewMsg!=''">{{dashBoardControllerScope.infoViewMsg}}</p>
                                <div class="card-block" ng-repeat="followup in dashBoardControllerScope.dateList">
                                    <div class="card-block todo">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><strong>{{followup.followupDate | date}}</strong><span class="pull-right">{{followup.followupTime | date :'hh : mm a'}}</span></p>
                                            </div>
                                            <div class="col-md-12">
                                                <p><span class="text-bold">{{followup.leadName}}</span>
                                                    <br>
                                                    <span class="small" ng-if="followup.addedEmployee!='undefined undefined undefined'">{{followup.addedEmployee}} <br></span>
                                                   
                                                    <br><em class="text-bold">&ldquo; </em> {{followup.remarks}}<em class="text-bold">&rdquo;</em></p>
                                            </div>
                                            <div class="col-md-11">
                                                <h6 class="pull-right"><em>{{followup.contactPerson}}</em></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-md-pull-4 padd0">
                        <div class="row flex-parent">
                            <div ng-if="dashBoardControllerScope.SalesReport" class="flex-child pos-rel">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader ">
                                        <div class="col-sm-6  col-lg-6 col-md-6 col-xs-6 dashboardIcon">
                                            <span class="fa fa-user-o"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="text-right dashboardText"> SALES REPORT</div>
                                        </div>
                                    </div>
                                    <div class="row dashboardData">
                                        <div class="col-sm-12 padd0">
                                            <div class="todo-buttons pos-rel">
                                                <button class="previous round pull-left" ng-click="dashBoardControllerScope.previousSalesReport()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                                <button class="next round" ng-click="dashBoardControllerScope.nextSalesReport()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                                <div class="dashboardCustomDropdown" ng-if="dashBoardControllerScope.isAdmin">
                                                    <input type="text" name="emp" placeholder="Select BDM" class="inputClass" ng-model="dashBoardControllerScope.emp" ng-change="dashBoardControllerScope.getEmployeeByEmailOrName(dashBoardControllerScope.emp)" autocomplete="off" />
                                                    <div class="pos-abs employeeSearchDiv" ng-if="dashBoardControllerScope.isEmployeeFound">
                                                        <ul class="">
                                                            <li ng-repeat="employee in dashBoardControllerScope.employeeList" ng-click="dashBoardControllerScope.selectedEmpFunc(employee)">
                                                                <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                                <p class="small">{{employee.email[0].companyEmail}}</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="saptaColor text-bold pos-abs top0-left50 pad-10 centerDate">
                                                    <!-- ng-class="dashBoardControllerScope.isAdmin==false?'centerDate':''" -->
                                                    {{financialYearBeg | date:'yyyy'}} - {{financialYearEnd | date:'yyyy'}}</p>
                                                <p class="text-bold text-center pad-10" ng-if="dashBoardControllerScope.salesReportMsg!=''">{{dashBoardControllerScope.salesReportMsg}}</p>
                                            </div>
                                            <div ng-if="!dashBoardControllerScope.salesReportMsg!=''" id="resizable" class="pos-rel">
                                                <zingchart id="myChart" zc-json="salesReportTableData" zc-width="100%" zc-height="100%"></zingchart>
                                                <p class="pos-abs bottom0 right0 pad-10 margin0">Total : <strong>{{dashBoardControllerScope.totalTarget | number:2}}</strong></p>
                                                <p class="pos-abs bottom0 pad-10 margin0">Achieved : <strong>{{dashBoardControllerScope.achievedTarget | number:2}}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="dashBoardControllerScope.FinancialReport" class="flex-child">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader ">
                                        <div class="col-sm-6  col-lg-6 col-md-6 col-xs-6 dashboardIcon">
                                            <span class="fa fa-user-o"></span></div>
                                        <div class="col-sm-6">
                                            <div class="text-right dashboardText"> FINANCIAL REPORT</div>
                                        </div>
                                    </div>
                                    <div class="PADD row dashboardData">
                                        <div class="col-xs-12">No Financial Report Avaliable</div>
                                        <!-- <div class="col-xs-6 text-right"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="flex-child">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader ">
                                        <div class="col-sm-6  col-lg-6 col-md-6 col-xs-6 dashboardIcon">
                                            <span class="fa fa-user-o"></span></div>
                                        <div class="col-sm-6">
                                            <div class="text-right dashboardText"> 24 EMPLOYEES</div>
                                        </div>
                                    </div>
                                    <div class="dashboardData">
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row ">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-child">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader ">
                                        <div class="col-sm-6  col-lg-6 col-md-6 col-xs-6 dashboardIcon">
                                            <span class="fa fa-user-o"></span></div>
                                        <div class="col-sm-6">
                                            <div class="text-right dashboardText"> 24 EMPLOYEES</div>
                                        </div>
                                    </div>
                                    <div class="dashboardData">
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                        <div class="PADD row dashboardData">
                                            <div class="col-xs-6">Asdasd</div>
                                            <div class="col-xs-6 text-right">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="footer">
<ng-include src="'templates/footer.html'"></ng-include>
</div>   -->
