<div ng-controller="headerController as headerControllerScope" class="headerContainer row">
    <div class="leftImg_logo">
        <span>
            <div class="toggleMenuContainer" ng-click="headerControllerScope.sideMenuToggle()" style="margin-top: 5px;">
                <!-- <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div> -->

                <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
            </div>
        </span>
        <span class="headerLog"><img src="images/logo.png"> </span>
    </div>
    <div class="headerRight">
        <div class="headerLeftContainer deskTopView">
            <span class="headerHeading capitalizeText">{{headerControllerScope.selectedMenu}}</span>
        </div>
        <div class="width100p">
            <ul class="config_fld deskTopView">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="name">{{headerControllerScope.userFirstName}}&nbsp;{{headerControllerScope.userLastName}}</span>
                </li>
                <li>
                    <span><img src="images/User.png" class="imgspc"></span>
                </li>
                <li class="pad0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <!--<img src="images/button.png">-->
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-user  menu_list">
                            <li>
                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                            </li>
                            <li ng-click="headerControllerScope.logout()">
                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="config_fld resp_menus">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                    <ul class="dropdown-menu dropdown-user  menu_list">
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)">
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                        </li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 
<script>
    $(document).ready(function(){
        $('[id^="menu_"]').each(function(i, item) {
            var tempid = $(this).attr("id");
            $("#"+tempid).removeClass("active");
        });

        $( 'ul.dropdown li' ).hover(
            function(){
                $(this).children('.sub_menu').show();
            },
            function(){
                $(this).children('.sub_menu').hide();
            }
            );
    });
    function showOrHideMenu() {  
        var e = document.getElementById("dash_board_menu");
        if (e.style.left == '0px' || e.style.left==''){
            e.style.left = '-35%';
            $('#innerContainer').css( 'left','0' );
            $('#innerContainer').css( 'margin-left','0' );
            $('footer').css( 'left','0' );
            $('footer').css( 'width','100%' );
        }else {
            e.style.left = '0px';
           $('#innerContainer').css( 'left','250px' );
            $('#innerContainer').css( 'margin-left','10px' );
            $('footer').css( 'left','188px' );
        }
    }
    function showOrHideMobMenu() {  
        var e = document.getElementById("dash_board_menu");
        if (e.style.display == 'none' || e.style.display==''){
            e.style.display = 'block';
        }else{
            e.style.display = 'none';
        }
    }
</script>
 -->
