<div id="dash_board_menu" class="">
    <div ng-if="!leftMenuControllerScope.superAdminMenus">
        <span class="white">{{leftMenuControllerScope.errMsg}}</span>
        <div ng-repeat="menuList in leftMenuControllerScope.leftMenuList" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-if="menuList.isChecked">
            <!-- <div class="{{menuList.icon}} leftMenus leftmenuimg" ng-click="leftMenuControllerScope.subMenuNavigation(menuList.url,menuList.menuname)"><span class="menuText">{{menuList.menuname}}</span></div> -->
            <div class="leftMenus leftmenuimg" ng-click="leftMenuControllerScope.subMenuNavigation(menuList.url,menuList.menuname)"><span class="menuText">{{menuList.menuname}}</span></div>
            <div ng-repeat="submenuList in menuList.submenu" class="submenu" ng-if="submenuList.isChecked">
                <div class="leftSubMenus" ng-click="leftMenuControllerScope.subMenuNavigation(submenuList.url, submenuList.name )" ng-if="hoverEdit">{{submenuList.name}}</div>
            </div>
        </div>
    </div>

    <div ng-if="leftMenuControllerScope.superAdminMenus">
        <span class="white">{{leftMenuControllerScope.errMsg}}</span>
        <div ng-repeat="menuList in leftMenuControllerScope.leftMenuList" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <div class="leftMenus leftmenuimg" ng-click="leftMenuControllerScope.subMenuNavigation(menuList.url,menuList.menuname)"><span class="menuText">{{menuList.menuname}}</span></div>
            <div ng-repeat="submenuList in menuList.submenu" class="submenu">
                <div class="leftSubMenus" ng-click="leftMenuControllerScope.subMenuNavigation(submenuList.url, submenuList.name )" ng-if="hoverEdit">{{submenuList.name}}</div>
            </div>
        </div>
    </div>


</div>
