<div class="loginParentDiv">
    <div id="parantcls">
        <div class="login">
            <div class="login_page">
                <div id="wrapper" style="margin:0px auto !important;" class="row wrapper_log">
                    <div class="col-lg-12 login-col">
                        <div class="block_overlay" ng-if="loginControllerScope.spinner">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div ng-show="loginControllerScope.loginDiv">
                            <h3 class="login-title">LOGIN TO E-PORTAL</h3>
                            <div ng-if="loginControllerScope.errMsgDiv" class="loginErrorMsg">{{loginControllerScope.errMsg}}</div>
                            <form name="loginControllerScope.loginForm">
                                <div class="form-group input-group col-xs-12">
                                    <div id="email_icon" class="f-icon form-control"></div>
                                    <input id="email" name="email" placeholder="Your Email ID" class="form-control iconized" ng-model="loginControllerScope.user.email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
                                </div>
                                <p class="errorMsg resetErrorMsg" ng-show="loginControllerScope.loginForm.email.$error.pattern">
                                    Please enter a valid email.</p>
                                <p ng-show="loginControllerScope.loginForm.email.$error.required && loginControllerScope.loginForm.email.$invalid && loginControllerScope.loginForm.email.$touched" class="errorMsg resetErrorMsg">Please enter mail id</p>
                                <div class=" form-group input-group col-xs-12">
                                    <div id="password_icon" class="f-icon form-control "></div>
                                    <input id="password" name="password" placeholder="Your Password" type="password" class="form-control iconized" ng-model="loginControllerScope.user.password" required>
                                </div>
                                <p ng-show="loginControllerScope.loginForm.password.$error.required && loginControllerScope.loginForm.password.$invalid && loginControllerScope.loginForm.password.$touched" class="errorMsg resetErrorMsg">Please enter password</p>
                                <p class="login-botttom-txt">Forgot Password, <span class="resetPswBtn" ng-click="loginControllerScope.showForgotPassword()">Click Here!</span></p>
                                <div class="form-group  col-xs-12">
                                    <button type="button" ng-disabled="loginControllerScope.loginForm.$invalid" ng-click="loginControllerScope.login()" class="btn logBtn">LOGIN</button>
                                </div>
                            </form>
                        </div>
                        <div ng-show="loginControllerScope.resetPasswordDiv">
                            <h3 class="login-title"> Reset your password</h3>
                            <div ng-if="loginControllerScope.errMsgDiv" class="loginErrorMsg">{{loginControllerScope.errMsg}}</div>
                            <form name="loginControllerScope.resetPasswordForm">
                                <div class="form-group input-group col-xs-12">
                                    <div id="email_icon" class="f-icon form-control "></div>
                                    <input id="email" name="email" placeholder="Your Email ID" class="form-control iconized" ng-model="loginControllerScope.mailId" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required/>
                                </div>
                                <p class="errorMsg resetErrorMsg" ng-show="loginControllerScope.resetPasswordForm.email.$error.pattern">
                                    Please enter a valid email.</p>
                                <p ng-show="loginControllerScope.resetPasswordForm.email.$error.required && loginControllerScope.resetPasswordForm.email.$invalid && loginControllerScope.resetPasswordForm.email.$touched" class="errorMsg resetErrorMsg">Please enter mail id</p>
                                <div class="col-xs-12 padd0">
                                    <p class="login-botttom-txt">Go back to<span class="resetPswBtn" ng-click="loginControllerScope.showLogin()">&nbsp;Login</span></p>
                                </div>
                                <div class="form-group col-xs-12">
                                    <button type="button" ng-disabled="loginControllerScope.resetPasswordForm.$invalid" ng-click="loginControllerScope.forgotPassword()" class="btn logBtn">RESET PASSWORD
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div ng-show="loginControllerScope.resetPasswordSuccessMsgDiv">
                            <div class="reset_msg">
                                Kindly check your mail to reset password. &nbsp;&nbsp;Go back to<span class="resetPswBtn" ng-click="loginControllerScope.showLogin()">&nbsp;Login</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>