<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{leadControllerScope.alertMsg}}</p>
            <button ng-click="leadControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="leadControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv red-icon">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">New Lead</div>
                    <div class="innerdivContainer">
                        <form name="leadControllerScope.newLeadForm" class="form-horizontal formContainer">
                            <div class="infoMsg">{{leadControllerScope.infoMsg}}</div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Lead Name
                                    <span class="reqStar">*</span></label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="leadName" class="inputClass" placeholder="Lead Name" ng-model="leadControllerScope.lead.leadName" required/>
                                    <p ng-show="leadControllerScope.newLeadForm.leadName.$invalid && leadControllerScope.newLeadForm.leadName.$touched" class="errorMsg">Feild is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Mobile Number </label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="mobileNumber" class="inputClass" placeholder="Mobile Number" ng-model="leadControllerScope.lead.mobileNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" />
                                    <p ng-show="leadControllerScope.newLeadForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Phone Number </label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="phoneNumber" class="inputClass" placeholder="Phone Number" ng-model="leadControllerScope.lead.phoneNumber" ng-pattern="/^([0-9])*(\ )?(\-)?(\ )?([0-9])+$/" />
                                    <p ng-show="leadControllerScope.newLeadForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Email
                                </label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <input type="email" class="inputClass" ng-model="leadControllerScope.lead.email" name="email" placeholder="Lead Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                    <p class="errorMsg" ng-show="leadControllerScope.newLeadForm.email.$error.pattern">
                                        Please enter a valid email.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Address </label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <input type="text" class="inputClass" ng-model="leadControllerScope.lead.address" name="address" placeholder="Address" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-3 lineheight2pt6">Comment
                                </label>
                                <div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15">
                                    <textarea type="text" name="comment" class="inputClass" placeholder="Comment" ng-model="leadControllerScope.lead.comment" maxlength="250"></textarea>
                                </div>
                            </div>
                            <div class="formfooterbtns">
                                <button class="defaultBtn btn" ng-really-message="Are you sure you want decline?" ng-really-click="leadControllerScope.newLeadDecline()">Decline</button>
                                <button class="activeBtn btn" ng-disabled="leadControllerScope.newLeadForm.$invalid" ng-click="leadControllerScope.addLead()">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
