<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{rolesControllerScope.alertMsg}}</p>
            <button ng-click="rolesControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="rolesControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Roles</div>
                    <div class="innerdivContainer">
                        <div class="row configmenurow mobpaddingTopBtm10px">
                            <div class="roles-page">
                                <div class="form-horizontal">
                                    <div class="detailoperationSection">
                                        <span class="operationRightDiv width100p">

                                            <button ng-show="!rolesControllerScope.editRole" ng-really-message="Are you sure want to decline ?" ng-really-click="rolesControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button> 

                                            <button ng-show="rolesControllerScope.editRole" ng-click="rolesControllerScope.moveToRoleType()"  ng-disabled="rolesControllerScope.companyDetailsForm.$invalid" class="defaultBtn btn mob-width-48">Add Role</button>

                                            <button  ng-show="rolesControllerScope.editRole" ng-click="rolesControllerScope.editRoleDetails()" class="activeBtn btn mob-width-48">Edit</button>

                                            <button  ng-show="!rolesControllerScope.editRole" ng-click="rolesControllerScope.updateDetails()" class="activeBtn btn mob-width-48">Update</button>

                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <form>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="sel1">Select Role :</label>
                                                    <div class="col-sm-9">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu">{{rolesControllerScope.selectedRole.name}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                            <ul ng-show="showMenu" class="dropDownUl" name="role">
                                                                <li ng-repeat="roles in rolesControllerScope.empRoleList  |   orderBy:'role':true" ng-click="rolesControllerScope.selectedRoleFun(roles)">{{roles.name}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="roledesc">Role Name :</label>
                                                    <div class="col-sm-9 pad-top-7 role-name">
                                                        {{rolesControllerScope.leftMenuList.roleName}}
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="roledesc">Description :</label>
                                                    <div class="col-sm-9">
                                                        <textarea ng-model="rolesControllerScope.leftMenuList.description" ng-disabled="rolesControllerScope.editRole" class="form-control" id="roledesc" placeholder="Who Should Have This Role?" maxlength="250"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-12 text-middle" for="roledesc">User With This Role :</label>
                                                    <div class="col-sm-9"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 mob-pad-0 flex-parent">
                                            <div class="flex-child" ng-repeat="menuList in rolesControllerScope.leftMenuList">
                                                <div class="role-dash-div">
                                                    <input type="checkbox" ng-checkekd="menuList.isChecked" ng-disabled="rolesControllerScope.editRole" ng-model="menuList.isChecked" class="parentCheckBox" ng-change="rolesControllerScope.changeEventForParentCheckbox(menuList.submenu,$index,menuList.isChecked)">
                                                    <label> {{menuList.menuname}}
                                                    </label>
                                                </div>
                                                <div class="" ng-if="menuList.submenu">
                                                    <ul class="role-dash-ul sub-nav childCheckbox">
                                                        <li class="role-dash-li" ng-repeat="submenuname in menuList.submenu">
                                                            <input class="role-input-check" type="checkbox" ng-disabled="rolesControllerScope.editRole" ng-model="submenuname.isChecked" ng-checked="submenuname.isChecked" ng-change="rolesControllerScope.changeEventForChildCheckbox($parent.$index,submenuname.isChecked)" />
                                                            <label>{{submenuname.name}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
