<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="salesReportControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{salesReportControllerScope.title}}</div>
                    <div ng-show="salesReportControllerScope.showSalesReportList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <span class="searchSectionLeft">
                                 <button class="glyphicon-plus activeBtn btn mob-width-48" data-toggle="modal" ng-click="salesReportControllerScope.openSetTargetForm()" ng-show="salesReportControllerScope.isViewSalesReport">Add New</button>

                            </span>
                            <span class="operationRightDiv searchSectionRight margin0 salesReportButton">
                                    <label ng-show="salesReportControllerScope.isViewSalesReport">Financial Year &nbsp; </label>
                                      
                            <div class="financialYear pos-rel"
                                 moment-picker="salesReportControllerScope.yearStart"
                                 format="YYYY" change="salesReportControllerScope.getYearStart(salesReportControllerScope.yearStart)" ng-show="salesReportControllerScope.isViewSalesReport">
                                <span class="glyphicon glyphicon-chevron-down dropDownYearIcon"></span>
                            <input placeholder="Select a date" ng-model="salesReportControllerScope.yearStart">
                        </div>
                        <div class="financialYear pos-rel" moment-picker="salesReportControllerScope.yearEnd" format="YYYY" change="salesReportControllerScope.getYearEnd(salesReportControllerScope.yearEnd)" ng-show="salesReportControllerScope.isViewSalesReport">
                            <span class="glyphicon glyphicon-chevron-down dropDownYearIcon"></span>
                            <input placeholder="Select a date" ng-model="salesReportControllerScope.yearEnd">
                        </div>
                        <input ng-show="goSrch" class="srchBtn" ng-model="salesReportControllerScope.salesReportSearchKeyword" ng-show="salesReportControllerScope.isViewSalesReport" />
                        <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn" ng-show="salesReportControllerScope.isViewSalesReport"></button>
                        <button class="defaultBtn btn" ng-click="salesReportControllerScope.updateSalesTargetDecline()" ng-show="!salesReportControllerScope.isViewSalesReport">Decline</button>
                        <button class="activeBtn btn" ng-click="salesReportControllerScope.showEdit()" ng-if="salesReportControllerScope.editButton">Edit</button>
                        <button class="activeBtn btn" ng-click="salesReportControllerScope.updateSalesTarget()" ng-if="salesReportControllerScope.updateButton">Update</button>
                        </span>
                    </div>
                    <div ng-show="salesReportControllerScope.isViewSalesReport">
                        <div class="table-responsive viewSalesReport">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>BDM</th>
                                        <th>Target</th>
                                        <th>Q1</th>
                                        <th>Q2</th>
                                        <th>Q3</th>
                                        <th>Q4</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="salesReport in resultValue=(salesReportControllerScope.salesReportList | filter: salesReportControllerScope.salesReportSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit)">
                                        <td ng-click="salesReportControllerScope.showSalesReportDetail(salesReport)" class="linkedText">{{salesReport.bdm}}&nbsp;</td>
                                        <td class="text-right">{{salesReport.q1+salesReport.q2+salesReport.q3+salesReport.q4 | number}}&nbsp;</td>
                                        <td class="text-right">{{salesReport.q1 | number}}&nbsp;</td>
                                        <td class="text-right">{{salesReport.q2 | number}}&nbsp;</td>
                                        <td class="text-right">{{salesReport.q3 | number}}&nbsp;</td>
                                        <td class="text-right">{{salesReport.q4 | number}}&nbsp;</td>
                                    </tr>
                                    <tr ng-if="salesReportControllerScope.salesReportList">
                                        <td><strong>Total</strong></td>
                                        <td class="text-right"><strong>{{resultValue | sumOfValue:'q1':'q2':'q3':'q4'}}&nbsp;</strong>
                                            <td colspan="4"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{salesReportControllerScope.infoMsg}}</div>
                            <div ng-show="salesReportControllerScope.salesReportList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="salesReportControllerScope.salesReportList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div id="setTarget" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Set Target</h4>
                                </div>
                                <form name="salesReportControllerScope.setTargetForm">
                                    <div class="modal-body">
                                        <div class="pos-rel">
                                            <input name="fincialYearStart" moment-picker="salesReportControllerScope.salesReportInfo.financialYearStart" ng-model="salesReportControllerScope.salesReportInfo.financialYearStart" format="YYYY" autoclose="true" keyboard="true" set-on-select="true" class="inputClass" placeholder="Select Fincial Year Start" required readonly><span class="glyphicon glyphicon-chevron-down pull-right dropDownIcon"></span>
                                            <p class="errorMsg" ng-show="salesReportControllerScope.setTargetForm.fincialYearStart.$touched && salesReportControllerScope.setTargetForm.fincialYearStart.$invalid">Select Fincial Year Start</p>
                                        </div>
                                        <div class="pos-rel">
                                            <input name="fincialYearEnd" moment-picker="salesReportControllerScope.salesReportInfo.financialYearEnd" ng-model="salesReportControllerScope.salesReportInfo.financialYearEnd" format="YYYY" autoclose="true" keyboard="true" set-on-select="true" class="inputClass" placeholder="Select Fincial Year End" required readonly> <span class="glyphicon glyphicon-chevron-down pull-right dropDownIcon"></span>
                                            <p class="errorMsg" ng-show="salesReportControllerScope.setTargetForm.fincialYearEnd.$touched && salesReportControllerScope.setTargetForm.fincialYearEnd.$invalid">Select Fincial Year End</p>
                                        </div>
                                        <div class="pos-rel">
                                            <input type="text" name="bdm" class="inputClass" placeholder="Select BDM" ng-model="salesReportControllerScope.salesReportInfo.bdm" ng-change="salesReportControllerScope.getEmployeeByEmailOrName(salesReportControllerScope.salesReportInfo.bdm)" autocomplete="off" required="true" />
                                            <p class="errorMsg" ng-show="salesReportControllerScope.setTargetForm.bdm.$touched && salesReportControllerScope.setTargetForm.bdm.$invalid">BDM Is Required</p>
                                            <p class="errorMsg" ng-show="salesReportControllerScope.employeeListNotFound">Employee Record Not Found</p>
                                            <div class="pos-abs employeeSearchDiv" ng-show="salesReportControllerScope.isEmployeeFound">
                                                <ul>
                                                    <li ng-repeat="employee in salesReportControllerScope.employeeList" ng-click="salesReportControllerScope.selectedBDM(employee)">
                                                        <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                        <p class="small">{{employee.email[0].companyEmail}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="number" name="q1" class="inputClass" placeholder="Quarter 1 (Apr - May - Jun)" ng-model="salesReportControllerScope.salesReportInfo.q1" />
                                        <input type="number" name="q2" class="inputClass" placeholder="Quarter 2 (Jul - Aug - Sep)" ng-model="salesReportControllerScope.salesReportInfo.q2" />
                                        <input type="number" name="q3" class="inputClass" placeholder="Quarter 3 (Oct - Sep - Dec)" ng-model="salesReportControllerScope.salesReportInfo.q3" />
                                        <input type="number" name="q4" class="inputClass" placeholder="Quarter 4 (Jan - Feb - Mar)" ng-model="salesReportControllerScope.salesReportInfo.q4" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="defaultBtn btn" ng-click="salesReportControllerScope.decline()" data-dismiss="modal">Decline</button>
                                        <button type="button" ng-if="!salesReportControllerScope.workLocationUpdateBtn" class="activeBtn btn" ng-disabled="salesReportControllerScope.setTargetForm.$invalid" ng-click="salesReportControllerScope.setTarget()">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="card-body form-horizontal" ng-show="!salesReportControllerScope.isViewSalesReport">
                        <form name="salesReportControllerScope.updateTargetForm">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Financial Year Start <span class="reqStar" ng-if="!salesReportControllerScope.nonEditableField">*</span> <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input name="fincialYearStart" ng-model="salesReportControllerScope.updateTargetInfo.financialYearStart" class="inputClass" placeholder="Select Fincial Year Start" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" required readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Financial Year Start <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input name="fincialYearEnd" ng-model="salesReportControllerScope.updateTargetInfo.financialYearEnd" class="inputClass" placeholder="Select Fincial Year End" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" required readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">BDM <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="text" name="bdm" class="inputClass" placeholder="BDM" ng-model="salesReportControllerScope.updateTargetInfo.bdm" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" required readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Quarter 1 (Apr - May - Jun) <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="number" name="q1" class="inputClass" ng-model="salesReportControllerScope.updateTargetInfo.q1" ng-readonly="salesReportControllerScope.nonEditableField" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Quarter 2 (Jul - Aug - Sep) <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="number" name="q2" class="inputClass" ng-model="salesReportControllerScope.updateTargetInfo.q2" ng-readonly="salesReportControllerScope.nonEditableField" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Quarter 3 (Oct - Sep - Dec) <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="number" name="q3" class="inputClass" ng-model="salesReportControllerScope.updateTargetInfo.q3" ng-readonly="salesReportControllerScope.nonEditableField" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" />
                                </div>
                            </div>
                            <div class="form-group row mob-pos-rel">
                                <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'lineheight4' :  ''">Quarter 4 (Jan - Feb - Mar) <span ng-if="salesReportControllerScope.nonEditableField">:</span></label>
                                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                    <input type="number" name="q4" class="inputClass" ng-model="salesReportControllerScope.updateTargetInfo.q4" ng-readonly="salesReportControllerScope.nonEditableField" ng-class="salesReportControllerScope.edititem === salesReportControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--  <div ng-show="!salesReportControllerScope.showSalesReportList" class="innerdivContainer">
                    <div class="row">
                        <div class="row configmenurow">
                            <div class="">
                                <div class="card-body">
                                    <div class="form-horizontal red-icon view-bill">
                                        <div class="detailoperationSection">
                                            <span class="operationRightDiv width100p">
                                                    <button ng-show="salesReportControllerScope.showEditButton" ng-click="salesReportControllerScope.salesReportListView()" class="defaultBtn btn mob-width-48">View Bills</button>

                                                    <button ng-show="salesReportControllerScope.showEditButton" ng-click="salesReportControllerScope.showEdit()" class="activeBtn btn mob-width-48">Set Target</button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<modal-dialog info='modalShown' show='modalShown'>
    <p>{{salesReportControllerScope.alertMsg}}</p>
    <button ng-click="salesReportControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
</modal-dialog>
</div>
