<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="usersControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv users">
            <div class="rightContainer mobpadding10px">
                <div class="margin10 searchSection mobpadding10px">
                    <span class="searchSectionLeft">
						
					</span>
                    <span class="operationRightDiv searchSectionRight">
						<button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="usersControllerScope.openInviteUserForm()">Invite New User</button>
					</span>
                </div>
                <div class="row mrg10px mob-no-mar">
                    <ul class="nav nav-tabs" ng-init="tab = 1">
                        <li class="active"><a data-toggle="tab" ng-click="tab = 1">Users</a></li>
                        <li><a data-toggle="tab" ng-click="tab = 2">Invitees</a></li>
                        <!-- <li class="operationRightDiv">
			  				<button class="glyphicon-plus activeBtnInvite btn" data-toggle="modal" data-target="#myModal">Invite New User</button>
			  			</li>  -->
                    </ul>
                </div>
                <div class="row configmenurow mrg10px mob-no-mar" ng-show="tab === 1">
                    <div class="table-responsive userListTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th data-field="name" data-align="right" data-sortable="true">User Name</th>
                                    <th data-field="address" data-align="center" data-sortable="true">Email</th>
                                    <th data-field="role" data-sortable="true">User Type (ROLE)</th>
                                    <th data-field="since" data-sortable="true">User Since</th>
                                    <th data-field="employee" data-sortable="true">Employee</th>
                                    <th data-field="status" data-sortable="true">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="userInformation in  usersControllerScope.userInformationList">
                                    <td ng-if="userInformation.name.first">{{userInformation.name.first+ " " + userInformation.name.last}}</td>
                                    <td ng-if="!userInformation.name.first">&nbsp;</td>
                                    <td>{{userInformation.email[0].address}}</td>
                                    <td>
                                        <div class="customDropDown">
                                            <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" ng-click="usersControllerScope.showUls[$index]=!usersControllerScope.showUls[$index]">{{userInformation.role.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                            <ul ng-show="showMenu" ng-show="usersControllerScope.showUls[$index]" class="dropDownUl" name="userRole">
                                                <li ng-repeat="empRole in usersControllerScope.employeeRoleList | orderBy:'role':true" " ng-click="usersControllerScope.selectedInformationFun(userInformation,empRole) ">{{empRole.name}}</li>
                                            </ul>
                                        </div>
					                </td>
					                <td class="modelText resLeftText ">{{userInformation.joinDate | date}}</td>
					                <td>unlinked</td>
					                <td class="modelText resLeftText linkedText " ng-if="!userInformation.role._id " ng-click="usersControllerScope.activatePortal(userInformation) ">Activate ePortal</td>
					                <td class="capitalizeText modelText resLeftText " 
					                ng-if="userInformation.role._id ">{{userInformation.status}}</td>
				                </tr>

				            </tbody>    
						</table>
						
					</div>
				</div>
				<div class="row configmenurow " ng-show="tab===2 ">

                   <div class = "table-responsive invitedUserTable ">
					<table class = "table "> 
						<thead>
							<tr>
								<th data-field="name " data-align="right " data-sortable="true ">Email</th>
			                    <th data-field="address " data-align="center " data-sortable="true ">User Type </th>
			                    <th data-field="role " data-sortable="true ">Sent By </th>
			                    <th data-field="since " data-sortable="true ">Sent On</th>
			                    <th data-field="status " data-sortable="true ">Status</th>
			                </tr>
						</thead>
						<tbody>
			                <tr ng-repeat="inviteInformation in usersControllerScope.inviteInformationList ">
				                <td>{{inviteInformation.email[0].address}}</td>
				                <td>{{inviteInformation.role.name}}</td>
				                <td>pending</td>
				                <td class="modelText resLeftText ">{{inviteInformation.createdOn | date}}</td>
				                <td class="capitalizeText modelText resLeftText ">{{inviteInformation.status}}</td>
			                </tr>
			            </tbody>    
					</table>
					<div class="infoMsg ">{{usersControllerScope.infoMsg}}</div>
					<div ng-if="usersControllerScope.countryDetailsList.length> 0 " class="text-center">
                                                    <pagination ng-model="currentPage" total-items="usersControllerScope.countryDetailsList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                                    </pagination>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="inviteUserModel" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Invite New User</h4>
                    </div>
                    <form name="usersControllerScope.inviteUserForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="pos-rel">
                                    <input type="text" name="email" class="inputClass" placeholder="Email Address" ng-model="usersControllerScope.inviteUser.email" ng-change="usersControllerScope.getEmployeeByEmailOrName(usersControllerScope.inviteUser.email)" autocomplete="off" ng-readonly="usersControllerScope.nonEditableField" />
                                    <p class="errorMsg" ng-show="usersControllerScope.employeeListNotFound">Employee Record Not Found</p>
                                    <div class="pos-abs employeeSearchDiv" ng-show="usersControllerScope.isEmployeeFound">
                                        <ul>
                                            <li ng-repeat="employee in usersControllerScope.employeeList" ng-click="usersControllerScope.selectedUser(employee)">
                                                <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                <p class="small">{{employee.email[0].companyEmail}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="customDropDown">
                                    <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" ng-click="usersControllerScope.showUl=!usersControllerScope.showUl">{{usersControllerScope.selectEmployeeRole.name}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                    <ul ng-show="showMenu" ng-show="usersControllerScope.showUl" class="dropDownUl" name="userrole">
                                        <li ng-repeat="empRole in usersControllerScope.employeeRoleList | orderBy:'role':true" ng-click="usersControllerScope.selectedRoleFun(empRole)">{{empRole.name}}</li>
                                    </ul>
                                </div>
                                <p ng-show="usersControllerScope.inviteUserForm.userrole.$error.required && usersControllerScope.inviteUserForm.userrole.$invalid && usersControllerScope.inviteUserForm.userrole.$touched" class="errorMsg">Select Role</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="defaultBtn btn" ng-click="usersControllerScope.declineMethod('workLocation')" data-dismiss="modal">Decline</button>
                            <button type="button" class="activeBtn btn" ng-disabled="usersControllerScope.inviteUserForm.$invalid" ng-click="usersControllerScope.sendInvite()">Send Invite</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 	<div class="modal fade" id="inviteUserModel" role="dialog">
	    <div class="modal-dialog">
	    
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close white opacity1px" data-dismiss="modal" ></button>
	          <h4 class="modal-title">Invite New User</h4>
	        </div>
	        <div class="modal-body">
	            <form name="myform" class="form-horizontal">
	                  <div class="form-group">
	                      <label  class="col-sm-12 text-left">Email</label>
	                      <div class="col-sm-12">
	                          <input type="email" name="email" class="inputClass"  ng-model="invite.email" placeholder="Email user email" required />
	                          <span ng-show="myform.email. $invalid && myform.email.$touched">The email is required.</span>
	                      </div>
	                  </div>
	                   <div class="form-group">
	                      <label  class="col-sm-12 text-left">Select Role</label>
	                      <div class="col-sm-12">
			                   <select  class="inputClass"  id="sad"   ng-change="usersControllerScope.aaaaa()" ng-options="empRole.name for empRole in usersControllerScope.employeeRoleList"  ng-model="invite.role">{{empRole.name}}</select>

			                     
	                      </div>
	                  </div>
	            </form>
	        </div>
	        <div class="modal-footer">
		        <button type="button" class="defaultBtn btn" data-dismiss="modal">Decline</button>
		        <button type="button" class="activeBtn btn" data-dismiss="modal"   data-toggle="modal"  ng-click="usersControllerScope.sendInvite(invite)">
	            	<span class="glyphicon glyphicon-envelope  paddr20"></span>&nbsp;Send Invite
	            </button>
	        </div>
	      </div>
	    </div>
	</div> 
 -->
            <!-- 	<div class="modal fade" id="myModal1" role="dialog">
	    <div class="modal-dialog">
	    
		    <div class="modal-content" ng-if =usersControllerScope.errorShow >
		        <div class="modal-header">
		          <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
		          <h4 class="modal-title">Invite a User</h4>
		        </div>
		        <div class="modal-body">
		            Please enter valid details
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="activeBtn" data-toggle="modal" data-target="#myModal" data-dismiss="modal">ok</button>
		        </div>
		      </div>

		      <div class="modal-content" ng-if =usersControllerScope.errorShow2 >
		        <div class="modal-header">
		          <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
		          <h4 class="modal-title">Invite a User</h4>
		        </div>
		        <div class="modal-body">
		            User detail all ready exist.....
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="activeBtn" data-dismiss="modal">ok</button>
		        </div>
		      </div>

		      <div class="modal-content" ng-if =usersControllerScope.errorShow3>
		        <div class="modal-header">
		          <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
		          <h4 class="modal-title">Invite a User</h4>
		        </div>
		        <div class="modal-body">
		            Invite already send to the user.....
		        </div>
		        <div class="modal-footer">
		        	<button type="button" class="defaultBtn" data-dismiss="modal">Decline</button>
		          	<button type="button" class="activeBtn" data-toggle="modal" data-target="#myModal" data-dismiss="modal">ok</button>
		        </div>
		      </div>


		      <div class="modal-content" ng-if =usersControllerScope.sucessShow>
		        <div class="modal-header">
		          <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
		          <h4 class="modal-title">Invite a User</h4>
		        </div>
		        <div class="modal-body">
		            The email sent 
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="activeBtn" data-dismiss="modal">ok</button>
		        </div>
		    </div>
		</div>
	</div> -->
        </div>
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{usersControllerScope.alertMsg}}</p>
            <button ng-click="usersControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <modal-dialog info='logoutmodalShown' show='logoutmodalShown'>
            <p>Kindly login to activate the portal</p>
            <button ng-click="usersControllerScope.logOut()" class="btn activeBtn">OK</button>
        </modal-dialog>
    </div>
    <!-- <div class="modal fade" id="userTypeChangePopup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body modelText ng-scope">Are you sure You want to change the User Type</div>
			<div class="modal-footer">
				<button class="btn defaultBtn"  data-dismiss="modal">Decline</button>
				<button class="btn activeBtn" ng-click="usersControllerScope.updateUserType()">Yes</button>
			</div>
		</div>
	</div>
</div>
 -->
