<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="viewBillControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{viewBillControllerScope.title}}</div>
                    <div ng-show="viewBillControllerScope.showBillList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                                <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="viewBillControllerScope.gotoNewBill()">Add New</button>
                            </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="viewBillControllerScope.billSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive viewBill">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bill Number</th>
                                        <th>Amount</th>
                                        <th>Currency Type</th>
                                        <th>Bill Date</th>
                                        <th>Due Date</th>
                                        <th>Comment</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="billDetail in viewBillControllerScope.billList | filter: viewBillControllerScope.billSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="viewBillControllerScope.showBillDetail(billDetail)" class="linkedText">{{billDetail.billno}}</td>
                                        <td class="text-right">{{billDetail.amount}}</td>
                                        <td>{{billDetail.currencytype}}</td>
                                        <td class="text-center">{{billDetail.billdate | date:'dd-MMMM-yyyy'}}</td>
                                        <td class="text-center">{{billDetail.duedate | date:'dd-MMMM-yyyy'}}</td>
                                        <td>{{billDetail.comment}}</td>
                                        <td class="capitalizeText modelText resLeftText">{{billDetail.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{viewBillControllerScope.infoMsg}}</div>
                            <div ng-show="viewBillControllerScope.billList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="viewBillControllerScope.billList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!viewBillControllerScope.showBillList" class="innerdivContainer">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal red-icon view-bill">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                <button ng-show="viewBillControllerScope.showEditButton" ng-click="viewBillControllerScope.billListView()" class="defaultBtn btn mob-width-48">View Bills</button>

                                                <button ng-show="viewBillControllerScope.showEditButton" ng-click="viewBillControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!viewBillControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="viewBillControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!viewBillControllerScope.showEditButton" ng-click="viewBillControllerScope.updateBill()"  ng-disabled="viewBillControllerScope.billDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="viewBillControllerScope.billDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Bill Number <span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12  pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="billno" class="backgroundNone  width100p" ng-model="viewBillControllerScope.billInfo.billno" ng-readonly="true" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" disabled="true" required />
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.billno.$invalid && viewBillControllerScope.billDetailUpdateForm.billno.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-6 col-md-3 col-lg-3 col-xs-4 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Bill Date <span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <label ng-if="viewBillControllerScope.nonEditableField" class="linheight2pt7">{{viewBillControllerScope.billInfo.billdate | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="billDate" datepicker-popup="{{format}}" ng-click="viewBillControllerScope.openbillingDateCalender($event)" is-open="viewBillControllerScope.billingDateCalender" class="backgroundNone  width100p" ng-model="viewBillControllerScope.billInfo.billdate" readonly ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required ng-if="!viewBillControllerScope.nonEditableField" />
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.billDate.$invalid && viewBillControllerScope.billDetailUpdateForm.billDate.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewBillControllerScope.edititem'>
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="viewBillControllerScope.openbillingDateCalender($event)">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-6 col-md-3 col-lg-3 col-xs-4 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Due Date <span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <label ng-if="viewBillControllerScope.nonEditableField" class="linheight2pt7">{{viewBillControllerScope.billInfo.duedate | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="dueDate" datepicker-popup="{{format}}" ng-click="viewBillControllerScope.opendueDateCalender($event)" is-open="viewBillControllerScope.dueDateCalender" class="backgroundNone  width100p" ng-model="viewBillControllerScope.billInfo.duedate" readonly ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required ng-if="!viewBillControllerScope.nonEditableField" />
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.dueDate.$invalid && viewBillControllerScope.billDetailUpdateForm.dueDate.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewBillControllerScope.edititem'>
                                                        <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="viewBillControllerScope.opendueDateCalender($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-6 col-md-3 col-lg-3 col-xs-4 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Vendor Name <span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" name="vendor" ng-disabled="viewBillControllerScope.nonEditableField" ng-readonly="viewBillControllerScope.nonEditableField" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewBillControllerScope.selectVendorType}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewBillControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu" ng-if="!viewBillControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                                <li class="noPad">
                                                                    <input click-anywhere="showMenus=false" type="text" class="form-control" ng-model="viewBillControllerScope.keyword" placeholder="Search">
                                                                </li>
                                                                <li ng-repeat="vendor in viewBillControllerScope.vendorList | filter: viewBillControllerScope.keyword " ng-click="viewBillControllerScope.selectedVendorFunc(vendor.name)" ng-if="vendor.status==='active'">{{vendor.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.vendor.$error.required && viewBillControllerScope.billDetailUpdateForm.vendor.$invalid && viewBillControllerScope.billDetailUpdateForm.vendor.$touched" class="errorMsg">Select Vendor Type</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-6 col-md-3 col-lg-3 col-xs-4 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Amount <span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="dueAmount" ng-model="viewBillControllerScope.billInfo.amount" placeholder="Enter Due Amount" ng-readonly="viewBillControllerScope.nonEditableField" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'inputClass width100p' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.dueAmount.$invalid && viewBillControllerScope.billDetailUpdateForm.dueAmount.$touched" class="errorMsg">Feild is required.</p>
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.dueAmount.$error.pattern" class="errorMsg">Enter Correct Amount.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-lg-3 col-xs-12 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Currency Type<span class="reqStar" ng-if="!viewBillControllerScope.nonEditableField">*</span> <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenus=false" ng-click="showMenus=!showMenus" name="customer" ng-disabled="viewBillControllerScope.nonEditableField" ng-readonly="viewBillControllerScope.nonEditableField" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewBillControllerScope.selectCurrencyType}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewBillControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenus" ng-if="!viewBillControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="currencyType">
                                                                <li class="noPad">
                                                                    <input click-anywhere="showMenu=false" type="text" class="form-control" ng-model="viewBillControllerScope.keywords" placeholder="Search">
                                                                </li>
                                                                <li ng-repeat="currency in viewBillControllerScope.currencyTypeList | filter: viewBillControllerScope.keywords " ng-click="viewBillControllerScope.selectedshowCurrencyTypeFunc(currency.currencyType)" ng-if="currency.status==='active'">{{currency.currencyType}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewBillControllerScope.billDetailUpdateForm.currencyType.$error.required && viewBillControllerScope.billDetailUpdateForm.currencyType.$invalid && viewBillControllerScope.billDetailUpdateForm.currencyType.$touched" class="errorMsg">Select Currency Type</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-6 col-md-3 col-lg-3 col-xs-4 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Status <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 pad-right-0 mob-pad-right-15">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenuss=false" ng-click="showMenuss=!showMenuss" name="customer" ng-disabled="viewBillControllerScope.nonEditableField" ng-readonly="viewBillControllerScope.nonEditableField" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewBillControllerScope.selectStatus}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewBillControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenuss" ng-if="!viewBillControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="status">
                                                                <li ng-repeat="status in viewBillControllerScope.statusList" ng-click="viewBillControllerScope.selectedStatusFunc(status.status)">{{status.status}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <select name="status" ng-model="viewBillControllerScope.billInfo.status" class="bordernone capitalizeText backgroundNone" ng-readonly="viewBillControllerScope.fieldEditable" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'SelectOptions pad-10' :  'bordernone linheight2pt7'" ng-disabled="viewBillControllerScope.nonEditableField" >
                                                            <option value="{{v.status}}" ng-repeat="v in viewBillControllerScope.statusList" >{{v.status}}</option>

                                                        </select> -->
                                                        <!-- <p ng-show="viewBillControllerScope.billDetailUpdateForm.status.$error.required && viewBillControllerScope.billDetailUpdateForm.status.$invalid && viewBillControllerScope.billDetailUpdateForm.status.$touched" class="errorMsg">Select Status</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12 reslineheight2pt6" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'lineheight4' :  ''">Comment <span ng-if="viewBillControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12  pad-right-0 mob-pad-right-15">
                                                        <textarea name="comment" class="backgroundNone  width100p" ng-model="viewBillControllerScope.billInfo.comment" ng-readonly="viewBillControllerScope.nonEditableField" ng-class="viewBillControllerScope.edititem === viewBillControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5" maxlength="250"></textarea>
                                                        <p ng-show="viewBillControllerScope.billDetailUpdateForm.comment.$invalid && viewBillControllerScope.billDetailUpdateForm.comment.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{viewBillControllerScope.alertMsg}}</p>
        <button ng-click="viewBillControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
