<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <modal-dialog info='modalShown' show='modalShown'>
            <p>{{viewVendorControllerScope.alertMsg}}</p>
            <button ng-click="viewVendorControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
        </modal-dialog>
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="viewVendorControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{viewVendorControllerScope.title}}</div>
                    <div ng-show="viewVendorControllerScope.showVendorList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                                 <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="viewVendorControllerScope.gotoCreateVendor()">Add New</button>
                              </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="viewVendorControllerScope.vendorSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <!-- <div >
                        <span class="operationRightDiv">
                            Search : <input class="srchBtnPadd" ng-model="viewVendorControllerScope.vendorSearchKeyword"/>
                        </span>
                    </div> -->
                        <div class="table-responsive viewVendor">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Vendor Code</th>
                                        <th>Vendor Name</th>
                                        <th>Vendor Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vendorDetail in viewVendorControllerScope.vendorList | filter: viewVendorControllerScope.vendorSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="viewVendorControllerScope.showVendorDetail(vendorDetail)" class="linkedText">{{vendorDetail.vendorCode}}</td>
                                        <td>{{vendorDetail.name}}</td>
                                        <td>{{vendorDetail.venderType}}</td>
                                        <td class="modelText capitalizeText resLeftText">{{vendorDetail.status}} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{viewVendorControllerScope.infoMsg}}</div>
                            <div ng-show="viewVendorControllerScope.vendorList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="viewVendorControllerScope.vendorList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!viewVendorControllerScope.showVendorList" class="innerdivContainer">
                        <div class="row">
                            <!-- <ul class="nav nav-tabs" ng-init="customerDetailTab = 1">
                            <li class="active"><a data-toggle="customerDetailTab" ng-click="customerDetailTab = 1">Vendor Info</a></li>
                            <li><a data-toggle="customerDetailTab"  ng-click="customerDetailTab = 2">Test</a></li>                
                        </ul> -->
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                
                                                <button ng-show="viewVendorControllerScope.showEditButton" ng-click="viewVendorControllerScope.vendorListView()" class="defaultBtn btn mob-width-48">View Vendors</button>

                                                <button ng-show="viewVendorControllerScope.showEditButton" ng-click="viewVendorControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!viewVendorControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="viewVendorControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!viewVendorControllerScope.showEditButton" ng-click="viewVendorControllerScope.updateDetails()"  ng-disabled="viewVendorControllerScope.customeDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="viewVendorControllerScope.customeDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Code <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" name="vendorCode" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.vendorCode" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7 '" required />
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.vendorCode.$invalid && viewVendorControllerScope.customeDetailUpdateForm.vendorCode.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Name <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" name="customerName" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.name" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7 '" required />
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.customerName.$invalid && viewVendorControllerScope.customeDetailUpdateForm.customerName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Type <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu" name="vendorType" ng-disabled="viewVendorControllerScope.nonEditableField" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewVendorControllerScope.selectVendorType.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewVendorControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu" ng-if="!viewVendorControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="customerType">
                                                            <li class="noPad"><input click-anywhere="showMenu9=false"  type="text" class="form-control" ng-model="viewVendorControllerScope.keyword1" placeholder="Search"></li>
                                                                <li ng-repeat="vendor in viewVendorControllerScope.vendorTypeList | filter: viewVendorControllerScope.keyword1" ng-click="viewVendorControllerScope.selectedVendorType(vendor)" ng-if="vendor.status==='active'">{{vendor.name}}</li>
                                                            </ul>
                                                        </div>

                                                       
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.customerType.$error.required && viewVendorControllerScope.customeDetailUpdateForm.customerType.$invalid && viewVendorControllerScope.customeDetailUpdateForm.customerType.$touched" class="errorMsg">Select Vendor Type</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Email <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="email" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.email" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7 '" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' name="email">
                                                        <p class="errorMsg" ng-show="viewVendorControllerScope.customeDetailUpdateForm.email.$error.pattern">
                                                            Please enter a valid email.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Mobile <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12" style="display: inline-flex; ">

                                                        <div class="width50p customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone mar-top-5" click-anywhere="showMenu1=false"  ng-click="showMenu1=!showMenu1" name="customerType" ng-disabled="viewVendorControllerScope.nonEditableField" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewVendorControllerScope.selectCountryCodeType.countryCode}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewVendorControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu1" ng-if="!viewVendorControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone" name="customerType">
                                                             <li class="noPad"><input click-anywhere="showMenu8=false"  type="text" class="form-control" ng-model="viewVendorControllerScope.keyword2" placeholder="Search"></li>
                                                                <li ng-repeat="country in viewVendorControllerScope.countryList | filter: viewVendorControllerScope.keyword2" ng-click="viewVendorControllerScope.selectedCountryCodeType(country)" ng-if="country.status==='active'">{{country.callingCode}} ( {{country.countryCode}} )</li>
                                                            </ul>
                                                        </div>

                                                        <!-- <span style="line-height: 4" ng-if="viewVendorControllerScope.showEditButton">{{viewVendorControllerScope.vendorInfo.countryCode}}</span>
                                                        <select ng-show="!viewVendorControllerScope.showEditButton" ng-model="viewVendorControllerScope.vendorInfo.countryCode" name="countryCode" ng-disabled="viewVendorControllerScope.nonEditableField" class="bordernone backgroundNone" ng-readonly="viewVendorControllerScope.fieldEditable" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'editSelectOptions pad-10' :  'bordernone linheight2pt7'">
                                                            <option ng-readonly="viewVendorControllerScope.fieldEditable" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'editSelectOptions' :  'bordernone'" ng-repeat="value in viewVendorControllerScope.countryList">{{value.callingCode}} ({{value.name}}) </option>
                                                        </select> -->
                                                        <!-- <select  name="countryCode"   ng-model="viewVendorControllerScope.vendorInfo.countryCode" ng-options="v.name for v in viewVendorControllerScope.countryList" ng-disabled="viewVendorControllerScope.nonEditableField" class="bordernone backgroundNone" ng-readonly="viewVendorControllerScope.fieldEditable" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'editSelectOptions' :  'bordernone'">
                                                    <option value="" disabled selected="selected" style="display: none;">{{viewVendorControllerScope.vendorInfo.countryCode}}</option>
                                                </select> -->
                                                        <input type="text" style="margin-left: 0;" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.contactNo" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Address Line 1 <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" name="address1" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.addressline1" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7 '" required />
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.address1.$invalid && viewVendorControllerScope.customeDetailUpdateForm.address1.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Address Line 2 <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.addressline2" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">City <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.city" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="city" required />
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.city.$invalid && viewVendorControllerScope.customeDetailUpdateForm.city.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Country <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12">

                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu2=false"  ng-click="showMenu2=!showMenu2" ng-disabled="viewVendorControllerScope.nonEditableField" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewVendorControllerScope.selectCountry}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewVendorControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu2" ng-if="!viewVendorControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                             <li class="noPad"><input click-anywhere="showMenu7=false"  type="text" class="form-control" ng-model="viewVendorControllerScope.keyword3" placeholder="Search"></li>
                                                                <li ng-repeat="country in viewVendorControllerScope.countryList | filter: viewVendorControllerScope.keyword3" ng-click="viewVendorControllerScope.selectedCountry(country)" ng-if="country.status==='active'">{{country.name}}</li>
                                                            </ul>
                                                        </div>

                                                        
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.country.$error.required && viewVendorControllerScope.customeDetailUpdateForm.country.$invalid && viewVendorControllerScope.customeDetailUpdateForm.country.$touched" class="errorMsg">Select Country</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">State <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12">

                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu3=false"  ng-click="showMenu3=!showMenu3" ng-disabled="viewVendorControllerScope.nonEditableField" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewVendorControllerScope.selectState.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewVendorControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu3" ng-if="!viewVendorControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="state">
                                                             <li class="noPad"><input click-anywhere="showMenu6=false"  type="text" class="form-control" ng-model="viewVendorControllerScope.keyword4" placeholder="Search"></li>
                                                                <li ng-repeat="state in viewVendorControllerScope.stateList | filter: viewVendorControllerScope.keyword4" ng-click="viewVendorControllerScope.selectedState(state.name)">{{state.name}}</li>
                                                            </ul>
                                                        </div>

                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.state.$error.required && viewVendorControllerScope.customeDetailUpdateForm.state.$invalid && viewVendorControllerScope.customeDetailUpdateForm.state.$touched" class="errorMsg">Select State</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Zip <span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.zip" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="zip" required />
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.zip.$error.required && viewVendorControllerScope.customeDetailUpdateForm.zip.$invalid && viewVendorControllerScope.customeDetailUpdateForm.zip.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Website <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewVendorControllerScope.vendorInfo.website" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Status<span class="reqStar" ng-if="!viewVendorControllerScope.nonEditableField">*</span> <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12">

                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu4=false"  ng-click="showMenu4=!showMenu4" ng-disabled="viewVendorControllerScope.nonEditableField" ng-readonly="viewVendorControllerScope.nonEditableField" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewVendorControllerScope.selectStatus}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewVendorControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu4" ng-if="!viewVendorControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="status">
                                                                <li ng-repeat="status in viewVendorControllerScope.statusUpdate" ng-click="viewVendorControllerScope.selectedStatus(status.status)">{{status.status}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewVendorControllerScope.customeDetailUpdateForm.status.$error.required && viewVendorControllerScope.customeDetailUpdateForm.status.$invalid && viewVendorControllerScope.customeDetailUpdateForm.status.$touched" class="errorMsg">Select Status</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-3 col-xs-12  reslineheight2pt6" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'lineheight4' :  ''">Created On <span ng-if="viewVendorControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 col-xs-12" ng-class="viewVendorControllerScope.edititem === viewVendorControllerScope.edititemtrue ? 'noneditfeild line-height-4' :  'linheight2pt7'">{{viewVendorControllerScope.vendorInfo.creationDate | date:'dd MMMM yyyy'}}</div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="menu2" class="tab-pane fade in active" ng-show="customerDetailTab === 2">
                                        <h3>Test</h3>
                                        
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
