<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="requirementControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{requirementControllerScope.viewRequirementTitle}}</div>
                    <div ng-show="requirementControllerScope.showRequirementList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                                <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="requirementControllerScope.addRequirements()">Add New</button>
                            </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="requirementControllerScope.requirementSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive view-requirement">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Min - Max Experience</th>
                                        <th>Job Description</th>
                                        <th>Customer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="requirementDetail in requirementControllerScope.requirementList | filter: requirementControllerScope.requirementSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="requirementControllerScope.showRequirementDetail(requirementDetail)" class="linkedText">{{requirementDetail.projectName.projectName}} &nbsp;</td>
                                        <td class="text-center">{{requirementDetail.minExp}} - {{requirementDetail.maxExp}} Years</td>
                                        <td>{{requirementDetail.jobDescription}} &nbsp;</td>
                                        <td>{{requirementDetail.customer.name}} &nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{requirementControllerScope.infoMsg}}</div>
                            <div ng-show="requirementControllerScope.requirementList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="requirementControllerScope.requirementList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!requirementControllerScope.showRequirementList" class="innerdivContainer">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal red-icon">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                <button ng-show="requirementControllerScope.showEditButton" ng-click="requirementControllerScope.requirementListView()" class="defaultBtn btn mob-width-48">View Requirement</button>

                                                <button ng-show="requirementControllerScope.showEditButton" ng-click="requirementControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!requirementControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="requirementControllerScope.declineViewRequirement()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!requirementControllerScope.showEditButton" ng-click="requirementControllerScope.updateRequirement()"  ng-disabled="requirementControllerScope.requirementDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="requirementControllerScope.requirementDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''"><span ng-if="!requirementControllerScope.nonEditableField">Choose </span>Customer<span class="reqStar" ng-if="!requirementControllerScope.nonEditableField">*</span> <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                         <div class="customDropDown">
                                                        <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenus=false"  ng-click="showMenus=!showMenus" name="customer" ng-disabled="requirementControllerScope.nonEditableField" ng-readonly="requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{requirementControllerScope.selectedCustomer.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!requirementControllerScope.nonEditableField"></span></label>
                                                        <ul ng-show="showMenus" ng-if="!requirementControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                         <li class="noPad"><input click-anywhere="showMenu=false"  type="text" class="form-control" ng-model="requirementControllerScope.keywords" placeholder="Search"></li>
                                                            <li ng-repeat="customer in requirementControllerScope.customerList | filter: requirementControllerScope.keywords" ng-click="requirementControllerScope.selectedCustomerFun(customer)" ng-if="customer.status==='active'">{{customer.name}}</li>
                                                        </ul></div>
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.customer.$invalid && requirementControllerScope.requirementDetailUpdateForm.customer.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''"><span ng-if="!requirementControllerScope.nonEditableField">Choose </span>Project<span class="reqStar" ng-if="!requirementControllerScope.nonEditableField">*</span> <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                         <div class="customDropDown">
                                                        <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false"  ng-click="showMenu=!showMenu"  name="projectName" ng-disabled="requirementControllerScope.nonEditableField" ng-readonly="requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{requirementControllerScope.selectedProject.projectName}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!requirementControllerScope.nonEditableField"></span></label>
                                                        <ul ng-show="showMenu" ng-if="!requirementControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                        <li class="noPad"><input click-anywhere="showMenus=false"  type="text" class="form-control" ng-model="requirementControllerScope.keyword" placeholder="Search"></li>       
                                                            <li ng-repeat="project in requirementControllerScope.projectList | filter: requirementControllerScope.keyword" ng-click="requirementControllerScope.selectedProjectFun(project)">{{project.projectName}}</li>
                                                        </ul></div>
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.projectName.$invalid && requirementControllerScope.requirementDetailUpdateForm.projectName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''">Minimum Experience<span class="reqStar" ng-if="!requirementControllerScope.nonEditableField">*</span> <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="minExp" class="backgroundNone  width100p" ng-model="requirementControllerScope.requirementInfo.minExp" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.minExp.$invalid && requirementControllerScope.requirementDetailUpdateForm.minExp.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''">Maximum Experience<span class="reqStar" ng-if="!requirementControllerScope.nonEditableField">*</span> <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="maxExp" class="backgroundNone  width100p" ng-model="requirementControllerScope.requirementInfo.maxExp" ng-readonly="requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.maxExp.$error.required && requirementControllerScope.requirementDetailUpdateForm.maxExp.$invalid && requirementControllerScope.requirementDetailUpdateForm.maxExp.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''">Cost<span class="reqStar" ng-if="!requirementControllerScope.nonEditableField">*</span> <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="cost" class="backgroundNone  width100p" ng-model="requirementControllerScope.requirementInfo.cost" ng-readonly="requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.cost.$error.pattern" class="errorMsg">Enter Correct Amount.</p>
                                                        <p ng-show="requirementControllerScope.requirementDetailUpdateForm.cost.$error.required && requirementControllerScope.requirementDetailUpdateForm.cost.$invalid && requirementControllerScope.requirementDetailUpdateForm.cost.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''">Job Descrption <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <label class="bordernone linheight2pt7" ng-if="requirementControllerScope.nonEditableField">{{requirementControllerScope.requirementInfo.jobDescription}}</label>
                                                        <textarea name="jobDescription" class="backgroundNone  width100p" ng-model="requirementControllerScope.requirementInfo.jobDescription" ng-if="!requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" maxlength="250"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'lineheight4' :  ''">Comment <span ng-if="requirementControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <textarea name="comment" class="backgroundNone  width100p" ng-model="requirementControllerScope.requirementInfo.comment" ng-readonly="requirementControllerScope.nonEditableField" ng-class="requirementControllerScope.edititem === requirementControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{requirementControllerScope.alertMsg}}</p>
        <button ng-click="requirementControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
