<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="viewProjectControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{viewProjectControllerScope.title}}</div>
                    <div ng-show="viewProjectControllerScope.showProjectList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                                <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="viewProjectControllerScope.gotoNewProject()">Add New</button>
                            </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="viewProjectControllerScope.projectSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive view-project">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Code</th>
                                        <th>Customer Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="projectDetail in viewProjectControllerScope.projectList | filter: viewProjectControllerScope.projectSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="viewProjectControllerScope.showProjectDetail(projectDetail)" class="linkedText">{{projectDetail.projectName}}</td>
                                        <td>{{projectDetail.projectCode}}</td>
                                        <td>{{projectDetail.customer.name}}</td>
                                        <td class="capitalizeText modelText resLeftText">{{projectDetail.status}}</td>
                                        <td class="modelText resLeftText">
                                            <span class="activeText datacenter" ng-if='projectDetail.status == viewProjectControllerScope.activeState' ng-click="viewProjectControllerScope.callChangeStatus('inactive',projectDetail)" class="actionTab">Make Inactive</span>
                                            <span class="activeText modelText resLeftText " ng-if="projectDetail.status == viewProjectControllerScope.inactiveState" ng-click="viewProjectControllerScope.callChangeStatus('active',projectDetail)">Make Active</span>
                                            <!-- <span class="glyphicon glyphicon-trash modelText resLeftText activeText actionIcon" ng-really-message="Are you sure ?" ng-really-click="viewProjectControllerScope.deleteWorkLocation(projectDetail._id)"></span>   -->
                                            <span ng-click="viewProjectControllerScope.showProjectDetail(projectDetail)" class="fa fa-pencil-square-o actionIcon"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{viewProjectControllerScope.infoMsg}}</div>
                            <div ng-show="viewProjectControllerScope.projectList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="viewProjectControllerScope.projectList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!viewProjectControllerScope.showProjectList" class="innerdivContainer">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal red-icon">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                <button ng-show="viewProjectControllerScope.showEditButton" ng-click="viewProjectControllerScope.projectListView()" class="defaultBtn btn mob-width-48">View Projects</button>

                                                <button ng-show="viewProjectControllerScope.showEditButton" ng-click="viewProjectControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!viewProjectControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="viewProjectControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!viewProjectControllerScope.showEditButton" ng-click="viewProjectControllerScope.updateProject()"  ng-disabled="viewProjectControllerScope.projectDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="viewProjectControllerScope.projectDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Choose Customer<span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenus=false" ng-click="showMenus=!showMenus" name="customer" ng-disabled="viewProjectControllerScope.nonEditableField" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewProjectControllerScope.projectInfo.customerName.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewProjectControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenus" ng-if="!viewProjectControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                                <li class="noPad">
                                                                    <input click-anywhere="showMenu=false" type="text" class="form-control" ng-model="viewProjectControllerScope.keywords" placeholder="Search">
                                                                </li>
                                                                <li ng-repeat="customer in viewProjectControllerScope.customerList | filter: viewProjectControllerScope.keywords" ng-click="viewProjectControllerScope.selectedCustomer(customer)" ng-if="customer.status==='active'">{{customer.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.customer.$invalid && viewProjectControllerScope.projectDetailUpdateForm.customer.$touched" class="errorMsg">Feild is required.</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Project Name<span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="projectName" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.projectName" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.projectName.$invalid && viewProjectControllerScope.projectDetailUpdateForm.projectName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Display Name <span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="displayName" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.displayName" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.displayName.$invalid && viewProjectControllerScope.projectDetailUpdateForm.displayName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Project Code <span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="projectCode" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.projectCode" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.projectCode.$invalid && viewProjectControllerScope.projectDetailUpdateForm.projectCode.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Start Date <span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <label ng-if="viewProjectControllerScope.nonEditableField" readonly class="linheight2pt7">{{viewProjectControllerScope.projectInfo.startDate | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="startDate" datepicker-popup="{{format}}" is-open="viewProjectControllerScope.startDateCalender" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.startDate" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-click="viewProjectControllerScope.openStartingDateCalender($event)" required readonly ng-if="!viewProjectControllerScope.nonEditableField" />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.startDate.$invalid && viewProjectControllerScope.projectDetailUpdateForm.startDate.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewProjectControllerScope.edititem'>
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="viewProjectControllerScope.openStartingDateCalender($event)">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">End Date <span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <label ng-if="viewProjectControllerScope.nonEditableField" readonly class="linheight2pt7">{{viewProjectControllerScope.projectInfo.endDate | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="endDate" datepicker-popup="{{format}}" is-open="viewProjectControllerScope.endDateCalender" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.endDate" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-click="viewProjectControllerScope.openEndDateCalender($event)" required readonly ng-if="!viewProjectControllerScope.nonEditableField" />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.endDate.$invalid && viewProjectControllerScope.projectDetailUpdateForm.endDate.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewProjectControllerScope.edititem'>
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="viewProjectControllerScope.openEndDateCalender($event)">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Status<span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" name="status" ng-disabled="viewProjectControllerScope.nonEditableField" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewProjectControllerScope.projectInfo.statusSelected}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewProjectControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu" ng-if="!viewProjectControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                                <li ng-repeat="status in viewProjectControllerScope.statusList" ng-click="viewProjectControllerScope.selectedStatus(status.status)">{{status.status}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.status.$invalid && viewProjectControllerScope.projectDetailUpdateForm.status.$touched" class="errorMsg">Feild is required.</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Project Duration <span class="reqStar" ng-if="!viewProjectControllerScope.nonEditableField">*</span> <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="projectDuration" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.projectDuration" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewProjectControllerScope.projectDetailUpdateForm.projectDuration.$invalid && viewProjectControllerScope.projectDetailUpdateForm.projectDuration.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'lineheight4' :  ''">Comment <span ng-if="viewProjectControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                        <textarea name="comment" class="backgroundNone  width100p" ng-model="viewProjectControllerScope.projectInfo.comment" ng-readonly="viewProjectControllerScope.nonEditableField" ng-class="viewProjectControllerScope.edititem === viewProjectControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5" maxlength="250"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{viewProjectControllerScope.alertMsg}}</p>
        <button ng-click="viewProjectControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
