<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="viewCustomerControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{viewCustomerControllerScope.title}}</div>
                    <div ng-show="viewCustomerControllerScope.showCustomerList" class="innerdivContainer mobpadding10px">
                        <!-- <div >
                        <span class="operationRightDiv">
                            Search : <input class="srchBtnPadd" ng-model="viewCustomerControllerScope.customersearchKeyword"/>
                        </span>
                    </div> -->
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                            <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="viewCustomerControllerScope.gotoCreateCustomer()">Add New</button>
                        </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="viewCustomerControllerScope.customersearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive viewCustomer">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Customer Code</th>
                                        <th>Customer Name</th>
                                        <th>Customer Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="customerDetail in viewCustomerControllerScope.customerList | filter: viewCustomerControllerScope.customersearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="viewCustomerControllerScope.showCustomerDetail(customerDetail)" class="linkedText">{{customerDetail.customerCode}}</td>
                                        <td>{{customerDetail.name}}</td>
                                        <td>{{customerDetail.customerType}}</td>
                                        <td class="capitalizeText modelText resLeftText">{{customerDetail.status}}</td>
                                        <!-- <td class="datacenter" ng-if ="customerDetail.status == 'ina'">Inactive </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{viewCustomerControllerScope.infoMsg}}</div>
                            <div ng-show="viewCustomerControllerScope.customerList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="viewCustomerControllerScope.customerList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!viewCustomerControllerScope.showCustomerList" class="innerdivContainer">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                
                                                <button ng-show="viewCustomerControllerScope.showEditButton" ng-click="viewCustomerControllerScope.customerListView()" class="defaultBtn btn mob-width-48">View Customers</button>

                                                <button ng-show="viewCustomerControllerScope.showEditButton" ng-click="viewCustomerControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!viewCustomerControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="viewCustomerControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!viewCustomerControllerScope.showEditButton" ng-click="viewCustomerControllerScope.updateDetails()"  ng-disabled="viewCustomerControllerScope.customeDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="viewCustomerControllerScope.customeDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Code <span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" name="customerCode" class="backgroundNone  width100p" ng-model="viewCustomerControllerScope.customerInfo.customerCode" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" readonly required />
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.customerCode.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.customerCode.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Name <span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" name="customerName" class="backgroundNone  width100p" ng-model="viewCustomerControllerScope.customerInfo.name" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.customerName.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.customerName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Customer Type<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" name="customerType" ng-disabled="viewCustomerControllerScope.nonEditableField" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewCustomerControllerScope.selectCustomerType}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewCustomerControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu" ng-if="!viewCustomerControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="customerType">
                                                             <li class="noPad"><input click-anywhere="showMenu1=false"  type="text" class="form-control" ng-model="viewCustomerControllerScope.keyword1" placeholder="Search"></li>
                                                                <li ng-repeat="customer in viewCustomerControllerScope.customerTypeList | filter: viewCustomerControllerScope.keyword1" ng-click="viewCustomerControllerScope.selectedCustomerType(customer.name)" ng-if="customer.status==='active'">{{customer.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.customerType.$error.required && viewCustomerControllerScope.customeDetailUpdateForm.customerType.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.customerType.$touched" class="errorMsg">Select Customer Type</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Email <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="email" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.email" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' name="email">
                                                        <p class="errorMsg" ng-show="viewCustomerControllerScope.customeDetailUpdateForm.email.$error.pattern">
                                                            Please enter a valid email.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Mobile <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                    <div class="width100p" style="display: inline-flex;">
                                                        <div class="width50p customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone mar-top-5" click-anywhere="showMenu1=false" ng-click="showMenu1=!showMenu1" name="customerType" ng-disabled="viewCustomerControllerScope.nonEditableField" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewCustomerControllerScope.selectCountryCodeType}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewCustomerControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu1" ng-if="!viewCustomerControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone" name="customerType">
                                                            <li class="noPad"><input click-anywhere="showMenu2=false"  type="text" class="form-control" ng-model="viewCustomerControllerScope.keyword2" placeholder="Search"></li>
                                                                <li ng-repeat="country in viewCustomerControllerScope.countryList | filter: viewCustomerControllerScope.keyword2" ng-click="viewCustomerControllerScope.selectedCountryCodeType(country)" ng-if="country.status==='active'">{{country.callingCode}} ( {{country.countryCode}} )</li>
                                                            </ul>
                                                        </div>
                                                        <input type="text" style="margin-left: 0;" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.contactNo" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone  linheight2pt7'">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Address Line 1<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" name="address1" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.addressline1" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.address1.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.address1.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Address Line 2 <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.addressline2" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6">City<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.city" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="city" required />
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.city.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.city.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Country <span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu2=false" ng-click="showMenu2=!showMenu2" ng-disabled="viewCustomerControllerScope.nonEditableField" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewCustomerControllerScope.selectCountry.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewCustomerControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu2" ng-if="!viewCustomerControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                            <li class="noPad"><input click-anywhere="showMenu3=false"  type="text" class="form-control" ng-model="viewCustomerControllerScope.keyword3" placeholder="Search"></li>
                                                                <li ng-repeat="country in viewCustomerControllerScope.countryList | filter: viewCustomerControllerScope.keyword3" ng-click="viewCustomerControllerScope.selectedCountry(country)" ng-if="country.status==='active'">{{country.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.country.$error.required && viewCustomerControllerScope.customeDetailUpdateForm.country.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.country.$touched" class="errorMsg">Select Country</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">State<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu3=false" ng-click="showMenu3=!showMenu3" ng-disabled="viewCustomerControllerScope.nonEditableField" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewCustomerControllerScope.selectState.name}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewCustomerControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu3" ng-if="!viewCustomerControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="state">
                                                            <li class="noPad"><input click-anywhere="showMenu4=false"  type="text" class="form-control" ng-model="viewCustomerControllerScope.keyword4" placeholder="Search"></li>
                                                                <li ng-repeat="state in viewCustomerControllerScope.stateList | filter: viewCustomerControllerScope.keyword4" ng-click="viewCustomerControllerScope.selectedState(state)" ng-if="state.status==='active'">{{state.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <!-- <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.state.$error.required && viewCustomerControllerScope.customeDetailUpdateForm.state.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.state.$touched" class="errorMsg">Select State</p> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Zip<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.zip" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="zip" required />
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.zip.$error.required && viewCustomerControllerScope.customeDetailUpdateForm.zip.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.zip.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Website <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7 reslineheight0">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewCustomerControllerScope.customerInfo.website" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'lineheight4' :  ''">Status<span class="reqStar" ng-if="!viewCustomerControllerScope.nonEditableField">*</span> <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu4=false" ng-click="showMenu4=!showMenu4" ng-disabled="viewCustomerControllerScope.nonEditableField" ng-readonly="viewCustomerControllerScope.nonEditableField" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewCustomerControllerScope.selectStatus}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!viewCustomerControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu4" ng-if="!viewCustomerControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="status">
                                                                <li ng-repeat="status in viewCustomerControllerScope.statusUpdate" ng-click="viewCustomerControllerScope.selectedStatus(status.status)">{{status.status}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewCustomerControllerScope.customeDetailUpdateForm.status.$error.required && viewCustomerControllerScope.customeDetailUpdateForm.status.$invalid && viewCustomerControllerScope.customeDetailUpdateForm.status.$touched" class="errorMsg">Select Status</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-12 col-md-4  reslineheight2pt6">Created On <span ng-if="viewCustomerControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-7" ng-class="viewCustomerControllerScope.edititem === viewCustomerControllerScope.edititemtrue ? 'noneditfeild line-height-3' :  'linheight2pt7'">{{viewCustomerControllerScope.customerInfo.creationDate | date:'dd MMMM yyyy'}}</div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{viewCustomerControllerScope.alertMsg}}</p>
        <button ng-click="viewCustomerControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
