<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="leadControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv view-lead">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{leadControllerScope.title}}</div>
                    <div class="">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal red-icon">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                
                                                    <button ng-show="leadControllerScope.viewLeadButton" ng-click="leadControllerScope.leadListView()" class="defaultBtn btn mob-width-48">View Leads</button>
                                                    <button ng-show="leadControllerScope.viewOneLeadButton" ng-click="leadControllerScope.oneLeadListView()" class="defaultBtn btn mob-width-48">View Lead</button>

                                                    <button ng-show="leadControllerScope.viewLeadButton" ng-click="leadControllerScope.contactList()" class="defaultBtn btn mob-width-48">Contact</button>

                                                    <!-- <button ng-show="leadControllerScope.viewLeadButton" ng-click="leadControllerScope.followedupListView(leadControllerScope.leadInfo)" class="defaultBtn btn mob-width-48">View Follow-ups</button> -->

                                                    <button ng-show="leadControllerScope.viewAddFollowupButton" ng-click="leadControllerScope.addFollowupDate()" class="defaultBtn btn mob-width-48">Add Follow-up</button>

                                                    <button ng-show="leadControllerScope.viewNewContactButton" ng-click="leadControllerScope.addNewContact()" class="activeBtn btn mob-width-48">New Contact</button>

                                                    <button ng-show="leadControllerScope.showLeadEditButton" ng-click="leadControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                    <button ng-show="leadControllerScope.showLeadUpdateDeclineButton"  ng-really-message="Are you sure you want to decline ?" ng-really-click="leadControllerScope.decline()" class="defaultBtn btn mob-width-48">Decline</button>


                                                    <button ng-show="leadControllerScope.showFollowupDeclineButton" ng-really-message="Are you sure you want to decline ?" ng-really-click="leadControllerScope.followDecline()" class="defaultBtn btn mob-width-48">Decline</button>

                                                    <button ng-show="leadControllerScope.showCreateFollowupButton" ng-click="leadControllerScope.createFollowup()"  ng-disabled="leadControllerScope.followupDetailForm.$invalid" class="activeBtn btn mob-width-48">Add Follow-up</button>



                                                     <button ng-show="leadControllerScope.showDeclineEditContact" ng-really-message="Are you sure you want to decline ?" ng-really-click="leadControllerScope.declineContactUpdate()" class="defaultBtn btn mob-width-48">Decline</button>

                                                    <button ng-show="leadControllerScope.showEditContact" ng-click="leadControllerScope.contactEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                    <button ng-show="leadControllerScope.showUpdateContact" ng-click="leadControllerScope.updateContact()"  ng-disabled="leadControllerScope.leadFollowupContactUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>

                                                    <!-- edit followup -->


                                                     <button ng-show="leadControllerScope.showDeclineEditFollowup" ng-really-message="Are you sure you want to decline ?" ng-really-click="leadControllerScope.declineFollowupUpdate()" class="defaultBtn btn mob-width-48">Decline</button>

                                                    <button ng-show="leadControllerScope.showLeadUpdateButton" ng-click="leadControllerScope.updateLead(leadControllerScope.selectedStatus)"  ng-disabled="leadControllerScope.leadDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>

                                                    <button ng-show="leadControllerScope.showEditFollowup" ng-click="leadControllerScope.followupEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                    <button ng-show="leadControllerScope.showUpdateFollowup" ng-click="leadControllerScope.updateFollowup()" ng-disabled="leadControllerScope.followedupDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>

                                                </span>
                                            </div>
                                            <div ng-show="leadControllerScope.showLeadList" class="mobpadding10px">
                                                <div class="margin10 searchSection">
                                                    <span class="operationRightDiv searchSectionRight margin10">
                                                        <input ng-show="goSrch" class="srchBtn" ng-model="leadControllerScope.leadSearchKeyword"/>
                                                        <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                                                    </span>
                                                </div>
                                                <div class="table-responsive viewLead">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Lead Name</th>
                                                                <th>Contact</th>
                                                                <th>BDM</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="leadDetail in leadControllerScope.leadList | filter: leadControllerScope.leadSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                                                <td ng-click="leadControllerScope.showLeadDetail(leadDetail)" class="linkedText">{{leadDetail.leadName}} &nbsp;</td>
                                                                <td> <a ng-href="mailto:{{leadDetail.email}}" target="_blank" class="activeText noUnderline colorPrimary">{{leadDetail.email}}</a><span ng-if="leadDetail.email">,</span> <a ng-href="tel:{{leadDetail.mobileNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{leadDetail.mobileNumber}}</a><span ng-if="leadDetail.phoneNumber">,</span> <a ng-href="tel:{{leadDetail.phoneNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{leadDetail.phoneNumber}}</a> &nbsp;</td>
                                                                <td>{{leadDetail.createdEmployee.firstName}} {{leadDetail.createdEmployee.middleName}} {{leadDetail.createdEmployee.lastName}}</td>
                                                                <td>
                                                                    <div class="customDropDown status width50p" style="margin: 0 auto">
                                                                        <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" ng-click="leadControllerScope.showUls[$index]=!leadControllerScope.showUls[$index]" ng-class="{'colorGrey' :  leadControllerScope.selectedLeadStatus[$index]=='New','colorGreen' :  leadControllerScope.selectedLeadStatus[$index]=='Qualified','colorOrange' :  leadControllerScope.selectedLeadStatus[$index]=='In Progress','colorRed' :  leadControllerScope.selectedLeadStatus[$index]=='Rejected'}">{{leadControllerScope.selectedLeadStatus[$index]}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></label>
                                                                        <ul ng-show="showMenu" ng-show="leadControllerScope.showUls[$index]" class="dropDownUl" name="userRole">
                                                                            <li ng-repeat="status in leadControllerScope.statusList" ng-click="leadControllerScope.updateLeadStatus(leadDetail,status)">{{status}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="infoMsg ">{{leadControllerScope.infoViewMsg}}</div>
                                                    <div ng-show="leadControllerScope.leadList.length> 0" class="text-center">
                                                        <pagination ng-model="currentPage" total-items="leadControllerScope.leadList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                                        </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="leadControllerScope.isLeadUpdate">
                                                <form name="leadControllerScope.leadDetailUpdateForm">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Lead Name <span class="reqStar" ng-if="!leadControllerScope.nonEditableField">*</span> <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="leadName" class="backgroundNone  width100p" ng-model="leadControllerScope.leadInfo.leadName" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-readonly="leadControllerScope.nonEditableField" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.leadName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.leadName.$invalid && leadControllerScope.leadDetailUpdateForm.leadName.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Mobile Number <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="mobileNumber" class="backgroundNone  width100p" ng-model="leadControllerScope.leadInfo.mobileNumber" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^(\+)?([0-9]{2,2})?(\ )?[0-9]{10,10}$/" />
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Phone Number <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="phoneNumber" class="backgroundNone  width100p" ng-model="leadControllerScope.leadInfo.phoneNumber" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^([0-9]{2,5})*(\ )?(\-)?(\ )?([0-9])+$/" />
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Email <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="email" class="backgroundNone width100p" ng-model="leadControllerScope.leadInfo.email" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' name="email">
                                                            <p class="errorMsg" ng-show="leadControllerScope.leadDetailUpdateForm.email.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Address <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="address" class="backgroundNone width100p" ng-model="leadControllerScope.leadInfo.address" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" />
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.address.$invalid && leadControllerScope.leadDetailUpdateForm.address.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Status <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12">
                                                            <label ng-if="leadControllerScope.nonEditableField" readonly class="linheight2pt7">{{leadControllerScope.selectedStatus}}</label>
                                                            <div class="customDropDown" ng-if="!leadControllerScope.nonEditableField">
                                                                <label class="selectCountryLabel backgroundNone" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu" ng-disabled="leadControllerScope.nonEditableField" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{leadControllerScope.selectedStatus}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!leadControllerScope.nonEditableField"></span></label>
                                                                <ul ng-show="showMenu" class="dropDownUl bordernone backgroundNone width100p" name="status">
                                                                    <li class="noPad">
                                                                        <input click-anywhere="showMenu=false" type="text" class="form-control" ng-model="leadControllerScope.keyword" placeholder="Search">
                                                                    </li>
                                                                    <li ng-repeat="status in leadControllerScope.statusList" ng-click="leadControllerScope.selectedStatusFunc(status)">{{status}}</li>
                                                                </ul>
                                                            </div>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.status.$error.required && leadControllerScope.leadDetailUpdateForm.status.$invalid && leadControllerScope.leadDetailUpdateForm.status.$touched" class="errorMsg">Select Vendor Type</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Comment <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12">
                                                            <label ng-if="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'">{{leadControllerScope.leadInfo.comment}}</label>
                                                            <textarea name="comment" class="backgroundNone  width100p" ng-model="leadControllerScope.leadInfo.comment" ng-if="!leadControllerScope.nonEditableField" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5" maxlength="250"></textarea>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.comment.$invalid && leadControllerScope.leadDetailUpdateForm.comment.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="margin10" ng-if="leadControllerScope.todoFollowupList">
                                                    <div class="width50p">
                                                        <div class="leadFollowup">
                                                            <p class="text-center text-bold pad-10" ng-if="leadControllerScope.infoViewMsg!=''">{{leadControllerScope.infoViewMsg}}</p>
                                                            <div class="card-block" ng-repeat="followup in leadControllerScope.leadFollowList|orderBy:'followupDate': reverse" ng-click="leadControllerScope.showFollowedupListDetail(followup)">
                                                                <div class="card-block todo">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <p><strong>{{followup.followupDate | date}} - {{followup.followupTime | date :'hh : mm a'}}</strong> </p>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <p><em class="text-bold">&ldquo; </em>{{followup.remarks}}<em class="text-bold">&rdquo;</em></p>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <h6><em><a ng-href="tel:{{follow.mobileNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{followup.mobileNumber}}</a><a ng-href="tel:{{follow.phoneNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{followup.phoneNumber}}</a><a ng-href="mailto:{{follow.email}}" target="_blank" class="activeText noUnderline colorPrimary">{{followup.email}}</a>
                                                                            <div class="clearfix">{{followup.im}}</div></em></h6>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <h6 class="text-right"><em>{{followup.contactPerson}}</em></h6>
                                                                            <h6 class="text-right">{{followup.dateOfContact | date}} - {{followup.dateOfContactTime | date :'hh : mm a'}}</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="leadControllerScope.isFollowedupList">
                                                <div class="margin10 searchSection">
                                                    <span class="operationRightDiv searchSectionRight margin10">
                                                        <input ng-show="goSrch" class="srchBtn" ng-model="leadControllerScope.leadSearchKeyword"/>
                                                        <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                                                    </span>
                                                </div>
                                                <p class="text-bold">Lead Name : {{leadControllerScope.leadInfo.leadName}}</p>
                                                <div class="table-responsive viewFollowup">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Contact Person</th>
                                                                <th>Contact</th>
                                                                <th>Date Of Contact</th>
                                                                <th>Follow-up Date</th>
                                                                <th>Scope Of Work</th>
                                                                <th>Comment</th>
                                                                <th>Updated By</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="follow in leadControllerScope.leadFollowList | filter: leadControllerScope.leadSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                                                <td ng-click="leadControllerScope.showFollowedupListDetail(follow)" class="linkedText">{{follow.contactPerson}} &nbsp;</td>
                                                                <td> <a ng-href="mailTo:{{follow.email}}" target="_blank" class="activeText noUnderline colorPrimary">{{follow.email}}</a><span ng-if="follow.email">,</span> <a ng-href="tel:{{follow.mobileNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{follow.mobileNumber}}</a><span ng-if="follow.mobileNumber">,</span> <a ng-href="tel:{{follow.phoneNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{follow.phoneNumber}}</a>&nbsp;</td>
                                                                <td>{{follow.dateOfContact | date:'dd-MMM-yyyy'}} {{follow.dateOfContactTime | date:'hh : mm a'}} &nbsp;</td>
                                                                <td>{{follow.followupDate | date:'dd-MMM-yyyy'}} {{follow.followupTime | date:'hh : mm a'}} &nbsp;</td>
                                                                <td><span ng-if="follow.scopeOfWork!='undefined'">{{follow.scopeOfWork}}</span> &nbsp;</td>
                                                                <td>{{follow.remarks}} &nbsp;</td>
                                                                <td><span ng-if="follow.addedEmployee!='undefined undefined undefined'">{{follow.addedEmployee}}</span> &nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="infoMsg">{{leadControllerScope.infoMsg}}</div>
                                                    <div ng-show="leadControllerScope.leadFollowList.length > 0" class="text-center">
                                                        <pagination ng-model="currentPage" total-items="leadControllerScope.leadFollowList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                                        </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="leadControllerScope.isFollowedupDetail" class="margin_top">
                                                <form name="leadControllerScope.followedupDetailUpdateForm">
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6">Contact Person
                                                            <span class="reqStar" ng-if="!leadControllerScope.nonEditableField">*</span> <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <div class="customDropDown">
                                                                <label class="selectCountryLabel" ng-disabled="leadControllerScope.nonEditableField" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu">{{leadControllerScope.followedupInfo.contactPerson}}<span ng-if="!leadControllerScope.nonEditableField" class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                                <ul ng-show="showMenu" ng-if="!leadControllerScope.nonEditableField" class="dropDownUl mediumDropDownUl bordernone backgroundNone width100p" name="Person">
                                                                    <li class="noPad">
                                                                        <input click-anywhere="showMenus=false" type="text" class="form-control" ng-model="leadControllerScope.keywords" placeholder="Search">
                                                                    </li>
                                                                    <li ng-repeat="Person in leadControllerScope.followupContactList | filter:leadControllerScope.keywords" ng-click="leadControllerScope.ContactPersonFun(Person)">{{Person.contactPerson}}</li>
                                                                </ul>
                                                            </div>
                                                            <p ng-show="leadControllerScope.followupDetailForm.Person.$error.required && leadControllerScope.followupDetailForm.Person.$invalid && leadControllerScope.followupDetailForm.Person.$touched" class="errorMsg">Select Lead</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Designation </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="designation" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p  bordernone linheight2pt7'" ng-model="leadControllerScope.followedupInfo.designation" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Instant Messaging
                                                        </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input type="im" class="inputClass" ng-model="leadControllerScope.followedupInfo.im" name="im" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Mobile Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="mobileNumber" class="inputClass" ng-model="leadControllerScope.followedupInfo.mobileNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" readonly />
                                                            <p ng-show="leadControllerScope.followupDetailForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Phone Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="phoneNumber" class="inputClass" ng-model="leadControllerScope.followedupInfo.phoneNumber" ng-pattern="/^([0-9])*(\ )?(\-)?(\ )?([0-9])+$/" ng-readonly="true" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" readonly />
                                                            <p ng-show="leadControllerScope.followupDetailForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Email
                                                        </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input type="email" name="email" ng-model="leadControllerScope.followedupInfo.email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-readonly="true" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass width100p' :  'width100p bordernone linheight2pt7'" readonly />
                                                            <p class="errorMsg" ng-show="leadControllerScope.followupDetailForm.email.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Date of Contact <span class="reqStar" ng-if="!leadControllerScope.nonEditableField">*</span> <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="leadControllerScope.nonEditableField" readonly class="linheight2pt7">{{leadControllerScope.followedupInfo.dateOfContact | date:'dd MMM yyyy'}}</label>
                                                            <input type="text" name="dateOfContact" datepicker-popup="{{format}}" ng-click="leadControllerScope.openDateOfContactCalender($event)" is-open="leadControllerScope.dateOfContactCalender" class="backgroundNone  width100p" show-button-bar="false" ng-model="leadControllerScope.followedupInfo.dateOfContact" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required ng-show="!leadControllerScope.nonEditableField" />
                                                            <p ng-show="leadControllerScope.followupDetailForm.dateOfContact.$invalid && leadControllerScope.followupDetailForm.dateOfContact.$touched" class="errorMsg">Feild is required.</p>
                                                            <p ng-show="leadControllerScope.followedupDetailUpdateForm.followupDateOfContact.$invalid && leadControllerScope.followedupDetailUpdateForm.followupDateOfContact.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen mob-top-0" ng-show='leadControllerScope.edititem' ng-show='leadControllerScope.edititem'>
                                                           <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="leadControllerScope.openDateOfContactCalender($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6">Time Of Contact </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="leadControllerScope.nonEditableField" readonly class="linheight2pt7">{{leadControllerScope.followedupInfo.contactTime | date:'hh :mm a'}}</label>
                                                            <div class="row  timeInput">
                                                                <input moment-picker="leadControllerScope.followedupInfo.dateOfContactTime" autoclose="true" keyboard="true" set-on-select="true" format="LT" class="inputClass" is-open="showEditTimeOfContact" class="backgroundNone  width100p" ng-model="leadControllerScope.followedupInfo.dateOfContactTime" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" readonly required ng-if="!leadControllerScope.nonEditableField" />
                                                            </div>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen" ng-show='leadControllerScope.edititem'>
                                                            <button type="button" class="btn btn-default mar-top-10 addIcon" ng-click="showTimeOfContact=!showTimeOfContact">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6">Follow-up Date
                                                        </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="leadControllerScope.nonEditableField" readonly class="linheight2pt7">{{leadControllerScope.followedupInfo.followupDate | date:'dd MMM yyyy'}}</label>
                                                            <input type="text" name="followupDate" ng-click="leadControllerScope.openFollowupDateContactCalender($event)" class="inputClass" datepicker-popup="{{format}}" ng-model="leadControllerScope.followedupInfo.followupDate" is-open="leadControllerScope.followupDate" show-button-bar="false" placeholder="Followup Date" class="backgroundNone  width100p" ng-model="leadControllerScope.followedupInfo.dateOfContact" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" readonly ng-show="!leadControllerScope.nonEditableField" />
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen" ng-show='leadControllerScope.edititem'>
                                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="leadControllerScope.openFollowupDateContactCalender($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6">Follow-up Time </label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="leadControllerScope.nonEditableField" readonly class="linheight2pt7">{{leadControllerScope.followedupInfo.followTime | date:'hh : mm a'}}</label>
                                                            <div class="row  timeInput">
                                                                <input moment-picker="leadControllerScope.followedupInfo.followupTime" ng-model="leadControllerScope.followedupInfo.followupTime" format="LT" autoclose="true" keyboard="true" set-on-select="true" is-open="showEditFollowupTime" class="inputClass backgroundNone  width100p" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" readonly ng-show="!leadControllerScope.nonEditableField" />
                                                            </div>
                                                            <p class="errorMsg" ng-show="leadControllerScope.followupDetailForm.FThour.$error.pattern || leadControllerScope.followupDetailForm.FTminute.$error.pattern || leadControllerScope.followupDetailForm.FThour.$invalid || leadControllerScope.followupDetailForm.FTminute.$invalid">
                                                                Please enter a valid time.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen" ng-show='leadControllerScope.edititem'>
                                                            <button type="button" class="btn btn-default mar-top-10 addIcon"  ng-click="showFollowupTime=!showFollowupTime">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Scope Of Work <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <input name="followedupScopeOfWork" class="backgroundNone  width100p" ng-model="leadControllerScope.followedupInfo.scopeOfWork" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5">
                                                            <p ng-show="leadControllerScope.followedupDetailUpdateForm.followedupscopeOfWork.$invalid && leadControllerScope.followedupDetailUpdateForm.followedupscopeOfWork.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Comment <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 pad-right-0 mob-pad-right-15">
                                                            <textarea name="followedupComment" class="backgroundNone  width100p" ng-model="leadControllerScope.followedupInfo.remarks" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5"></textarea>
                                                            <p ng-show="leadControllerScope.followedupDetailUpdateForm.followedupComment.$invalid && leadControllerScope.followedupDetailUpdateForm.followedupComment.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div ng-show="leadControllerScope.isAddFollowup">
                                                <form name="leadControllerScope.followupDetailForm">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Person
                                                            <span class="reqStar">*</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <div class="customDropDown">
                                                                <label class="selectCountryLabel" click-anywhere="showMenu=false" ng-click="showMenu=!showMenu">{{leadControllerScope.ContactList.contactPerson}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                                <ul ng-show="showMenu" class="dropDownUl mediumDropDownUl" name="Person">
                                                                    <li class="noPad">
                                                                        <input click-anywhere="showMenu=false" type="text" class="form-control" ng-model="leadControllerScope.keyword" placeholder="Search">
                                                                    </li>
                                                                    <li ng-repeat="Person in leadControllerScope.followupContactList | filter: leadControllerScope.keyword" ng-click="leadControllerScope.ContactPersonFun(Person)">{{Person.contactPerson}}</li>
                                                                </ul>
                                                            </div>
                                                            <p ng-show="leadControllerScope.followupDetailForm.Person.$error.required && leadControllerScope.followupDetailForm.Person.$invalid && leadControllerScope.followupDetailForm.Person.$touched" class="errorMsg">Select Lead</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Designation </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="designation" class="inputClass" placeholder="Designation" ng-model="leadControllerScope.followup.designation" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Instant Messaging
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="im" class="inputClass" ng-model="leadControllerScope.followup.im" name="im" placeholder="Instant Messaging" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Mobile Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="mobileNumber" class="inputClass" placeholder="Mobile Number" ng-model="leadControllerScope.followup.mobileNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" />
                                                            <p ng-show="leadControllerScope.followupDetailForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Phone Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="phoneNumber" class="inputClass" placeholder="Phone Number" ng-model="leadControllerScope.followup.phoneNumber" ng-pattern="/^([0-9])*(\ )?(\-)?(\ )?([0-9])+$/" />
                                                            <p ng-show="leadControllerScope.followupDetailForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Email
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="email" class="inputClass" ng-model="leadControllerScope.followup.email" name="email" placeholder="Customer Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                                            <p class="errorMsg" ng-show="leadControllerScope.followupDetailForm.email.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Date of Contact
                                                            <span class="reqStar">*</span>
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="dateOfContact" ng-click="leadControllerScope.openDateOfContactCalender($event)" type="text" class="inputClass" datepicker-popup="{{format}}" ng-model="leadControllerScope.followup.dateOfContact" is-open="leadControllerScope.dateOfContactCalender" show-button-bar="false" placeholder="Date of Contact" required readonly/>
                                                            <p ng-show="leadControllerScope.followupDetailForm.dateOfContact.$invalid && leadControllerScope.followupDetailForm.dateOfContact.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen">
                                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="leadControllerScope.openDateOfContactCalender($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Time Of Contact </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 mar-top-5">
                                                            <div class="row  timeInput">
                                                                <input moment-picker="leadControllerScope.followup.dateOfContactTime" ng-model="leadControllerScope.followup.dateOfContactTime" format="LT" autoclose="true" keyboard="true" set-on-select="true" class="inputClass" placeholder="Select Time Of Contact" is-open="showTimeOfContact" readonly>
                                                                <p class="errorMsg" ng-show="leadControllerScope.followupDetailForm.DOCThour.$error.pattern || leadControllerScope.followupDetailForm.DOCTminute.$error.pattern || leadControllerScope.followupDetailForm.DOCThour.$invalid || leadControllerScope.followupDetailForm.DOCTminute.$invalid">Please enter a valid time.</p>
                                                            </div>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen">
                                                            <button type="button" class="btn btn-default mar-top-10 addIcon" ng-click="showTimeOfContact=!showTimeOfContact">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Follow-up Date
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 padd">
                                                            <input type="text" name="followupDate" ng-click="leadControllerScope.openFollowupDateContactCalender($event)" class="inputClass" datepicker-popup="{{format}}" ng-model="leadControllerScope.followup.followupDate" is-open="leadControllerScope.followupDate" show-button-bar="false" placeholder="Followup Date" readonly/>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen">
                                                            <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="leadControllerScope.openFollowupDateContactCalender($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Follow-up Time </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 mar-top-5">
                                                            <div class="row  timeInput">
                                                                <input moment-picker="leadControllerScope.followup.followupTime" ng-model="leadControllerScope.followup.followupTime" format="LT" autoclose="true" keyboard="true" set-on-select="true" class="inputClass" placeholder="Select Follow-up Time" is-open="showFollowupTime" readonly>
                                                            </div>
                                                            <p class="errorMsg" ng-show="leadControllerScope.followupDetailForm.FThour.$error.pattern || leadControllerScope.followupDetailForm.FTminute.$error.pattern || leadControllerScope.followupDetailForm.FThour.$invalid || leadControllerScope.followupDetailForm.FTminute.$invalid">
                                                                Please enter a valid time.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen">
                                                            <button type="button" class="btn btn-default mar-top-10 addIcon"  ng-click="showFollowupTime=!showFollowupTime">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Scope Of Work
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="scopeOfWork" class="inputClass" placeholder="Scope Of Work" ng-model="leadControllerScope.followup.scopeOfWork" maxlength="250">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Comment
                                                        </label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <textarea type="text" name="remarks" class="inputClass" placeholder="Comment" ng-model="leadControllerScope.followup.remarks" maxlength="250"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div ng-show="leadControllerScope.isContact">
                                                <div class="margin10 searchSection">
                                                    <span class="operationRightDiv searchSectionRight margin10">
                                                        <input ng-show="goSrch" class="srchBtn" ng-model="leadControllerScope.leadSearchKeyword"/>
                                                        <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                                                    </span>
                                                </div>
                                                <p class="text-bold">Lead Name : {{leadControllerScope.leadInfo.leadName}}</p>
                                                <div class="table-responsive viewFollowupContact">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Contact Person</th>
                                                                <th>Designation</th>
                                                                <th>Contact</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="contact in leadControllerScope.followupContactList | filter: leadControllerScope.leadSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                                                <td ng-click="leadControllerScope.showContactDetail
                                                               (contact)" class="linkedText">{{contact.contactPerson}} &nbsp;</td>
                                                                <td>{{contact.designation}} &nbsp;</td>
                                                                <td><a ng-href="mailTo:{{contact.email}}" target="_blank" class="activeText noUnderline colorPrimary">{{contact.email}}</a><span ng-if="contact.email">,</span> <a ng-href="tel:{{contact.mobileNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{contact.mobileNumber}}</a><span ng-if="contact.mobileNumber">,</span> <a ng-href="tel:{{contact.phoneNumber}}" target="_blank" class="activeText noUnderline colorPrimary">{{contact.phoneNumber}}</a><span ng-if="contact.im">,</span> {{contact.im}}&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="infoMsg">{{leadControllerScope.infoMsg}}</div>
                                                    <div ng-show="leadControllerScope.leadFollowList.length > 0" class="text-center">
                                                        <pagination ng-model="currentPage" total-items="leadControllerScope.leadFollowList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                                        </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="leadControllerScope.isNewContact">
                                                <div class="formfooterbtns">
                                                    <button class="defaultBtn btn" ng-really-message="Are you sure you want to decline ?" ng-really-click="leadControllerScope.declineContact()">Decline</button>
                                                    <button class="activeBtn btn" ng-disabled="leadControllerScope.newFollowupForm.$invalid" ng-click="leadControllerScope.newFollowupContact()">Save</button>
                                                </div>
                                                <form name="leadControllerScope.newFollowupForm" class="form-horizontal formContainer">
                                                    <div class="infoMsg">{{leadControllerScope.infoViewMsg}}</div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Lead
                                                            <span class="reqStar">*</span></label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <div class="customDropDown">
                                                                <label class="selectCountryLabel">{{leadControllerScope.contactLead.leadName}}</label>
                                                            </div>
                                                            <p ng-show="leadControllerScope.newFollowupForm.lead.$error.required && leadControllerScope.newFollowupForm.lead.$invalid && leadControllerScope.newFollowupForm.lead.$touched" class="errorMsg">Select Lead</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Person
                                                            <span class="reqStar">*</span></label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="text" name="contactPerson" class="inputClass" placeholder="Contact Person" ng-model="leadControllerScope.followupContact.contactPerson" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                                            <p ng-show="leadControllerScope.newFollowupForm.contactPerson.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                            <p ng-show="leadControllerScope.newFollowupForm.contactPerson.$invalid && leadControllerScope.newFollowupForm.contactPerson.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Designation </label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="text" name="designation" class="inputClass" placeholder="Designation" ng-model="leadControllerScope.followupContact.designation" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Instant Messaging
                                                        </label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="im" class="inputClass" ng-model="leadControllerScope.followupContact.im" name="im" placeholder="Instant Messaging" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Mobile Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="text" name="mobileNumber" class="inputClass" placeholder="Mobile Number" ng-model="leadControllerScope.followupContact.mobileNumber" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" />
                                                            <p ng-show="leadControllerScope.newFollowupForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Phone Number
                                                        </label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="text" name="phoneNumber" class="inputClass" placeholder="Phone Number" ng-model="leadControllerScope.followupContact.phoneNumber" ng-pattern="/^([0-9])*(\ )?(\-)?(\ )?([0-9])+$/" />
                                                            <p ng-show="leadControllerScope.newFollowupForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Email
                                                        </label>
                                                        <div class="col-sm-12 col-md-7">
                                                            <input type="email" class="inputClass" ng-model="leadControllerScope.followupContact.email" name="email" placeholder="Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                                            <p class="errorMsg" ng-show="leadControllerScope.newFollowupForm.email.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div ng-show="leadControllerScope.isEditContact">
                                                <form name="leadControllerScope.leadFollowupContactUpdateForm">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Contact Person<span class="reqStar" ng-if="!leadControllerScope.nonEditableField">*</span> <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="contactPerson" class="backgroundNone  width100p" ng-model="leadControllerScope.leadFollowUpContact.contactPerson" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-readonly="leadControllerScope.nonEditableField" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.contactPerson.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.contactPerson.$invalid && leadControllerScope.leadDetailUpdateForm.contactPerson.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Designation<span class="reqStar" ng-if="!leadControllerScope.nonEditableField">*</span> <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="Designation" class="backgroundNone  width100p" ng-model="leadControllerScope.leadFollowUpContact.designation" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-readonly="leadControllerScope.nonEditableField" required/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Mobile Number <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="mobileNumber" class="backgroundNone  width100p" ng-model="leadControllerScope.leadFollowUpContact.mobileNumber" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^(\+)?([0-9]{2,2})?(\ )?[0-9]{10,10}$/" />
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.mobileNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Phone Number <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="text" name="phoneNumber" class="backgroundNone  width100p" ng-model="leadControllerScope.leadFollowUpContact.phoneNumber" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^([0-9]{2,5})*(\ )?(\-)?(\ )?([0-9])+$/" />
                                                            <p ng-show="leadControllerScope.leadDetailUpdateForm.phoneNumber.$error.pattern" class="errorMsg">Enter Correct Number.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Email <span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="email" class="backgroundNone width100p" ng-model="leadControllerScope.leadFollowUpContact.email" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' name="email">
                                                            <p class="errorMsg" ng-show="leadControllerScope.leadDetailUpdateForm.email.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'lineheight4' :  ''">Instant messaging<span ng-if="leadControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                            <input type="im" class="backgroundNone width100p" ng-model="leadControllerScope.leadFollowUpContact.im" ng-readonly="leadControllerScope.nonEditableField" ng-class="leadControllerScope.edititem === leadControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="im">
                                                            <p class="errorMsg" ng-show="leadControllerScope.leadDetailUpdateForm.im.$error.pattern">
                                                                Please enter a valid email.</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{leadControllerScope.alertMsg}}</p>
        <button ng-click="leadControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
