<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="viewEmployeeControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv">
            <div class="rightContainer">
                <div class="pageTitleParent view-employee">
                    <div class="pageTitletextContainer">{{viewEmployeeControllerScope.title}}</div>
                    <div ng-show="viewEmployeeControllerScope.showEmployeeList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="viewEmployeeControllerScope.employeeSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive viewCustomer">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee Id</th>
                                        <th>Employee Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="empDetail in viewEmployeeControllerScope.employeeList | filter: viewEmployeeControllerScope.employeeSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="viewEmployeeControllerScope.showEmployeeDetail(empDetail)" class="linkedText">{{empDetail.employeeId}}</td>
                                        <td>{{empDetail.firstName}}&nbsp;{{empDetail.middleName}}&nbsp;{{empDetail.lastName}}</td>
                                        <td class="capitalizeText modelText resLeftText">{{empDetail.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{viewEmployeeControllerScope.infoMsg}}</div>
                            <div ng-show="viewEmployeeControllerScope.employeeList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="viewEmployeeControllerScope.employeeList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!viewEmployeeControllerScope.showEmployeeList" class="innerdivContainer red-icon">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                
                                                <button ng-show="viewEmployeeControllerScope.showEditButton" ng-click="viewEmployeeControllerScope.employeeListView()" class="defaultBtn btn mob-width-48">View Employees</button>

                                                <button ng-show="viewEmployeeControllerScope.showEditButton" ng-click="viewEmployeeControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!viewEmployeeControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="viewEmployeeControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!viewEmployeeControllerScope.showEditButton" ng-click="viewEmployeeControllerScope.updateDetails()"  ng-disabled="viewEmployeeControllerScope.customeDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="viewEmployeeControllerScope.customeDetailUpdateForm">
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Employee Id<span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0  mob-pad-right-15">
                                                        <input type="text" name="employeeId" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.employeeId" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" disabled required />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">First Name <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="fName" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.firstName" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.fName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.fName.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.fName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Middle Name <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="mName" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.middleName" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-model="viewEmployeeControllerScope.employee.mname" ng-pattern="/^[a-zA-Z\ ]*$/" />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.mName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Last Name <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="lName" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.lastName" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-model="viewEmployeeControllerScope.employee.mname" ng-pattern="/^[a-zA-Z\ ]*$/" required />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.lName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.lName.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.lName.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Personal Contact <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="emergencyNumber" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.contact[0].emergencyNumber" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" required/>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.emergencyNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.emergencyNumber.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.emergencyNumber.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Primary Contact <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="primaryNumber" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.contact[0].primaryNumber" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.primaryNumber.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Company Email <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="companyEmail" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.email[0].companyEmail" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />
                                                        <p class="errorMsg" ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.companyEmail.$error.pattern"> Please enter a valid email. Ex abc@saptalabs.com</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.companyEmail.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.companyEmail.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Personal Email <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="emergencyEmail" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.email[0].emergencyEmail" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />
                                                        <p class="errorMsg" ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.emergencyEmail.$error.pattern"> Please enter a valid email. Ex abc@saptalabs.com</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.emergencyEmail.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.emergencyEmail.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Gender <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15 switch-field">
                                                        <span ng-show="!viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue" class="linheight2pt7">{{viewEmployeeControllerScope.empInfo.gender}}</span>
                                                        <span ng-show="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue">
                                                        <input type="radio" id="switch_left" name="switch_2" value="Male" ng-model="viewEmployeeControllerScope.empInfo.gender" ng-click="viewEmployeeControllerScope.empInfo.gender='Male'" ng-checked="viewEmployeeControllerScope.empInfo.gender=='Male'" />
                                                        <label for="switch_left" class="linheight2pt7">Male</label>
                                                        <input type="radio" id="switch_right" ng-model="viewEmployeeControllerScope.empInfo.gender" name="switch_2" value="Female" ng-click="viewEmployeeControllerScope.empInfo.gender='Female'" ng-checked="viewEmployeeControllerScope.empInfo.gender=='Female'"/>
                                                        <label for="switch_right" class="linheight2pt7">Female</label>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.gender.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.gender.$touched" class="errorMsg">Feild is required.</p>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Aadhar ID <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="adharId" class="backgroundNone width100p" ng-model="viewEmployeeControllerScope.empInfo.adharId" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^[0-9]{4}(\ )?[0-9]{4}(\ )?[0-9]{4}$/" ng-maxlength="14" />
                                                        <p class="errorMsg" ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.adharno.$error.pattern && viewEmployeeControllerScope.customeDetailUpdateForm.adharno.$invalid"> Please enter a valid Adhar number. Use Only numbers. Can use SPACE after 4 digit each. ex 0000 0000 0000 or 000000000000</p>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.adharId.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.adharId.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">PAN Number <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="panNo" class="backgroundNone width100p" ng-model="viewEmployeeControllerScope.empInfo.panNo" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/" ng-change="viewEmployeeControllerScope.employee.panno = (viewEmployeeControllerScope.employee.panno | uppercase)" />
                                                        <p class="errorMsg" ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.panno.$error.pattern"> Please enter a valid PAN Card. Ex AAAAA0000A</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6">Birth Date <span class="reqStar" ng-show="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-show="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <label ng-show="viewEmployeeControllerScope.nonEditableField" class="linheight2pt7">{{viewEmployeeControllerScope.empInfo.birthday | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="birthday" datepicker-popup="{{format}}" is-open="viewEmployeeControllerScope.birthdayCalender" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.birthday" readonly ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-click="viewEmployeeControllerScope.openbirthdayCalender($event)" required ng-show="!viewEmployeeControllerScope.nonEditableField" />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.birthday.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.birthday.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewEmployeeControllerScope.edititem' ng-click="viewEmployeeControllerScope.openbirthdayCalender($event)">
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Work Location <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <label class="linheight2pt7 bordernone" readonly ng-if="viewEmployeeControllerScope.nonEditableField">{{viewEmployeeControllerScope.selectedWork}}</label>
                                                        <div class="customDropDown" ng-if="!viewEmployeeControllerScope.nonEditableField">
                                                            <label class="selectCountryLabel backgroundNone mar-top-5" click-anywhere="showMenu=false;showMenuworklocation=false" ng-click="showMenu=!showMenu;showMenuworklocation=!showMenuworklocation" name="workLocation" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'" ng-show="!showMenuworklocation">{{viewEmployeeControllerScope.selectedWork}}<span class="glyphicon glyphicon-chevron-down  pull-right" ng-show="!viewEmployeeControllerScope.nonEditableField"></span></label>
                                                            <input click-anywhere="showMenuworklocation=false" type="text" class="inputClass width100p" ng-model="viewEmployeeControllerScope.keywordworklocation" placeholder="Work Location" ng-show="showMenuworklocation && !viewEmployeeControllerScope.nonEditableField">
                                                            <ul ng-show="showMenu" ng-show="!viewEmployeeControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="workLocation">
                                                                <li ng-repeat="workPlace in viewEmployeeControllerScope.worklocationListType | filter: viewEmployeeControllerScope.keywordworklocation" ng-click="viewEmployeeControllerScope.selectedworkLocationFun(workPlace)">{{workPlace.worklocation}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.workLocation.$error.required && viewEmployeeControllerScope.customeDetailUpdateForm.workLocation.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.workLocation.$touched" class="errorMsg">Select Work Location</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Employee Type <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <label class="linheight2pt7 bordernone" readonly ng-if="viewEmployeeControllerScope.nonEditableField">{{viewEmployeeControllerScope.selectedEmployeType}}</label>
                                                        <div class="customDropDown" ng-if="!viewEmployeeControllerScope.nonEditableField">
                                                            <label class="selectCountryLabel backgroundNone mar-top-5" click-anywhere="showMenu1=false;showEmployeeType=false" ng-click="showMenu1=!showMenu1;showEmployeeType=!showEmployeeType" name="employeeType" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'" ng-show="!showEmployeeType">{{ viewEmployeeControllerScope.selectedEmployeType}}<span class="glyphicon glyphicon-chevron-down  pull-right"></span></label>
                                                            <input click-anywhere="showEmployeeType=false" type="text" class="inputClass width100p" ng-model="viewEmployeeControllerScope.keywordemployeeType" placeholder="Employee Type" ng-show="showEmployeeType">
                                                            <ul ng-show="showMenu1" ng-if="!viewEmployeeControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="employeeType">
                                                                <li ng-repeat="emptypelist in viewEmployeeControllerScope.employeeTypeList | filter: viewEmployeeControllerScope.keywordemployeeType" ng-click="viewEmployeeControllerScope.selectedEmployeeFun(emptypelist)">{{emptypelist.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.employeeType.$error.required && viewEmployeeControllerScope.customeDetailUpdateForm.employeeType.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.employeeType.$touched" class="errorMsg">Select Employee Type</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Department<span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <label class="linheight2pt7 bordernone" readonly ng-if="viewEmployeeControllerScope.nonEditableField">{{viewEmployeeControllerScope.selectedDepartment}}</label>
                                                        <div class="customDropDown" ng-if="!viewEmployeeControllerScope.nonEditableField">
                                                            <label class="selectCountryLabel backgroundNone mar-top-5" click-anywhere="showMenu2=false;showDepartmentLabel=false" ng-click="showMenu2=!showMenu2;showDepartmentLabel=!showDepartmentLabel" name="Department" ng-disabled="viewEmployeeControllerScope.nonEditableField" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'" ng-show="!showDepartmentLabel">{{viewEmployeeControllerScope.selectedDepartment}}<span class="glyphicon glyphicon-chevron-down  pull-right" ng-if="!viewEmployeeControllerScope.nonEditableField"></span></label>
                                                            <input click-anywhere="showDepartment=false;showDepartmentLabel=false" type="text" class="inputClass width100p" ng-model="viewEmployeeControllerScope.keywordDepartment" placeholder="Department" ng-show="showDepartmentLabel">
                                                            <ul ng-show="showMenu2" ng-if="!viewEmployeeControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="Department">
                                                                <li ng-repeat="deplist in viewEmployeeControllerScope.departmentList | filter: viewEmployeeControllerScope.keywordDepartment" ng-click="viewEmployeeControllerScope.selectedDepartmentFun(deplist)">{{deplist.name}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.department.$error.required && viewEmployeeControllerScope.customeDetailUpdateForm.department.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.department.$touched" class="errorMsg">Select Department</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Title <span class="reqStar" ng-if="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" class="backgroundNone width100p" ng-model="viewEmployeeControllerScope.empInfo.title" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" name="title" required />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.title.$error.required && viewEmployeeControllerScope.customeDetailUpdateForm.title.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.title.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Job Description <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 reslineheight0 pad-right-0 mob-pad-right-15">
                                                        <input type="text" name="jobDescription" class="backgroundNone width100p" ng-model="viewEmployeeControllerScope.empInfo.jobDescription" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Status <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <div class="customDropDown">
                                                            <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenu3=false" ng-click="showMenu3=!showMenu3" name="status" ng-disabled="viewEmployeeControllerScope.nonEditableField" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{viewEmployeeControllerScope.selectedStatus.status}}<span class="glyphicon glyphicon-chevron-down  pull-right" ng-if="!viewEmployeeControllerScope.nonEditableField"></span></label>
                                                            <ul ng-show="showMenu3" ng-if="!viewEmployeeControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="status">
                                                                <li ng-repeat="status in viewEmployeeControllerScope.statusList" ng-click="viewEmployeeControllerScope.selectedStatusFun(status)">{{status.status}}</li>
                                                            </ul>
                                                        </div>
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.status.$error.required && viewEmployeeControllerScope.customeDetailUpdateForm.status.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.status.$touched" class="errorMsg">Select Status</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'lineheight4' :  ''">Reporting To <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <div class="pos-rel">
                                                            <input type="text" name="reportingTo" class="inputClass" ng-model="viewEmployeeControllerScope.empInfo.reporting" ng-change="viewEmployeeControllerScope.getEmployeeByEmailOrName(viewEmployeeControllerScope.empInfo.reporting)" autocomplete="off" ng-readonly="viewEmployeeControllerScope.nonEditableField" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass width100p' :  'bordernone linheight2pt7 width100p'" />
                                                            <p class="errorMsg" ng-show="viewEmployeeControllerScope.employeeListNotFound">Employee Record Not Found</p>
                                                            <div class="pos-abs employeeSearchDiv width100p" ng-show="viewEmployeeControllerScope.isEmployeeFound">
                                                                <ul>
                                                                    <li ng-repeat="employee in viewEmployeeControllerScope.employeeList" ng-click="viewEmployeeControllerScope.selectedRepoting(employee)">
                                                                        <p>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</p>
                                                                        <p class="small">{{employee.email[0].companyEmail}}</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mob-pos-rel">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6">Joining Date <span class="reqStar" ng-show="!viewEmployeeControllerScope.nonEditableField">*</span> <span ng-show="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-md-7 col-xs-12 col-lg-6 pad-right-0 mob-pad-right-15 ">
                                                        <label ng-show="viewEmployeeControllerScope.nonEditableField" class="linheight2pt7">{{viewEmployeeControllerScope.empInfo.startDate | date:'dd MMM yyyy'}}</label>
                                                        <input type="text" name="startDate" datepicker-popup="{{format}}" is-open="viewEmployeeControllerScope.joiningDateCalender" class="backgroundNone  width100p" ng-model="viewEmployeeControllerScope.empInfo.startDate" readonly ng-click="viewEmployeeControllerScope.openJoiningDateCalender($event)" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required ng-show="!viewEmployeeControllerScope.nonEditableField" />
                                                        <p ng-show="viewEmployeeControllerScope.customeDetailUpdateForm.startDate.$invalid && viewEmployeeControllerScope.customeDetailUpdateForm.startDate.$touched" class="errorMsg">Feild is required.</p>
                                                    </div>
                                                    <span class="input-group-btn mob-pos-abs select-button calen" ng-show='viewEmployeeControllerScope.edititem' ng-click="viewEmployeeControllerScope.openJoiningDateCalender($event)">
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6">Created On <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-6 col-xs-12" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'noneditfeild line-height-3' :  'linheight2pt7'">{{viewEmployeeControllerScope.empInfo.creationDate|date:'dd MMMM yyyy'}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4 reslineheight2pt6">Updated On <span ng-if="viewEmployeeControllerScope.nonEditableField">:</span></label>
                                                    <div class="col-sm-12 col-md-6 col-xs-12" ng-class="viewEmployeeControllerScope.edititem === viewEmployeeControllerScope.edititemtrue ? 'noneditfeild line-height-3' :  'linheight2pt7'">{{viewEmployeeControllerScope.empInfo.updatedon|date:'dd MMMM yyyy'}}</div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{viewEmployeeControllerScope.alertMsg}}</p>
        <button ng-click="viewEmployeeControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
