<div class="pageContainer">
    <div class="row back_clr headerheight">
        <ng-include src="'templates/header.html'"></ng-include>
    </div>
    <div class="bodyContainer">
        <div class="leftMenuParent" ng-class="leftMenuControllerScope.showMenu ? 'hideMenu' :  'showHidenMenu'" ng-controller="leftMenuController as leftMenuControllerScope">
            <ng-include src="'templates/leftMenu.html'"></ng-include>
        </div>
        <div class="block_overlay" ng-if="offersControllerScope.spinner">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="rightParentDiv" ng-init="isViewOffer=true">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">{{offersControllerScope.viewTitle}}</div>
                    <div ng-show="offersControllerScope.showOffersList" class="innerdivContainer mobpadding10px">
                        <div class="margin10 searchSection">
                            <!-- <span class="searchSectionLeft">
                                <button class="glyphicon-plus activeBtn btn" data-toggle="modal" ng-click="offersControllerScope.addOffers()">Add New</button>
                            </span> -->
                            <span class="operationRightDiv searchSectionRight">
                            <input ng-show="goSrch" class="srchBtn" ng-model="offersControllerScope.offersSearchKeyword"/>
                            <button ng-click="goSrch = !goSrch" class="glyphicon glyphicon-search defaultBtn btn gridActionBtn"></button>
                        </span>
                        </div>
                        <div class="table-responsive view-offer">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Candidate Name</th>
                                        <th>Designation</th>
                                        <th>CTC</th>
                                        <th>Offer Date</th>
                                        <th>Joining Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="offersDetail in offersControllerScope.offersList | filter: offersControllerScope.offersSearchKeyword | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td ng-click="offersControllerScope.showOffersDetail(offersDetail)" class="linkedText">{{offersDetail.candidateName}}</td>
                                        <td>{{offersDetail.designation}}</td>
                                        <td class="text-right">{{offersDetail.ctc}}</td>
                                        <td class="text-center">{{offersDetail.offerDate | date:'dd-MMMM-yyyy'}}</td>
                                        <td class="text-center">{{offersDetail.joiningDate | date:'dd-MMMM-yyyy'}}</td>
                                        <td class="text-center underline-bottom-5" ng-click="offersControllerScope.printOffer(offersDetail)"><span class="activeText">Release Offer</span> <span class="glyphicon glyphicon-print actionIcon"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="infoMsg">{{offersControllerScope.infoMsg}}</div>
                            <div class="infoMsg" ng-show="isViewOffer">{{offersControllerScope.infoViewMsg}}</div>
                            <div ng-show="offersControllerScope.offersList.length > 0" class="text-center">
                                <pagination ng-model="currentPage" total-items="offersControllerScope.offersList.length" max-size="5" boundary-links="true" items-per-page="entryLimit" boundary-link-numbers="true">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!offersControllerScope.showOffersList" class="innerdivContainer">
                        <div class="row">
                            <div class="row configmenurow">
                                <div class="">
                                    <div class="card-body">
                                        <div class="form-horizontal red-icon">
                                            <div class="detailoperationSection">
                                                <span class="operationRightDiv width100p">
                                                 <!-- <button ng-click="offersControllerScope.exportss()" class="defaultBtn btn mob-width-48">Print</button> -->
                                                <button ng-show="offersControllerScope.showEditButton" ng-click="offersControllerScope.offersListView()" class="defaultBtn btn mob-width-48">View Offers</button>

                                                <button ng-show="offersControllerScope.showEditButton" ng-click="offersControllerScope.showEdit()" class="activeBtn btn mob-width-48">Edit</button>

                                                <button ng-show="!offersControllerScope.showEditButton" ng-really-message="Are you sure want to decline ?" ng-really-click="offersControllerScope.decline()" class="defaultBtn btn mob-width-48" >Decline</button>

                                                <button ng-show="!offersControllerScope.showEditButton" ng-click="offersControllerScope.updateOffer()"  ng-disabled="offersControllerScope.offersDetailUpdateForm.$invalid" class="activeBtn btn mob-width-48">Update</button>
                                            </span>
                                            </div>
                                            <form name="offersControllerScope.offersDetailUpdateForm">
                                                <div id="exportthis">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''"><span ng-if="!offersControllerScope.nonEditableField">Choose </span>Requirement <span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <div class="customDropDown">
                                                                <label class="selectCountryLabel bordernone backgroundNone" click-anywhere="showMenus=false" ng-click="showMenus=!showMenus" name="projectName" ng-disabled="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'pad-10' :  'linheight2pt7 bordernone'">{{offersControllerScope.selectedRequirement.projectName}}<span class="glyphicon glyphicon-chevron-down pull-right" ng-if="!offersControllerScope.nonEditableField"></span></label>
                                                                <ul ng-show="showMenus" ng-if="!offersControllerScope.nonEditableField" class="dropDownUl bordernone backgroundNone width100p" name="country">
                                                                    <li class="noPad">
                                                                        <input click-anywhere="showMenu=false" type="text" class="form-control" ng-model="offersControllerScope.keyword" placeholder="Search">
                                                                    </li>
                                                                    <li ng-repeat="project in offersControllerScope.projectList | filter: offersControllerScope.keyword" ng-click="offersControllerScope.selectedRequirementFun(project)" ng-if="project.status==='active'">{{project.projectName}}</li>
                                                                </ul>
                                                            </div>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.billno.$invalid && offersControllerScope.offersDetailUpdateForm.billno.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Offering Date <span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="offersControllerScope.nonEditableField" readonly class="linheight2pt7">{{offersControllerScope.offersInfo.offerDate | date:'dd MMM yyyy'}}</label>
                                                            <input type="text" name="offerDate" datepicker-popup="{{format}}" is-open="offersControllerScope.offerDateCalender" class="backgroundNone  width100p" ng-click="offersControllerScope.openOfferingDateCalender($event)" ng-model="offersControllerScope.offersInfo.offerDate" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-readonly required ng-if="!offersControllerScope.nonEditableField" />
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.offerDate.$invalid && offersControllerScope.offersDetailUpdateForm.offerDate.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen" ng-show='offersControllerScope.edititem'>
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="offersControllerScope.openOfferingDateCalender($event)">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Candidate Name <span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="candidateName" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.candidateName" ng-readonly="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^[a-zA-Z\ ]*$/" required/>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.candidateName.$error.pattern" class="errorMsg">Enter Correct Name.</p>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.candidateName.$invalid && offersControllerScope.offersDetailUpdateForm.candidateName.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Designation<span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="designation" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.designation" ng-readonly="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" required />
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.designation.$error.required && offersControllerScope.offersDetailUpdateForm.designation.$invalid && offersControllerScope.offersDetailUpdateForm.designation.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Contact Number<span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="contact" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.contact" ng-readonly="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^(\+)?(\d{2,2})?(\ )?[0-9]{10,10}$/" required/>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.contact.$error.pattern" class="errorMsg">Enter Correct Number. Ex XXXXXXXXXX or +XX XXXXXXXXXX</p>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.contact.$error.required && offersControllerScope.offersDetailUpdateForm.contact.$invalid && offersControllerScope.offersDetailUpdateForm.contact.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">CTC<span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <input type="text" name="ctc" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.ctc" ng-readonly="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.ctc.$error.pattern" class="errorMsg">Enter Correct Amount.</p>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.ctc.$error.required && offersControllerScope.offersDetailUpdateForm.ctc.$invalid && offersControllerScope.offersDetailUpdateForm.ctc.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mob-pos-rel">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Expected Joining Date <span class="reqStar" ng-if="!offersControllerScope.nonEditableField">*</span> <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <label ng-if="offersControllerScope.nonEditableField" readonly class="linheight2pt7">{{offersControllerScope.offersInfo.joiningDate | date:'dd MMM yyyy'}}</label>
                                                            <input type="text" name="joiningDate" ng-click="offersControllerScope.openJoiningDateCalender($event)" datepicker-popup="{{format}}" is-open="offersControllerScope.joiningDateCalender" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.joiningDate" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" ng-readonly required ng-if="!offersControllerScope.nonEditableField" />
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.joiningDate.$invalid && offersControllerScope.offersDetailUpdateForm.joiningDate.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                        <span class="input-group-btn mob-pos-abs select-button calen" ng-show='offersControllerScope.edititem'>
                                                       <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="offersControllerScope.openJoiningDateCalender($event)">
                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                       </button>
                                                   </span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-12 col-md-4 reslineheight2pt6" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'lineheight4' :  ''">Comments <span ng-if="offersControllerScope.nonEditableField">:</span></label>
                                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                            <textarea name="comment" class="backgroundNone  width100p" ng-model="offersControllerScope.offersInfo.comment" ng-readonly="offersControllerScope.nonEditableField" ng-class="offersControllerScope.edititem === offersControllerScope.edititemtrue ? 'inputClass' :  'bordernone linheight2pt7'" rows="5" maxlength="250"></textarea>
                                                            <p ng-show="offersControllerScope.offersDetailUpdateForm.comment.$invalid && offersControllerScope.offersDetailUpdateForm.comment.$touched" class="errorMsg">Feild is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog info='modalShown' show='modalShown'>
        <p>{{offersControllerScope.alertMsg}}</p>
        <button ng-click="offersControllerScope.hideAlertPopup()" class="btn activeBtn">OK</button>
    </modal-dialog>
</div>
