html{
    height: 100%;
}
body {
   font-family: 'Lato','Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-image: url(../images/login-page-bg1.png) !important;
    background-repeat: no-repeat;
    height: 100%;
    overflow: auto;
}

.login-header {
    padding: 20px;
}

.container {
    text-align: left;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
}
.simple{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.simple1{
    display: table-cell;
    vertical-align: middle;
}
.wrapper_log{
	max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px 5px;
    background: rgba(0, 0, 0, 0.75);
}

.login-title {
    color: #FFFFFF;
    margin: 10px auto 20px;
}

.login-col {
    padding: 0 30px;
}

.form-group {
    margin-bottom: 20px;
}

.input-group.col-xs-12 {
    background: #FFFFFF;
}

#email_icon.f-icon {
    background: rgba(0, 0, 0, 0) url(../images/download.png) no-repeat scroll 15px center;
}

.iconized {
    border: none;
    box-shadow: none !important;
    width: calc(100% - 40px) !important;
    float: left;
    font-size: 15px;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.form-control {
    height: 40px;
    border-radius: 0px;
}

.f-icon {
    height: 40px;
    width: 40px !important;
    float: left;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#password_icon.f-icon {
    background: rgba(0, 0, 0, 0) url(../images/down.png) no-repeat scroll 15px center;
}

.login-botttom-txt {
    color: #FFFFFF;
    float: left;
    padding-top: 10px;
    margin: 0;
    text-align: justify;
}
.btn-social{
	padding: 10px 56px !important;
    border-radius: 0px !important;
}

.btn-success {
    color: #fff;
    background-color: #b81e25 !important;
    border-color: #b81e25 !important;
}

.click{
	color: #b81e25 !important;
}

.copy_clr{
	color: #FFF;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
     outline: 0 !important; 
     outline: 0 !important; 
     outline-offset: 0 !important; 
}
   
.modal-header {
    background: #444 !important;
}
.modal-title {
    color: #fff;
}
.white {
    color: white;
}
.opacity1px {
    opacity: 1;
}
.close_btn {
    color: #FFF !important;
    background-color: #337ab7 !important;
    border-color: #adadad !important;
}
.send-invite-color {
    background: #b81e25 !important;
    color: #fff !important;
}
.margn20{
    margin: 20px 120px;
}
