/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
.panel-heading,
a.list-group-item {
  color: #333;
}
html{
  height: 100%;
}
body {
   font-family: 'Lato','Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f8f8f8;
  height: 100%;
}

:focus {
    outline: 0px !important;
}


/* .HIEGT{
  overflow: auto;
} */
#wrapper {
  width: 100%;
}

#page-wrapper {
  height: 100%;
  background-color: white;
  position: relative;
  display: table;
}

.glyphicon-plus {
  color: #FFF;
}
.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 10px 5px;
  min-height: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
  background-color: #666;
  color: #fff;
  padding: 0px !important;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid #e7e7e7;
  height:100% !important;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li a.active {
  background-color: #eeeeee;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

.navbar-right {
  float: right!important;
}

.sidebar {
  width: 250px;
  margin-top: 36px;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  margin-left: auto;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.top-menu {
  display: block;
  float: left;
  border-right: 1px solid #e7e7e7;
  border-bottom: 0px;
  border-top: 0px;
  border-radius: 0px;
  border-left: 0px;
  margin-right: 0px;
  margin: 0px;
  padding: 17px 23px;
}

.content-icon {
  font-size: 25px !important;
  color: #3695d5;
}

.sidemenu .nav > li > a:focus,
.sidemenu .nav > li > a:hover {
  text-decoration: none;
  background-color: #EEEEEE !important;
  color:#E41D00 !important;
}

.sidemenu ul.nav li a {
  background: #666 !important;
  color: #FFF !important;
}

.header-icon {
  color: #333;
}

.modal-header {
  background: #444 !important;
}

.modal-title {
  color: #fff;
}

.PADDTOP {
  padding-top: 20px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.BGDF8 {
  background: #8f8f8f;
}

.headerName {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.BORDRTE7 {
  border-right: 1px solid #e7e7e7;
  float: left;
  width: 100%;
}

.pageBody {
  padding-top: 10px !important;
  margin-top: 60px !important;
}

.user-name {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.user-company {
  font-size: 12px;
  color: #333;
}

.user-info {
  position: relative;
  top: 9px;
}

.header-right li a {
  color: #8f8f8f;
}

.welcome-text {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.BORDBOTTOM {
  border-bottom: 1px solid #cecece;
}

.top-padding {
  padding-top: 25px;
}

.pageBody {
  padding: 20px 20px !important;
}

.custom-invite-bt {
  position: absolute;
  right: 0;
  border-radius: 0px;
  top: 5px;
}

.white {
  color: white;
}

.text-left {
  text-align: left;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.border-radius-none {
  border-radius: 0px;
}

.send-invite-color {
  background: #b81e25 !important;
  color: #fff !important;
}

.close_btn{
  color: #FFF !important;
  background-color: #337ab7 !important;
  border-color: #adadad !important;
}

.opacity1px {
  opacity: 1;
}

.todo-lists .list-group a {
  border-bottom: 2px solid #ddd;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

.todo-lists .list-group {
  margin-bottom: 0px;
}

.sidebar{
  height: 100%;
  background-color: #666 !important;
  width: 100%;
  margin-top: 0px !important;
}

.hoverMenu{
  left:100%;
  top:0;
}

.submenu li a {
    background: #fff !important; 
    color: #333 !important;
}

.dropdown-menu{
  transition-delay: 1s;
}

.sidemenu ul li:hover .dropdown-menu{
  display: block;
}

.panel,.panel-heading, .btn-sm, .form-control, .nav-tabs>li>a , .bootstrap-table .table,
 .fixed-table-container, .btn{
  border-radius: 0px !important;
}

.col_pdg{
  padding: 0px !important;
}

.config_fldr{
  padding: 0px;
}

.config_fldr li{
  padding: 20px 0;
  text-align: right;
  list-style: none;
}

.config_fldr li > a{
  text-decoration: none !important;
}

.config_fldr li > a{
  border-right: 1px  solid #ccc !important;
  padding: 22px !important;
}

.config_fldr li > a:focus {
  text-decoration: none !important;
  border-top: 1px  solid #ccc !important;
  border-bottom: 1px  solid #ccc !important;
  border-left: 1px  solid #ccc !important;
  border-right: 0px  solid #fff !important;
  padding: 22px !important;
  outline: 0 !important;
  outline: 0px !important;
  outline-offset: -2px !important;
} 

.btn-primary {
  color: #fff;
  background-color: green !important;
  border-color: green !important;
}

.custom-invite-bt1 {
  position: relative !important; 
}

.add_btn {
  padding: 60px 0px 30px 30px;
}

.border-show {
  padding: 8px;
  height: 500px;
}

.side-menu{
  padding: 7px important;
}

.nav>li>a {
  position: relative !important;
  display: block !important;
}

.top-menu {
  opacity: 0px important;
}

.displayTable{
  display: table;
}

.with100{
  width:100%;
}

.navbar-fixed-top {
    position: relative !important;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.dash_board_menu   { 
  width: 250px; 
  float: left; 
  position: absolute; 
  border: none; 
  margin: 0px 0 0; 
  left: 0px; 
  -webkit-transition: all 1.5s; 
  -moz-transition: all 1.5s; 
  -o-transition: all 1.5s; 
  transition: all 1.5s; 
  height: 100%; 
  background: #666; 
} 


#contentArea  { 
  width: 100%; 
  margin: 10px; 
}

#innerContainer {
  background-color: #FFFFFF;   
  max-width:100%;
  right: 0;
  left:250px;
  float: right;
  -webkit-transition: all 1s;  
  -moz-transition: all 1s;  
  -o-transition: all 1s;  
  transition: all 1s;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu_list{
  z-index: 99999;
  width: 100%;
  position: absolute;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: transparent;
}

.show2{
  display: none;
}

.show1{
  display: block;
}

.show4{
  display: none;
}

.show3{
  display: block;
}

.show5{
  display: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
    margin-top: 5px !important;
}

.card-heading {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 34px;
    background: #F1F2F3;
  }

  .card .card-body {
    position: relative;
    padding: 16px;
}

.card {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4F5256;
    border: 1px solid rgba(0,0,0,.12);
    margin-bottom: 8px;
}
.text-muted {
    color: #000 !important; 
    padding-left: 13px;
}

.fa-ban{
  font-size: 12px;
  background-color: red;
  padding: 10px;
  color: #fff;
}
.fa-check{
  font-size: 12px;
  background-color: green;
  padding: 10px;
  color: #fff;
}
.fa-pencil{
  font-size: 12px;
  background-color: #fff;
  padding: 10px;
  border:1px solid #e8e8e8;
 
}
.marnmin5{
  margin-top: -5px;
}
.LFT{
  float: left;
}
.form-group1 {
    padding: 2px 90px;
    margin-top: 48px;
}

.form-control1 {
    display: block;
    width: 100% !important;
    height: 33px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .title{
    color: #888;
  }
  .req {
          color: red; 
        }
  .selectWidth{
        width: 100%;
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 2px;
  }
.fa-cog{
  padding-right: 20px;
}
.paddr20{
  padding-right: 8px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    text-decoration: none;
    background-color: #EEEEEE !important;
    color: #E41D00 !important;
}

@media (min-width: 893px) and (max-width: 991px) {
  .dash_resp{
    width: 100% !important;
  }
  .form-group1 {
      padding: 0px; 
      margin-top: 10px;
  }
}

@media (min-width: 691px) and (max-width: 767px) {
  .HIEGT{
   overflow: auto !important;
 } 

  .dash_board_menu { 
    position: relative; 
    display: none; 
    width: 175px;
  }

  .user-name {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }

  .user-company {
    font-size: 12px;
    color: #fff;
  }

  .header-icon {
    color: #fff;
  }

  .header-icon1 {
    color: #333;
    font-size: 24px;
  }

  .user-info {
   position: relative;
   top: 0px !important;
  }

  .navbar-top-links li {
    display: block;
    padding: 20px;
    text-align: left;
  }

  .navbar-top-links li a {
    padding: 0;
    min-height: 0;
    text-decoration: none;
  }

  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
  }

  #innerContainer { 
    width:97% !important; 
    position: absolute; 
    min-height:85% ; 
    margin: 27px 10px 50px;
    left:0px; 
    overflow: visible;
  }

  #contentArea { 
    margin: 10px auto; 
    width: 95%; 
  }

  .togglemenu {
     float: right;
     z-index: 9999;
     position: absolute;
     background: #fff;
     width: 100%; 
   }

   .togglemenu .togglemenu1 {
     display: block;
     float: right;
     text-align: right;
     width: 100%; 
   }

  .togglemenu .togglemenu1 .togglelist {
    padding: 10px;
    border-bottom: 1px solid #eee; 
  }

  .togglemenu .togglemenu1 .togglelist a {
     padding-right: 10px;
     color: #9A1C20; 
  }

  .togglemenu .togglemenu1 .togglepdg {
    padding: 10px; 
  }

  .togglemenu .togglemenu1 .togglepdg a {
    padding-right: 10px;
    color: #9A1C20; 
  }

  .show2{
    display: block;
  }

  .show1{
    display: none;
  }

  .show4{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background: #666;
  }

  .show3{
    display: none;
  }

  .show5{
    display: block;
  }

  .col-sm-4 {
    width: 100% !important;
}

  .navbar-right {
    float: left!important;
  }

  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }

  .menu_lines {
   display: block;
   position: relative;
   float: right;
   padding-top:30px;
   cursor: pointer;
  /*  width: 7%;  */
  }

  .menu_lines span {
    width: 19px;
    height: 2px;
    margin-bottom: 3px;
    background: #999;
    position: relative;
    display: block; 
  }

  .menu_lines1 {
   display: block;
   position: relative;
   float: right;
   padding-top:20px;
   cursor: pointer;
   
  }

  .header_right {
    padding-left: 7px;
    color: #fff;
    text-align: right;
  } 

  .form-group1 {
      padding: 0px; 
      margin-top: 10px;
  } 
}

@media (min-width: 320px) and (max-width: 690px) {
  .HIEGT{
    overflow: auto !important;
  } 

  .dash_board_menu { 
    position: relative; 
    display: none; 
    width: 175px;
  }

  .user-name {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }

  .user-company {
    font-size: 12px;
    color: #fff;
  }

  .header-icon {
    color: #fff;
  }

  .header-icon1 {
    color: #333;
    font-size: 24px;
  }

 .user-info {
   position: relative;
   top: 0px !important;
  }

  .navbar-top-links li {
    display: block;
    padding: 20px;
    text-align: left;
  }

  .navbar-top-links li a {
    padding: 0;
    min-height: 0;
    text-decoration: none;
  }

  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
  }

  #innerContainer { 
    width:97% !important; 
    position: absolute; 
    min-height:85% ; 
    margin: 27px 10px 50px;
    left:0px; 
    overflow: visible;
  }

  #contentArea { 
    margin: 10px auto; 
    width: 95%; 
  }

  .togglemenu {
     float: right;
     z-index: 9999;
     position: absolute;
     background: #fff;
     width: 100%; 
   }

   .togglemenu .togglemenu1 {
     display: block;
     float: right;
     text-align: right;
     width: 100%; 
   }

  .togglemenu .togglemenu1 .togglelist {
    padding: 10px;
    border-bottom: 1px solid #eee; 
  }

  .togglemenu .togglemenu1 .togglelist a {
     padding-right: 10px;
     color: #9A1C20; 
  }

  .togglemenu .togglemenu1 .togglepdg {
    padding: 10px; 
  }

  .togglemenu .togglemenu1 .togglepdg a {
    padding-right: 10px;
    color: #9A1C20; 
  }

  .show2{
    display: block;
  }

  .show1{
    display: none;
  }

  .show4{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background: #666;
  }

  .show3{
    display: none;
  }

  .show5{
    display: block;
  }

  .todo_list{
    width: 100% !important;
  }

  .navbar-right {
    float: left !important;
  }

  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }

  .menu_lines {
   display: block;
   position: relative;
   float: right;
   padding-top:30px;
   cursor: pointer;
   /* width: 7%;  */
  }

  .menu_lines span {
    width: 19px;
    height: 2px;
    margin-bottom: 3px;
    background: #999;
    position: relative;
    display: block; 
  }

  .menu_lines1 {
   display: block;
   position: relative;
   float: right;
   padding-top:20px;
   cursor: pointer;
  }

  .header_right {
    padding-left: 7px;
    color: #fff;
    text-align: left;
  }

  .form-group1 {
      padding: 0px; 
      margin-top: 10px;
  }
}

