<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saptalabs Portal</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-table.css" >
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
</head>

<body ng-app="app" class="HIEGT">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0;" 
        ng-controller= "headerController as headerControllerScope">
            <div class="navbar-header BORDRTE7">
            <div class="show1">
                <button type="button" class="navbar-toggle top-menu" onclick="showOrHideMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar BGDF8"></span>
                    <span class="icon-bar BGDF8"></span>
                    <span class="icon-bar BGDF8"></span>
                </button>
            </div>
            <div class="show2">
                <button type="button" class="navbar-toggle top-menu" id="menu_list_btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar BGDF8"></span>
                    <span class="icon-bar BGDF8"></span>
                    <span class="icon-bar BGDF8"></span>
                </button>
            </div>
                <a class="navbar-brand " href="#"><img src="/images/logo.png" alt="Saptalabs"/></a>
                <div class="show3">
                    <ul class="nav navbar-top-links navbar-right header-right">
                        <li class="dropdown">
                            <div class="user-info">
                                <div class="user-name">Saptalabs</div>
                                <div class="user-company">Saptalabs Software Solution</div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell fa-fw header-icon"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-comment fa-fw"></i> New Comment
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="menu_list_btn2" data-toggle="dropdown" href="#toggle">
                                <i class="fa fa-user-circle-o fa-fw header-icon"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user menu_list2">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw "></i> Settings</a>
                                </li>
                                <li ng-click="headerControllerScope.logout(user)" ><a href="#" ><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu_lines1 show5" id="menu_list_btn1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#toggle">
                        <i class="fa fa-user-circle-o fa-fw header-icon1"></i>
                    </a>
                </div>  
            </div>
        </nav>
                            
        <div class="show4 menu_list1">
            <ul class="nav navbar-top-links navbar-right header-right">
                <li class="dropdown">
                    <div class="user-info">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user-circle-o fa-fw header-icon"></i><span class="header_right">MyProfile</span>
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw header-icon"></i><span class="header_right">Notifications</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user-circle-o fa-fw header-icon"></i><span class="header_right">Logout</span>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw "></i> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)" ><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="dash_board_menu" class="dash_board_menu">                   
            <div  class="navbar-default sidebar" ng-controller= "menuController as vm" >

                <div class="sidebar-nav navbar-collapse sidemenu">
                    <ul class="nav" id="side-menu">

                        <li ng-repeat="menu in vm.mainMenus">
                            <a href="#/dashboard"><i class="fa fa-cog fa-fw"></i> {{menu.appDispName}}</a>
                            <ul class="dropdown-menu dropdown-alerts hoverMenu submenu" ng-if="menu.appId == 5">
                                <li ng-repeat="subMenu in vm.subMenus" class="">
                                    <a href="#/users" ng-if="subMenu.appGroup == menu.appId">{{subMenu.appDispName}}</a>
                                </li>
                            </ul>
                            <ul class="nav nav-second-level" >
                                <li ng-repeat="subMenu in vm.subMenus" class="dropdown-toggle">
                                    <a href="#/{{subMenu.appName  | lowercase}}" ng-if="subMenu.appGroup == menu.appId">{{subMenu.appDispName}}</a>
                                </li>
                            </ul>  
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu_list">                   
            <div  class="navbar-default sidebar" ng-controller= "menuController as vm" >

                <div class="sidebar-nav navbar-collapse sidemenu">
                    <ul class="nav" id="side-menu">

                        <li ng-repeat="menu in vm.mainMenus">
                            <a href="#/dashboard"><i class="fa fa-cog fa-fw"></i> {{menu.appName}}</a>
                            <ul class="dropdown-menu dropdown-alerts hoverMenu submenu" ng-if="menu.appId == 5">
                                <li ng-repeat="subMenu in vm.subMenus" class="">
                                    <a href="#/users" ng-if="subMenu.appGroup == menu.appId">{{subMenu.appName}}</a>
                                </li>
                            </ul>
                            <ul class="nav nav-second-level" >
                                <li ng-repeat="subMenu in vm.subMenus" class="dropdown-toggle">
                                    <a href="#/{{subMenu.appName  | lowercase}}" ng-if="subMenu.appGroup == menu.appId">{{subMenu.appName}}</a>
                                </li>
                            </ul>  
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="innerContainer">
            <div  id="contentArea">
                <div ng-view style="padding:0 20px;"></div>
            </div>
        </div>
    </div>






<script src="/javascripts/plugins/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>       
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
<script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
<script  type="text/javascript" src="/javascripts/plugins/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/routing.js"></script>
<script src="/javascripts/controller/menuController.js"></script>
<script src="/javascripts/controller/rolesController.js"></script>
<script src="/javascripts/controller/dashboardController.js"></script>
<script src="/javascripts/controller/companyinformationController.js"></script>
<script src="/javascripts/controller/configurationController.js"></script>
<script src="/javascripts/controller/headerController.js"></script>
<script src="/javascripts/controller/usersController.js"></script>
<script src="/javascripts/service/menuService.js"></script>
<script src="/javascripts/service/userService.js"></script>
<script src="/javascripts/service/roleService.js"></script>
<script src="/javascripts/service/apiRouterService.js"></script>
<script>
    $(document).ready(function(){
        $('[id^="menu_"]').each(function(i, item) {
            var tempid = $(this).attr("id");
            $("#"+tempid).removeClass("active");
        });

        $( 'ul.dropdown li' ).hover(
            function(){
                $(this).children('.sub_menu').show();
            },
            function(){
                $(this).children('.sub_menu').hide();
            }
            );
    });
    function showOrHideMenu() {  
        var e = document.getElementById("dash_board_menu");
        if (e.style.left == '0px' || e.style.left==''){
            e.style.left = '-35%';
            $('#innerContainer').css( 'left','0' );
            $('#innerContainer').css( 'margin-left','0' );
            $('footer').css( 'left','0' );
            $('footer').css( 'width','100%' );
        }else {
            e.style.left = '0px';
           $('#innerContainer').css( 'left','250px' );
            $('#innerContainer').css( 'margin-left','10px' );
            $('footer').css( 'left','188px' );
        }
    }
    function showOrHideMobMenu() {  
        var e = document.getElementById("dash_board_menu");
        if (e.style.display == 'none' || e.style.display==''){
            e.style.display = 'block';
        }else{
            e.style.display = 'none';
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.menu_list').hide();
    $("#menu_list_btn").click(function(){
       $('.menu_list').slideToggle();
       $('.menu_list').addClass('.show2');
       $('.menu_list1').removeClass('.show4');
       return false;
       });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.menu_list1').hide();
    $("#menu_list_btn1").click(function(){
       $('.menu_list1').slideToggle();
       $('.menu_list1').addClass('.show4');
       $('.menu_list').removeClass('.show2');
       });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
    $('.menu_list2').hide();
    $("#menu_list_btn2").click(function(){
       $('.menu_list2').slideToggle();
       });
    });
</script>
</body>
</html>
