<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Saptalabs Portal</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-table.css" >
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/login.css" >
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
    </head>

    <body ng-app="app" >
    <div class="simple" ng-controller="loginController as vm">
       <div class="simple1">
        <div id="wrapper" class="row wrapper_log" >
           <div class="col-lg-12 login-col text-center floatNone">
                <div class="borderColor text-center floatNone">
                    <h3 class="login-title">LOGIN TO HUBB</h3>
                    <form method="POST"  accept-charset="UTF-8" class=""><input name="_token" type="hidden" value="7nyv57kevXiknvVMhNnarTYQ3HtwsKmZ5ibRyCN9">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <div id="email_icon" class="f-icon form-control "></div>
                                <input id="email" name="email" type="email" ng-model="user.email" placeholder="Enter Your Email ID" class="form-control iconized" tabindex="1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="input-group col-xs-12">
                                <div id="password_icon" class="f-icon form-control "></div>
                                <input id="password" name="password" type="password" ng-model="user.password" placeholder="Enter Your Password" class="form-control iconized" tabindex="2" autocomplete="off">
                            </div>
                            <p class="login-botttom-txt">Forgot Password, <a href="" class="click" data-toggle="modal" data-target="#myModal2" >Click Here!</a></p>
                        </div>
                        <div class="form-group clearfix margn20">
                            <button type="button" ng-click="vm.login(user)" class="btn btn-success btn-social btn-md btn-block">LOGIN</button>
                        </div>
                        <p class="copy_clr"><span >Copyrights</span> &nbsp; &copy; &nbsp; <script type"javascript">document.write(new Date().getFullYear());</script>&nbsp; All Rights Reserved.</p>
                    </fieldset>
                </form>
            </div>
        </div>            
    </div>
    </div>
   

    <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" ng-if =!vm.modalShow >
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            <form name="myform" class="form-horizontal">
                  <div class="form-group">
                      <label  class="col-sm-12 text-left"  for="inputEmail3">Email</label>
                      <div class="col-sm-6">
                          <input type="email" name="email" class="form-control" id="inputEmail3" ng-model="vm.invite.email" placeholder="Email user email" required />
                          <span ng-show="myform.email. $invalid && myform.email.$touched">The email is required.</span>
                      </div>
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default border-radius-none close_btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default border-radius-none send-invite-color" data-dismiss="modal"   data-toggle="modal" data-target="#myModal1" ng-click ="vm.forgot(email)">
            <b  class="white" data-dismiss="modal">Submit</b></button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" ng-if =vm.errorShow >
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            Please enter valid details
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning border-radius-none" data-toggle="modal" data-target="#myModal" data-dismiss="modal">ok</button>
        </div>
      </div>


      <div class="modal-content" ng-if =vm.sucessShow>
        <div class="modal-header">
          <button type="button" class="close white opacity1px" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            The email sent 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success border-radius-none" data-dismiss="modal"   >ok</button>
        </div>
        </div>
    </div>
</div>
</div>

    <!-- /#wrapper -->
    <script src="/javascripts/plugins/jquery.min.js"></script>
    <script src="/javascripts/plugins/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script  type="text/javascript" src="/javascripts/plugins/angular-cookies.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/routing.js"></script>
    <script src="/javascripts/controller/loginController.js"></script>
    <script src="/javascripts/service/loginService.js"></script>
    <script src="/javascripts/service/apiRouterService.js"></script>
    </body>
</html>
