<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Saptalabs Portal</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-table.css" >
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/login.css" >
    </head>
    <body ng-app="app" >
        <div class="simple">
            <div class="simple1">
                <div id="wrapper" class="row wrapper_log" ng-controller="userActiveController as vm" >
                   <div class="col-lg-12 login-col text-center floatNone">
                        <div class="borderColor text-center floatNone">
                            <h3 class="login-title">LOGIN TO ACTIVATION</h3>
                            <form method="POST"  accept-charset="UTF-8" class=""><input name="_token" type="hidden" value="7nyv57kevXiknvVMhNnarTYQ3HtwsKmZ5ibRyCN9">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group col-xs-12">
                                        <div id="password_icon" class="f-icon form-control "></div>
                                            <input id="text" type="text" ng-model="user.newPassword" class="form-control iconized" tabindex="2" autocomplete="off" name="password" placeholder="password">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="input-group col-xs-12">
                                        <div id="password_icon" class="f-icon form-control "></div>
                                            <input id="password" type="password" ng-model="user.confirm"  class="form-control iconized" tabindex="2" autocomplete="off" name="password" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                   <div class="form-group clearfix margn20">
                                        <button type="button" ng-click="vm.addUser(user, '<%= inviteId %>')"class="btn btn-success btn-social btn-md btn-block">Submit</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- /#wrapper -->
        <script src="/javascripts/plugins/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
        <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
        <script  type="text/javascript" src="/javascripts/plugins/angular-cookies.js"></script>
        <script src="/javascripts/app.js"></script>
        <script src="/javascripts/routing.js"></script>
        <script src="/javascripts/controller/userActiveController.js"></script>
         <script src="/javascripts/service/loginService.js"></script>
        <script src="/javascripts/service/apiRouterService.js"></script>
    </body>

</html>
